html { height: 100%; width: 100%; }
body { margin: 0px; padding: 0px; height: 100%; width: 100%; overflow: hidden; }
#menu {
    height: 10%;
    background: url(tile.jpg);
    font-family: arial helvetica san-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #555;
}
#game {
    height: 90%;
    margin: 0px;
    padding: 0px;
    background: url(tile2.jpg);
}
canvas {
    margin: 0px;
    padding: 0px;
}
.left { float: left; }
.right { float: right; }
