#casino {
    position: absolute;
	width:640px;
	height: 480px;
	/*background:url("img/Floor.png");*/
	background-color: #ffa554;
	background-size: 32px 32px;
	background-position: 0 0, 16px 16px;
	background-image: -webkit-linear-gradient(45deg, #ffecb3 25%, transparent 25%, transparent 75%, #ffecb3 75%, #ffecb3),
					  -webkit-linear-gradient(45deg, #ffecb3 25%, transparent 25%, transparent 75%, #ffecb3 75%, #ffecb3);
	background-image: -moz-linear-gradient(45deg, #ffecb3 25%, transparent 25%, transparent 75%, #ffecb3 75%, #ffecb3),
					  -moz-linear-gradient(45deg, #ffecb3 25%, transparent 25%, transparent 75%, #ffecb3 75%, #ffecb3);
	background-image: linear-gradient(45deg, #ffecb3 25%, transparent 25%, transparent 75%, #ffecb3 75%, #ffecb3),
					  linear-gradient(45deg, #ffecb3 25%, transparent 25%, transparent 75%, #ffecb3 75%, #ffecb3);
	-pie-background: linear-gradient(45deg, #ffecb3 25%, transparent 25%, transparent 75%, #ffecb3 75%, #ffecb3) 0 0 / 32px,
					 linear-gradient(45deg, #ffecb3 25%, transparent 25%, transparent 75%, #ffecb3 75%, #ffecb3) 15px 16px / 32px,
					 #ffa554;
	behavior: url(/pie/PIE.htc);
}

#container {
    height: 745px;
    width: 655px;
    background-color: #A66F00;
}
#menu {
		width: 630px;
		height: 120px;
		position:absolute;
        padding: 5px;
		top: 620px;
        left: 15px;
        background-color: #FFCD73
}

#info {
		width: 630px;
		height: 100px;
		position: absolute;
        padding: 5px;
		left: 15px;
		top: 15px;
        background-color:#FFBB40;
}

#infoBox {
		height: 200px;
		width: 0px;
		overflow: hidden;
		opacity: 0;
		background-color:#FFAA00;
		transition-duration: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-webkit-transition: 1s;
		position:absolute;
		z-index: 99999;
		left: 525px;
		top: 100px;
        border-radius: 10px;
}

#infoInner {
    height: 180px;
    margin: 10px;
    background-color: #FFD073;
}

.person {
	width: 16px;
	height: 16px;
	position:absolute;
	background:url(img/Person.png);
}

.highRoller {
	width: 16px;
	height: 16px;
	position:absolute;
	background:url(img/PersonHighRoller.png);
}

.door {
		width: 32px;
		height: 32px;
		left:320px;
		top: 450px;
        z-index: 9999;
		position:absolute;
		background:url(img/door.png) ;
}

.casinoGame {
	width: 16px;
	height: 16px;
	background-color:blue;
	position:absolute;
}

.slots {
		width: 16px;
		height: 16px;
		position:absolute;
		background:url(img/SlotMachine.png);
}

.roulette {
		width: 32px;
		height: 32px;
		position:absolute;
		background:url(img/roulettewheel.png) ;
}
.blackjack {
		width: 32px;
		height: 32px;
		position:absolute;
		background:url(img/blackjack.png);
}
.craps {
		width: 32px;
		height: 32px;
		position:absolute;
		background:url(img/craps.png);
}

.doodad {
	width: 16px;
	height: 16px;
	position:absolute;
	background:url(img/doodads.png);
	background-position: 0px 0px;
}

.selected {
	background-color:green;
}

.cursor{
	width: 16px;
	height: 16px;
	background-color:green;
	opacity:.6;
	position:absolute;
}

.button {
    background-color: #1240AB;
    color:white;
    margin: 3px;
    padding: 2px;
    display: inline-block;
    border-radius: 6px;
    transition: background-color .4s;
    
}
.button:hover {
    background-color:#4671D5; 
}

.button:active{
    background-color: #06266f;
    transition: background-color 0.1s;
}

.buttonSelected {
    background-color:#4671D5;
    border-style: dashed;
    border-color: white;
    margin: 3px;
    padding: 2px;
    display: inline-block;
    border-radius: 6px;
}