body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./background.jpeg');
    background-position: 10%;
    flex-direction: column;
}

.container {
    text-align: center;
    backdrop-filter: blur(10px) brightness(72%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 465px;
    height: 43%;
}

.pattern {
    font-size: 2em;
    margin-bottom: 20px;
}

#input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    outline: none;
}

#input:hover{
    border: 2px solid navy;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}

#msg {
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 1.1em;
    color: rgb(122, 14, 14);
}
#restart{
    display: none;
    margin-left: 35%;
}
#score{
    font-size: 1.3em;
}