*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  background-size: cover;
}
h1{
  padding-top: 75px;
  text-shadow: #555;
}
h3{
  margin: 5px;
}
.container{
 margin: auto;
width: 60%;
border: 3px solid #73AD21;
padding: 50px;
margin-top: 100px;
background-color: rgb(244, 139, 156);
}
input[type=text] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 1px solid #555;
outline: none;
}

input[type=text]:focus {
background-color: white;
}
.divbtn {
border-radius: 4px;
background-color: rgb(13, 94, 13);
border: none;
color: #FFFFFF;
text-align: center;

font-size: 28px;
padding: 20px;
width: 250px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}
.alert{
color: black;
}