@media only screen and (min-width: 600px) {
input[type=button]{ 
	background-color: #c7f3e9;
	border: 2px solid rgb(1, 100, 1);
	color: rgb(46, 1, 1);
	padding: 16px 32px;
	text-decoration: none;
	display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
	cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
input:hover{
    color: rgb(247, 250, 250);
    background-color: rgb(1, 56, 56);
    transition: color 0.5s;
}
input:active{
    color: rgb(247, 250, 250);
    background-color: rgb(1, 56, 56);
    box-shadow: 3px 4px 5px black;
}

body{
    background-color: white;
}
p, h1, h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 112, 76);
    text-align: center;
    font-weight: bold;
}
select{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgb(0, 78, 0);
}
}

@media only screen and (max-width: 600px) {
    input[type=button]{ 
        background-color: #c7f3e9;
        border: 2px solid rgb(1, 100, 1);
        color: rgb(46, 1, 1);
        padding: 16px 32px;
        text-decoration: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100px;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
    }
    input:hover{
        color: rgb(247, 250, 250);
        background-color: rgb(1, 56, 56);
        transition: color 0.5s;
    }
    input:active{
        color: rgb(247, 250, 250);
        background-color: rgb(1, 56, 56);
        box-shadow: 3px 4px 5px black;
    }
    
    body{
        background-color: white;
    }
    p, h1, h2, h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(2, 112, 76);
        text-align: center;
        font-weight: bold;
    }
    select{
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 2px solid rgb(0, 78, 0);
    }
}

