*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, rgb(46, 118, 172), rgb(15, 66, 87));
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  margin: auto;
  margin-top: 50px;
  margin-bottom: -50px;
  font-family: 'Avenir Next'
}

.cpu-box {
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    margin-bottom: 100px;
}

/* .cpu-hand {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
} */

.play-area {
    display: flex;
    justify-content: space-evenly;
}

/* .play-pile img {
    transition: all 1s ease-in-out;
} */

.score {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    color: rgb(6, 37,62);
    font-size: x-large;
}

#seperator {
    margin: 10px 0;
    border: 2px solid rgb(8, 81, 140);
}

.player-box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* .player-hand {
    display: flex;
    justify-content: center;
    margin-top: 100px;
} */

img {
    width: 100px;
    margin-left: -28px;
    border-radius: 10px;
    box-shadow:  -7px -7px 14px #00405c;
}

.player-hand img:hover {
    transform: scale(1.05) translateY(-8px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

.player-hand img {
    transition: all 0.1s ease-in-out; */
}

.draw-pile img:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.draw-pile img {
    transition: all 0.1s ease-in-out;
}

#draw-card {
    position: absolute;
    right: 19vw;
    z-index: 2;
}

.player-draw {
    transform: translateY(260px) translateX(-100px);
    transition: all 0.2s ease-in-out;
}

.cpu-draw {
    transform: translateY(-260px) translateX(-100px);
    transition: all 0.2s ease-in-out;
}

.player-animation {
    position: absolute;
    z-index: 2;
    left: 75vw;
    top: 600px;
}

.cpu-animation {
    position: absolute;
    z-index: 2;
    left: 75vw;
    top: 100px;
}

.play-card {
    transform: translateY(-260px);
    transition: 0.3s ease;
}

.cpu-play-card {
    transform: translateY(260px);
    transition: all 0.1s ease-in;
}

.hidden {
    display: none;
}

.shout img {
    transform: scale(3.5);
    transition: all 0.1s ease-in-out;
    border-radius: 0px;
    box-shadow: none;
}

.player-animation img {
    border-radius: 0px;
    box-shadow: none;
    transition: all 1s ease-in-out;
}

.cpu-animation img {
    border-radius: 0px;
    box-shadow: none;
    transition: all 1s ease-in-out;
}

.end-of-round {
    position: absolute;
    z-index: 2;
    top: 40vh;
    left: 35vw;
    width: 30vw;
    margin: auto;
    font-size: xx-large;
    padding: 100px;
    padding-top: 50px;
    border: 5px solid #00eaff;
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    opacity: 0.9;
}

.end-of-game {
    position: absolute;
    z-index: 2;
    top: 37vh;
    left: 30vw;
    width: 40vw;
    margin: auto;
    font-size: xx-large;
    padding: 100px;
    padding-top: 50px;
    border: 5px solid #00eaff;
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    opacity: 0.9;
}

.end-of-round p {
    color: #00eaff;
    text-align: center;
}

.end-of-game p {
    color: #00eaff;
    text-align: center;
}

.end-of-game button {
    background-color: greenyellow;
    color: black;
    margin-left: 14vw;
    margin-top: 10px;
    
}

.color-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60vw;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    opacity: 0;
}

.color-picker p {
    color: rgb(134, 174, 204);
    font-size: large;
}

button {
    height: 3vh;
    width: 10vw;
    color: white;
    border-radius: 10px;
    transition: all 0.1s ease-in-out
}

button:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
    color: black;
}

.player-uno img {
    border-radius: 0px;
    box-shadow: none;
}

.cpu-uno img {
    border-radius: 0px;
    box-shadow: none;
}

.empty {
    width: 100px;
    margin-left: -28px;
    border-radius: 10px;
    box-shadow:  none;
}

@media (max-width: 812px) {
    body {
        margin-top: -50px;
        margin-bottom: 0px;
        font-family: 'Avenir Next';
    }

    .cpu-box {
        margin-bottom: 10px;
    }

    .play-area {

    }

    .play-pile img {
        width: 100px;
    }

    .draw-pile img {
        width: 70px;
        margin-top: 20px;
    }

    .score {
        font-size: large;
    }

    .player-box {
        margin-top: 10px;
    }
    
    img {
        width: 60px;
        margin-left: 0px;
    }

    .play-card {
        transform: translateY(-130px);
    }

    .cpu-play-card {
        transform: translateY(130px);
    }

    .shout img {
        transform: scale(2);
    }

    .player-draw {
        transform: translateY(170px) translateX(-100px);
    }

    .cpu-draw {
        transform: translateY(-170px) translateX(-100px);
    }

    .color-picker {
        margin-top: 0px;
    }

    .color-picker p {
        font-size: medium;
    }

    .color-picker button {
        height: 20px;
    }
    
}