.page {
    background-color: #2C3531;
    height: 100vh;
  }
  
  .begin button {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }
  
  .score {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
  
  }
  
  .score {
    margin-bottom: 5vh;
  }
  
  .userscore {
    margin-left: 10vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #FCF6F5;
  }
  
  .compscore {
    margin-left: 60vw;
    margin-right: 5vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #FCF6F5;
  }
  
  .gesture {
    padding-top: 7vh;
    display: flex;
  }
  
  .userGesture,
  .compGesture {
    flex: 1;
  }
  
  .rotation {
    transform: rotateY(180deg);
  }
  
  
  .begin {
    margin-left: 40vw;
    margin-top: 20vh;
  }
  
  .playground {
    margin-left: 28vw;
    margin-right: 20vw;
    margin-top: -25vh;
    margin-bottom: 15vh;
    background-color: #2C3531;
  }
  
  .begin h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #FCF6F5;
  }
  
  .status {
    padding-left: 15vw;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: #FCF6F5;
  }
  
  .options button {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-right: 2vw;
  }
  
  .options {
    margin-left: 15vw;
    margin-top: 5vh;
  }
  
  .head {
    margin-left: 33vw;
    padding-top: 2vh;
    color: #FCF6F5;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }
  
  .appear {
    opacity: 1;
    pointer-events: all;
  }
  
  .disappear {
    opacity: 0;
    pointer-events: none;
  }
  
  .quit {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  
    margin-top: 4vh;
    margin-left: 22vw;
    margin-bottom: 1vh;
  }