/*
Copyright 2014, Daniel Beck and Karin Beck

This file is part of Green Mahjong.

Green Mahjong is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Green Mahjong is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Green Mahjong.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
Größe: 
===
Aussen: 100x80
Innen: 95x75

Klein: 
=====
Aussen:60x48
Innen:57x45*/

body {
  font-size: 16px;
}

/*#game {
  width: 1600px;
  height: 1100px;
}*/

div.game-buttons  ul li{
  width:70px;
  padding: 0 0 0 16px;
}

div.game-buttons ul li img{
  width: 48px;
  height:48px;
}
#cards {
  width: 1600px;
  height: 1100px;
}

#cards[data-layout=flower] {
  width: 1180px;
  height: 1050px;
  /*height: 400px;*/
}

#cards[data-layout=spider] {
  width: 1550px;
  height: 1000px;
  /*height: 400px;*/
}

#cards[data-layout=cloud] {
  width: 1360px;
  height: 810px;
}

#cards[data-layout=fourHills] {
  height: 1200px;
  width: 1340px;
}


.card {
  border-radius: 14px;
  height: 142px;
  width: 113px;
  background: transparent url('../images/mahjong_verybigscreen_fruits.png');
}


.shadow {
  height: 153px;
  width: 125px;
  background: transparent url('../images/shadow_verybigscreen.png');
}


#gameScene{
  /*position: absolute;*/
  left:102px;
  top:35px;
  /*left:62px;*/
}

.cardZahl1 {background-position: 0 0}
.cardZahl2 {background-position: -114px 0; }
.cardZahl3 {background-position: -228px 0;}
.cardZahl4 {background-position: -342px 0;}
.cardZahl5 {background-position: -456px 0;}
.cardZahl6 {background-position: -570px 0;}
.cardZahl7 {background-position: -684px 0;}
.cardZahl8 {background-position: -798px 0;}
.cardZahl9 {background-position: -912px 0;}

.cardBambus1 {background-position: -0 -142px;}
.cardBambus2 {background-position: -114px -142px;}
.cardBambus3 {background-position: -228px -142px;}
.cardBambus4 {background-position: -342px  -142px;}
.cardBambus5 {background-position: -456px -142px;}
.cardBambus6 {background-position: -570px -142px;}
.cardBambus7 {background-position: -684px -142px;}
.cardBambus8 {background-position: -798px -142px;}
.cardBambus9 {background-position: -912px -142px;}

.cardMuenze1 {background-position: -0 -284px;}
.cardMuenze2 {background-position: -114px -284px;}
.cardMuenze3 {background-position: -228px -284px;}
.cardMuenze4 {background-position: -342px -284px;}
.cardMuenze5 {background-position: -456px -284px;}
.cardMuenze6 {background-position: -570px -284px;}
.cardMuenze7 {background-position: -684px -284px;}
.cardMuenze8 {background-position: -798px -284px;}
.cardMuenze9 {background-position: -912px -284px;}

.cardNordwind {background-position: -1026px 0;}
.cardSuedwind {background-position: -1140px  0;}
.cardOstwind {background-position: -1254px 0;}
.cardWestwind {background-position: -1368px 0;}

.cardFruehling {background-position: -1026px -142px;}
.cardSommer {background-position: -1140px -142px;}
.cardHerbst {background-position: -1254px -142px;}
.cardWinter {background-position: -1368px -142px;}

.cardBambus {background-position: -1026px -284px;}
.cardPflaume {background-position: -1140px -284px;}
.cardOrchidee {background-position: -1254px -284px;}
.cardChrysantheme {background-position: -1368px -284px;}

.cardDracheGruen {background-position: -1482px 0;}
.cardDracheRot {background-position: -1482px -142px;}
.cardDracheWeiss {background-position: -1482px -284px;}

.image {
  /*border-radius: 15px;*/
  height: 47px;
  width: 50px;
  border: none;
  /*background: transparent url('../images/mahjong_bigscreen.png');*/
  background-color: transparent;
  background-image:  url('../images/application_icons.png');
}


.menu {background-position: 0 0}
.undo {background-position: -150px 0}
.new {background-position: -200px 0}
.hint {background-position: -250px 0}
.theme {background-position: -300px 0}