/*
Copyright 2014, Daniel Beck and Karin Beck

This file is part of Green Mahjong.

Green Mahjong is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Green Mahjong is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Green Mahjong.  If not, see <http://www.gnu.org/licenses/>.
*/
    
/*
Groß: 
===
Aussen: 100x80
Innen: 95x75

Klein: 
=====
Aussen:60x48
Innen:57x45*/

/*#game {
  width: 530px;
  height: 380px;
}*/
#cards {
  width: 530px;
  height: 380px;
}

#cards[data-layout=flower] {
  width: 415px;
  height: 370px;
}

#cards[data-layout=spider] {
  width: 530px;
  height: 380px;
}

#cards[data-layout=cloud] {
  width: 520px;
  height: 300px;
}


#cards[data-layout=fourHills] {
  height: 420px;
  width: 470px;
}

.card {
    border-radius: 7px;
    height: 48px;
    width: 38px;
    background: transparent url('../images/mahjong_verysmallscreen_fruits.png');
}


.shadow {
    height: 54px;
    width: 44px;
    background: transparent url('../images/shadow_verysmallscreen.png');
}


#gameScene{
  position: absolute;
  /*left:102px;*/
  left:60px;
  top:32px;
}

/*#game {
  position: relative;
}*/

.cardZahl1 {background-position: 0 0}
.cardZahl2 {background-position: -40px 0; }
.cardZahl3 {background-position: -80px 0;}
.cardZahl4 {background-position: -120px 0;}
.cardZahl5 {background-position: -160px 0;}
.cardZahl6 {background-position: -200px 0;}
.cardZahl7 {background-position: -240px 0;}
.cardZahl8 {background-position: -280px 0;}
.cardZahl9 {background-position: -320px 0;}

.cardBambus1 {background-position: -0 -50px;}
.cardBambus2 {background-position: -40px -50px;}
.cardBambus3 {background-position: -80px -50px;}
.cardBambus4 {background-position: -120px  -50px;}
.cardBambus5 {background-position: -160px -50px;}
.cardBambus6 {background-position: -200px -50px;}
.cardBambus7 {background-position: -240px -50px;}
.cardBambus8 {background-position: -280px -50px;}
.cardBambus9 {background-position: -320px -50px;}

.cardMuenze1 {background-position: -0 -100px;}
.cardMuenze2 {background-position: -40px -100px;}
.cardMuenze3 {background-position: -80px -100px;}
.cardMuenze4 {background-position: -120px -100px;}
.cardMuenze5 {background-position: -160px -100px;}
.cardMuenze6 {background-position: -200px -100px;}
.cardMuenze7 {background-position: -240px -100px;}
.cardMuenze8 {background-position: -280px -100px;}
.cardMuenze9 {background-position: -320px -100px;}

.cardNordwind {background-position: -360px 0;}
.cardSuedwind {background-position: -400px  0;}
.cardOstwind {background-position: -440px 0;}
.cardWestwind {background-position: -480px 0;}

.cardFruehling {background-position: -360px -50px;}
.cardSommer {background-position: -400px -50px;}
.cardHerbst {background-position: -440px -50px;}
.cardWinter {background-position: -480px -50px;}

.cardBambus {background-position: -360px -100px;}
.cardPflaume {background-position: -400px -100px;}
.cardOrchidee {background-position: -440px -100px;}
.cardChrysantheme {background-position: -480px -100px;}

.cardDracheGruen {background-position: -520px 0;}
.cardDracheRot {background-position: -520px -50px;}
.cardDracheWeiss {background-position: -520px -100px;}


.image {
  /*border-radius: 15px;*/
  height: 38px;
  width: 40px;
  border: none;
  /*background: transparent url('../images/mahjong_bigscreen.png');*/
  background-color: transparent;
  background-image:  url('../images/application_icons_small.png');
}


.menu {background-position: 0 0}
.undo {background-position: -120px 0}
.new {background-position: -160px 0}
.hint {background-position: -200px 0}
.theme {background-position: -240px 0}