body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

canvas {
  background-color: #000;
  border: 2px solid #fff;
}
