header {
    margin: auto;
    font-size: 28px;
    text-align: center;
    height: 40px;
    width: 99%;
    position: fixed;
    top: 0px;
    color:white;
    background-color:rgb(79, 115, 116);
}

main {
    border: 1px rgb(79, 115, 116);
    margin: auto;
    top: 50px;
    text-align: center;
    position: relative;
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
}

button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    box-shadow: 0px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(79, 115, 116);
    font-size: 22px;
    color: white;    
}

button:hover {
    background-color: rgb(14, 69, 70);   
    box-shadow:5px; 
}

.row {
    width: 60%;
    margin: auto;    
    flex-flow: wrap;
}

.container {
    margin: auto;  
    position: relative;
    display: flex;    
    flex-flow: wrap;
    width: 675px;
    height: 200px;
}

.right-panel {
    top: 0;
    float: right;
    border: 1px dotted rgb(79, 115, 116); 
}

.card {
    margin: 5px;
    border: 1px rgb(79, 115, 116) solid;
    width : 100px;
    height: 90px;
    display: grid;
    font-size: 30px;
}

.card-content {
    margin: auto;
    padding: 8px;
} 

.footer {
    width: 100%;  
}

.matched {
    border-radius: 5px;
    color: rgb(14, 34, 218);
}

.result {
    margin: 10px auto;
    height: 40px;
    width: 50%;
    font-size: 28px;
}

@media screen and (max-width: 1200px) {
    main {
        top: 30px;
    }

    .container {
        width: 220px;
    }

    .right-panel .li{
        height: 10px;
    }

    .card {
        border: 1px rgb(79, 115, 116) solid;
        width : 60px;
        height: 50px;
        font-size: 25px;
    }

    .result {
        width: 80%;
        font-size: 14px;
    } 
}

footer {
    margin: auto;
    bottom: 0px;
    text-align: center;
    height: 20px;
    width: 99%;
    position: fixed;
    color:white;
    background-color:rgb(79, 115, 116);
}