* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(#9d7cff, #8254fd);
  }
  .wrapper {
    width: 90%;
    max-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    padding: 5em 3em;
    border-radius: 0.8em;
  }
  .num-of-tries-left {
    text-align: right;
    margin-bottom: 2em;
  }
  .num-of-tries-left span {
    font-weight: 600;
  }
  .container {
    font-size: 1.87em;
    display: flex;
    justify-content: space-around;
  }
  #letter-container {
    margin: 2em 0 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .letters {
    width: 2em;
    height: 2em;
    background-color: #ffffff;
    border: 2px solid #8254fd;
    border-radius: 0.3em;
    color: #8254fd;
    cursor: pointer;
  }
  #userInputSection {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }
  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#9d7cff, #8254fd);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }
  #start {
    background-color: #ffffff;
    font-size: 1.4em;
    padding: 0.8em 2em;
    border-radius: 0.3em;
    box-shadow: 0 10px #000000;
    cursor: pointer;
    transition: 0.1s;
  }
  #start:active {
    box-shadow: 0 0 #000000;
    transform: translateY(7px);
  }
  .hide {
    display: none;
  }
  .used {
    background-color: #f5f5f5;
    border-color: #9e9ea6;
    color: #9e9ea6;
  }