body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #DDE6ED;
}

h1{
    color: #374259;
    font-family: 'Press Start 2P', cursive;
}

#board {
    background-color: #9DB2BF;
    border-bottom: 1px solid black;
    height: 400px;
    width: 1000px;
}

.collision-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .collision-popup h2 {
    margin-top: 0;
  }
  
  .collision-popup p {
    margin-bottom: 0;
  }
  
  .collision-popup.show {
    display: block;
  }
  