body {
    font-family: 'Press Start 2P', Courier, monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

    background-color:#efede9;
    overflow: hidden;
}

h1{
    color: #374259;
    margin-top: -2rem;
    font-family: 'Press Start 2P', cursive;
}

#board {
    background-color:#efede9;
    border-bottom: 3px solid #374259;
    border-top: 3px solid #374259;
    height: 400px;
    width: 1000px;
}