body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  #level-title {
    font-size: 2rem;
    margin: 5%;
  }

  .container {
    width: 80%;
  }

  .btn {
    height: 150px;
    width: 150px;
    margin: 15px;
  }
}

@media (max-width: 480px) {
  #level-title {
    font-size: 1.5rem;
    margin: 5%;
  }

  .container {
    width: 100%;
  }

  .btn {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
}
