body {
  background-color: #464239;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}


h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #baeaa2;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 4rem;
  color: #4ECCA3;
  /* font-family: 'Indie Flower', cursive; */
}

img {
  width: 80%;
}

