@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.MainDiv {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #3498db;
}
.centrediv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
  color: black;
  text-shadow: 1px 2px 3px #2980b9;
  font-size: 2.1rem;
}
textarea {
  background-color: #444;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  border: 10px solid #34495e;
  color: white;
}
.mainbtn {
  padding: 10px 20px;
  border: 5px solid grey;
}
