body {
    width: auto;
    height: fit-content;
    margin: 100px auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Dosis', cursive; 
}

img {
  width : 300px;
  border : 2px solid black;
}

.mini {
  width : 100px;
  border : 1px solid black;
}
#questionNumber {
    font-family: inherit;
    margin : 10px;
    text-align: center;
}

#question {
    font-family: inherit;
    margin : 10px;
    text-align: center;
}

#previousAnswer {
  width: auto;
  height: fit-content;
  margin: 100px auto;
  text-align: center;
  font-size: 20px;
  font-family: inherit; 
}

button {
  background-color: #e7e7e7; 
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.correct {
  border : 2px solid green;
  border-radius : 30%;
}

.wrong {
  border : 2px solid red;
  border-radius : 30%;
}


