body{
    background-image: url('https://wallpapers.com/images/hd/plain-green-background-vjb4wrgir58bpssc.jpg');
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#instructions {
    margin-bottom: 20px;
}

#out {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

canvas {
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
