body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 50px auto;
    max-width: 600px;
}

h1 {
    color: #333;
}

.game {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.btn svg{
    pointer-events: none;
}

.result {
    font-size: 24px;
    font-weight: bold;
}

#reset {
    display: none;
}
