body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

#game {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#flag-display {
  text-align: center;
  margin-bottom: 20px;
}

#flag {
  max-width: 100%;
  height: auto;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#flag:hover {
  transform: scale(1.1);
}

#player-input {
  text-align: center;
  margin-bottom: 20px;
}

#guess-input {
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#submit-btn,
#next-btn {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#submit-btn:hover,
#next-btn:hover {
  background-color: #45a049;
}

#result {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  #guess-input {
    width: 100%;
  }
}
