@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    padding-top: 30px;
    font-family: 'Neucha', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, cursive;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

/* CSS of Loading Page */
#loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.animated-text {
    padding: 1rem;
    opacity: 0;
    font-size: 6rem;
    font-family: 'Rubik Puddles', cursive;
    animation: pop 2.1s ease-in-out infinite;
}

@keyframes pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#content {
    display: none;
}

.typing-effect {
    margin: 2rem 0 8rem 0;
    font-size: 4rem;
    overflow: hidden;
    white-space: nowrap;
}

.text {
    font-size: 2rem;
}

/* CSS of Main Page */
#main-page {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#main-page input {
    margin: 0 5px;
    padding: 11px;
    border-radius: 10px;
}

#main-page button {
    padding: 12px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
}

#main-page p {
    margin: 12px;
    color: red;
    font-size: 3rem;
}

#main-page h2 {
    margin-top: 22%;
    font-size: 1.2rem;
}

/* CSS of Game Page */
h1 {
    display: grid;
    justify-content: center;
    font-size: 4rem;
}

body:focus {
    outline: none;
}

.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.card {
    display: grid;
    justify-content: center;
}

#tblBingo {
    border-collapse: collapse;
    height: 25rem;
    width: 25rem;
    text-align: center;
    font-size: 22pt;
    cursor: pointer;
}

#tblBingo td {
    padding: 0.3rem;
}

.cell-format {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border: 0.5px solid #cccece;
}

.cell-format:hover {
    background-color: #cccece;
}

.player {
    font-size: 1.8rem;
    display: grid;
    justify-content: center;
    margin: 0;
}

.nextPlayer {
    font-size: 2rem;
    color: red;
}

.letter-div {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letters-bingo {
    padding: 0 1.3rem;
    font-size: 40pt;
    display: none;
}

.strikeout {
    font-size: 18pt;
    pointer-events: none;
    background-image: url('./assets/images/cut.svg');
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.show-bingo {
    display: inline;
}

#game-page h2 {
    display: grid;
    justify-content: center;
    font-size: 1rem;
}

/* CSS of audio controllers */
#audioControls {
    position: fixed;
    top: 10px;
    right: 10px;
}

.audioButtonGroup {
    display: flex;
}

.audioButton {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

#audioControls #muteButton {
    background-color: #e74c3c;
    color: white;
}

#audioControls #unmuteButton {
    background-color: #27ae60;
    color: white;
}

.audioSliderContainer {
    margin-top: 10px;
}

.audioSlider {
    width: 200px;
    height: 6px;
    --webkit-appearance: none;
    background-color: #ddd;
    border-radius: 6px;
}

.audioSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.audioSlider::-webkit-slider-thumb:hover {
    background-color: #2980b9;
}

.audioSlider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.audioSlider::-moz-range-thumb:hover {
    background-color: #2980b9;
}

@keyframes confetti {
    0% {
        transform: translateY(0) rotate(0);
    }

    100% {
        transform: translateY(-100vh) rotate(360deg);
    }
}

/* CSS of congrats page */
#congratsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    animation: confetti 6s linear forwards;
}

#congratsPage h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}

#congratsPage p {
    font-size: 24px;
    color: #555;
}

/* Making responsive */
@media (max-width: 950px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loader {
        flex-direction: column;
        text-align: center;
    }

    #loading-page {
        height: 50%;
    }

    .animated-text {
        font-size: 4rem;
    }

    .animated-text:nth-child(6) {
        display: block;
    }

    #heading {
        font-size: 3rem;
    }

    h1 {
        z-index: 1;
    }
}

@media (max-width: 532px) {
    #heading {
        font-size: 2rem;
    }
}