/* *{
  padding: 0%;
  margin: 0%;
} */
#shape {
    width:200px;
    height: 200px;
    background-color: rebeccapurple;
    display: none;
    position: relative;
    
  }
  #bold{
    font-weight: bold;
    animation: shakeX;
    font-size: 30px;
  }
  body{
    background-image:url(./images/reaction.jpg)
    
  }
  h1{
    text-align: center;
    
    
  }
  #p1{
    text-align: center;
    font-style: italic;
  }
  #jumbotron {
    background-color: #e74c3c;
    animation: bg-color 10s infinite;
  }
  @keyframes bg-color {
    0% { background-color: #e74c3c; }
    20% { background-color: #f1c40f; }
    40% { background-color: #1abc9c; }
    60% { background-color: #3498db; }
    80% { background-color: #9b59b6; }
    100% { background-color: #e74c3c; }
  }