* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: math;
    background: #5f4a8b;
}

body {
    background-color: #009DE0;
}

.wrapper {
    color: antiquewhite;
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background: #5f4a8b;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 58%;
}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}

.stats-container {
    text-align: center;
    margin-bottom: 1.2em;
}

.stats-container span {
    font-weight: 600;
}

.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}

.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}

.card-before {
    border: 2px solid #ccf281;
    font-size: 2.8em;
    font-weight: 600;
}

.card-after {
    background-color: #ffffff;
    transform: rotateY(180deg);
}

.card-container.flipped .card-before {
    transform: rotateY(180deg);
}

.card-container.flipped .card-after {
    transform: rotateY(0deg);
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #5f4a8b;
    top: 0;
}

.heading {
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: math;
    color: #efa37f;
    margin-bottom: 3rem;
}

button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#stop {
    display: block;
    margin: 1.1em auto 0 auto;
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
    background: #ccf281;
    color: #4f3d74;
    border-radius: 0.8rem;
    padding: 1rem 3rem;
    font-family: math;
}

.controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
    background: #ccf281;
    color: #4f3d74;
    border-radius: 0.8rem;
    padding: 1rem 3rem;
    font-family: math;
}

.hide {
    display: none;
}

#result {
    text-align: center;
}

#result h2 {
    font-size: 2.5em;
}

#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}