:root {
    /* --color-green--light: #00c46a; */
    /* background-image: linear-gradient(135deg, #71FA32, #009DE0) ; */
   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color:#0a3c2f;
}

.wrapper {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
  
    background-color: #0d614b;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}

.stats-container {
    text-align: center;
    margin-bottom: 1.2em;
}

.stats-container span {
    font-weight: 600;
}

.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}

.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}

.card-before {
    background-color: var(--color-green--light);
    
    font-size: 2.8em;
    font-weight: 600;
}

.card-after {
    background-color: #ffffff;
    opacity:0.8;
    transform: rotateY(180deg);
}

.card-container.flipped .card-before {
    transform: rotateY(180deg);
}

.card-container.flipped .card-after {
    transform: rotateY(0deg);
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: var(--color-green--light); */
    background-image: linear-gradient(135deg, #1e4e07, #009DE0) ;
    top: 0;
}

button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: white;
    opacity: 0.75;
    color: black;
}

.controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}

.hide {
    display: none;
}

#result {
    text-align: center;
}

#result h2 {
    font-size: 2.5em;
}

#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}