html, body {
    height: 100%;
    margin: 0;
    text-align: center;
}
.wrapper {
    background-color: lightgrey;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    background-color: black;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    top: 0;
    justify-content: space-between;
    padding-inline: 5vh;
    align-items: center;
}
h1 {
    
    
}
#console {
    text-align: left;
}
#try {
    width: 150px;
    margin: 2em;
}
li{
    list-style: none;
    margin-top: 3px;
    /* width: fit-content; */
}
#history {
    margin-top: 1em;
   
}
#rules {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    
}

ul{
    display: flex;
    flex-direction: column;
    
}
