body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f9e8f0;
}
.shadow__btn {
    padding: 3px 3px;
    border: none;
    font-size: 30px;
    color: black;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: #f9e8f0;
    box-shadow: 0 0 25px #f9e8f0;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px #f3cedf,
                0 0 25px #f7cee1,
                0 0 50px #f5cee0,
                0 0 90px #f9cbe0;
  }
hr {
    width: 500px;
}
.btn {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
    border-radius: 5em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 450;
    color: black;
    background-color: white;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
#board {
    width: 500px;
    height: 500px;
    margin-top: 3px;
    background-color: #ffcbcb;
    border: 6px solid #fca1a1;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 115px;
    height: 115px;
    border: 5px solid #fabbbb;

    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background-color: #ffddd1;
    color: #6b6b6b;
}

.x4 {
    background-color: #faccad;
    color: #565655;
}

.x8 {
    background-color: #ff909d;
    color: white;
}

.x16{
    background-color: #f85d96;
    color: white;
}

.x32{
    background-color: #f067a4;
    color: white;
}

.x64{
    background-color: #ff7c5f;
    color: white;
}

.x128{
    background-color: #f70776;
    color: white;
}

.x256{
    background-color: #c3195d;
    color: white;
}

.x512{
    background-color: #cd0756;
    color: white;
}

.x1024{
    background-color: #b4034a;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}