body {
  font-family: 'Press Start 2P', cursive;
  position: relative;
  height: 800px;
  width: 1000px;
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
  margin-left: 320px;
}

p {
  color: white;
  font-size: 18px;
  text-align: center;
}

a {
  display: block;
}

.author-links {
  position: absolute;
  width: 300px;
  top: 300px;
  left: 25px;
}

.author-links a {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.author-links img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.lose-img {
  position: absolute;
  width: 450px;
  height: auto;
}

#lose-modal {
  position: fixed;
  z-index: 1;
  top: 237px;
  left: 435px;
}

.is-hidden {
  display: none;
}

.lost {
  filter: brightness(.3);
}

#canvas-wrapper {
  position: absolute;
  left: 350px;
}

#instructions {
  position: absolute;
  left: 350px;
  z-index: 2;
  border: 1px solid black;
}

#score {
  position: absolute;
  right: 80px;
  top: 70px;
  z-index: 1;
  color: white;
  font-size: 14px;
}

#sound-button {
  color: white;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 310px;
  top: 69px;
}

#info-button {
  color: white;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 310px;
  top: 105px;
}

#sound-button:hover, #info-button:hover {
  cursor: pointer;
}
