body
{
    margin:0px;
    background: #1a1d1c;
    font-family: math;
}
#box
{
    position: absolute;
    height: 16vh;
    width: 20vh;
    background-color: #50c878;
    font-size: 2vh;
    padding: 5px;
    box-sizing: border-box;
    color: aliceblue;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.heading{
    margin: auto;
    display: flex;
    color: #9caf88;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2.5rem;
}