* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scoreBoard {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#currentScore,
#highScore {
  color: rgb(173, 216, 144);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  background-color: rgb(83, 83, 83);
}

.snake {
  background-color: rgb(173, 216, 144);
}

.food{
    background-color: black;
}

#mainBoard {
  border: 5px solid rgb(140, 175, 116);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(40, 10px);
  grid-template-rows: repeat(40, 10px);
  margin: 10px;
}

.board {
  border-radius: 30px;
  border: 10px solid rgb(140, 175, 116);
  background-color: rgb(49, 56, 40);
}

#text {
  position: absolute;
  color: rgb(140, 175, 116);
}
