/* @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Handjet:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* align-items: center; */
}
.main{
    text-align: center;
    font-family: 'Handjet', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-row-gap: 15px;
    margin-top: 14px;
}
.heading{
    font-family: 'Abril Fatface', serif;
    
    color: brown;
}
h3{
    font-family: 'Abril Fatface', serif;
    color: rgb(195, 0, 255);
    font-size: 1.5rem;
    margin-top: 8px;
}
.game{
    font-family: 'Abril Fatface', serif;
    font-size: 2.0rem;
    margin-top: 8px;
    color: rgb(195, 0, 255);
}
.container button{
    height: 105px;
    width: 120px;
    border: 1px solid black;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    font-size: 40px;
    border-radius: 12px;
    background-color: blue;
    color: brown;
    font-family: 'Abril Fatface', serif;
}
.message{
    color: green;
    font-family: 'Abril Fatface', serif;
    font-size: 2rem;
}
.reset{
    margin-top: 16px;
    height: 45px;
    width: 100px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Abril Fatface', serif;
}