body, html {
	background: #222;
	margin: 0;
	padding: 0; 
	height:100%; 
	overflow:hidden;
}

canvas {
	position:absolute;
	cursor:pointer;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
