body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}
.button-container {
  margin-top: 10px;
}
button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
