body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://th.bing.com/th/id/OIG.gjwf2.MkAEWSWYG0paYA?pid=ImgGn");
    overflow-x: hidden;
}

canvas {
    z-index: 1;
    border-radius: 10px;
    margin: 40px 10px;
}