body {


	padding: 0;
	margin: 0;

}

.joueur {

	top: 50%;
	width: 20px;
	height: 100px;
	position: absolute;
	
	
}

#joueur1 {

	left: 50px;
	border-right: 2px #101010 solid;
}

#joueur2 {

	right: 50px;
	border-left: 2px #101010 solid;
}

main {

	position: absolute;
	height: 100%;
	width: 100%;

}
 
ul {

	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	
}

#balle {

	top: 50%;
	left: 49.5%;
	width: 20px;
	height: 20px;
	background: #303030;
	position: absolute;
	border-radius: 100%;
}

#middleline {

	position: absolute;
	left: 50%;
	height: 100%;
	border-left: 1px #202020 dashed;
}

.score {

	position: absolute;
	top: 50px;
	font-size: 80px;


}

#scorejoueur1 {

	left: 25%;

}

#scorejoueur2 {

	right: 25%;
}