* {
  -webkit-user-select: none;
  user-select: none;
}

html { 
  background-color: #000;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

body {
    margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
    background: #000;
}
