@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.chatBubble {
    position: absolute;
    display: none;
    background: black;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    font-family: "Press Start 2P", system-ui;
    color: white;
    font-size: 14px;
    font-weight: 400;
    max-width: 200px;
    word-wrap: break-word;
  }

  .promptE {
    position: absolute;
    display: none;
    background: black;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    font-family: "Press Start 2P", system-ui;
    color: white;
    font-size: 14px;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.5s;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #000000; /* Black background */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    color: white;
    text-align: center;
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ffcc00;
    text-decoration: none;
    cursor: pointer;
  }
  
  #puzzleInstructions {
    font-size: 24px;
    color: #ffcc00; 
    margin-bottom: 20px;
  }
  
  #puzzleInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 18px;
    background-color: white; 
    color: black;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  
  #submitPuzzle {
    background-color: #ffcc00; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #submitPuzzle:hover {
    background-color: #ff9900; 
  }
  
  #missionTracker {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    font-family: "Press Start 2P", system-ui;
    color: white;
    font-size: 14px;
    width: 200px;
    text-align: center;
  }