body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

#canvas {
  background-image: url("./assets/flappybirdbg.png");
  width: 100%;
  margin-top: 10px;
  max-width: 780px;
  height: auto;
}

#instructions {
  margin-left: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  #container {
    flex-direction: column;
    align-items: center;
  }

  #instructions {
    margin-left: 0;
    margin-top: 20px;
  }
}
