@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: url(image/back.webp);
    /* background-color: rgba(20, 157, 163, 1); */
    /* min-height: 100vw; */
    /* background-repeat: no-repeat; */
    display: flex;
    background-size: 100vw 100vh;
    justify-content: center;
    align-items: center;
}

#board {
    background: url(image/grass_template2.jpg);
    /* background-color: rgba(0, 255, 55, 0.581); */
    width: 130vmin;
    /* width: 90vmin; */
    height: 99vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    grid-template-columns: repeat(17, 1fr);
}

/* doarmon + animation */
.man {
    background: url(image/smalldoral3.png);
    width: 40px;
    margin: auto;
    height: 50px;
}


.can {
    animation: walky 1.2s steps(6) infinite;
        /* forwards 5s linear infinite; */
    transition: grid-row-start 1s ease-out, grid-column-start 1s ease-out;
}

@keyframes walky {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 242px;
    }
}

@keyframes forward {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(1500px);
    }
}


/* over */


.food {
    background: url(image/doracake4.png);
    background-repeat: no-repeat;
}

.mouse {
    background: url(image/PngItem_148881.png);
    background-repeat: no-repeat;
}


/* score */

#hiscorebox {
    position: absolute;
    right: 90px;
    top: 20px;
    font-family: 'New Tegomin', serif;
    background-color: rgba(3, 3, 3, 0.597);
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 20px;
    color: white;
}

#scorebox {
    position: absolute;
    right: 130px;
    top: 63px;
    font-family: 'New Tegomin', serif;
    background-color: rgba(3, 3, 3, 0.597);
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 20px;
    color: white;
}

#healthbox {
    position: absolute;
    right: 118px;
    top: 107px;
    font-family: 'New Tegomin', serif;
    background-color: rgba(3, 3, 3, 0.597);
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 20px;
    color: rgb(26, 255, 0);
}
