@font-face {
  font-family: "Farray";
  src: url("./fonts/farray-webfont.woff2") format("woff2"),
       url("./fonts/farray-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./fonts/montserrat-light-webfont.woff2") format("woff2"),
       url("./fonts/montserrat-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
       url("./fonts/montserrat-regular-webfont.woff") format("woff");
}

/* Global */

body {
  background-color: #EEEEEE;
  -webkit-user-select: none; /* Prevent highlight on double-click */
  -moz-user-select: none; /* Prevent highlight on double-click */
  -ms-user-select: none; /* Prevent highlight on double-click */
  user-select: none; /* Prevent highlight on double-click */
  cursor: default;
}

#container {
  top: 50%;
  left: 50%;
  position: absolute;
}

#gameContainer {
  width: 70%;
  margin: auto;
  padding-right: 5%;
  padding-bottom: 2.5%;
  padding-left: 5%;
  border-top: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
}

/* Computer section */

#computerContainer {
  width: 100%;
}

#computerFace { /* Force image contained by div to resize relative to div */
  width: 11.15%;
  padding-top: 1.5%;
  padding-bottom: 0.85%;
  padding-left: 1.55%;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  position: relative;
}

#computerFace.mute {
  opacity: 0.5;
}

#computerHand {
  -webkit-border-radius: 0.3em; /* Border radius for cards to inherit */
  -moz-border-radius: 0.3em; /* Border radius for cards to inherit */
  border-radius: 0.3em; /* Border radius for cards to inherit */
  white-space: nowrap; /* Prevent cards from breaking to new line */
}

/* Info section */

#infoButton {
  width: 2.94%;
  height: 5.5%;
  top: 2%;
  left: 85.7%;
  border-radius: 50%;
  color: #9098A2;
  font-family: "Montserrat-Regular";
  font-size: 93%;
  text-align: center;
  line-height: 142%;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
}

#infoButton:hover {
  background-color: #005780;
  color: #FFFFFF;
}

#infoButton:active {
  top: 2.1%;
}

#infoScreen {
  width: 55%;
  height: 52%;
  top: 15%;
  left: 20%;
  z-index: 1001;
  padding-top: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 4%;
  padding-left: 2.5%;
  border-radius: 0.5em;
  background-color: #FFFFFF;
  color: #424242;
  font-family: "Montserrat-Light";
  font-size: 43%;
  position: absolute;
}

#infoScreen.hide {
  visibility: hidden;
}

#exitButton {
  top: -0.2%;
  left: 96.7%;
  color: #9098A2;
  font-family: "Montserrat-Light";
  font-size: 250%;
  cursor: pointer;
  position: absolute;
}

#exitButton:hover {
  color: #005780;
}

#infoContainer {
  width: 95%;
  height: 99.4%;
  padding-top: 3%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  background-color: #EEEEEE;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

#gameMap {
  width: 56.6%;
  padding-left: 3.7%;
  float: right;
}

#rulesContainer {
  width: 37.7%;
  height: 83%;
  padding-left: 2%;
}

#rulesContainer .head {
  padding-top: 3%;
  color: #00A6F2;
  font-size: 110%;
  text-align: center;
}

#rulesContainer .paragraph {
  padding-top: 3.8%;
  font-size: 85%;
  line-height: 160%;
}

#gameTips {
  width: 37.88%;
  padding-right: 4.5%;
  padding-bottom: 5%;
  padding-left: 1.5%;
  background-color: #EEEEEE;
  float: left;
}

#specialCardsContainer {
  width: 99%;
  background-color: #FAFAFA;
}

#specialCardsContainer .head {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 46.8%;
  color: #00D970;
  font-size: 110%;
}

.paragraphHead {
  font-size: 113%;
  font-weight: bold;
}

#specialCardsContainer .paragraph {
  padding-bottom: 2.5%;
  font-size: 85%;
  line-height: 160%;
}

#specialCardsContainer div:nth-child(2) {
  width: 25.07%;
  padding-left: 2.5%;
  vertical-align: top;
  display: inline-block;
}

#specialCardsContainer div:nth-child(3) {
  width: 25.07%;
  padding-right: 2.5%;
  display: inline-block;
}

#specialCardsContainer div:nth-child(4) {
  width: 25.07%;
  padding-left: 2.5%;
  vertical-align: top;
  display: inline-block;
}

#specialCardsContainer div:nth-child(5) {
  width: 25.07%;
  padding-right: 2.5%;
  display: inline-block;
}

.italic {
  font-style: italic;
}

#JUNOvsUNO {
  width: 44%;
  padding-right: 3%;
  padding-bottom: 2.5%;
  padding-left: 2.5%;
  background-color: #FFFFFF;
  font-size: 110%;
  clear: both;
  float: left;
  display: inline-block;
}

#JUNOvsUNO .head {
  padding-top: 5%;
  color: #F21642;
}

#JUNOvsUNO .paragraph {
  padding-top: 3.8%;
  font-size: 85%;
  line-height: 160%;
}

#about {
  width: 42%;
  padding-right: 3%;
  padding-left: 2.5%;
  margin-left: 2%;
  font-size: 110%;
  float: left;
  display: inline-block;
}

#about .head {
  padding-top: 5%;
  color: #000000;
}

#about .paragraph {
  padding-top: 3.8%;
  font-size: 85%;
  line-height: 160%;
}

#about div:nth-child(3) {
  padding-top: 4%;
}

a:link {
  color: #757575;
}

a:hover {
  color: #757575;
}

a:active {
  color: #757575;
}

a:visited {
  color: #757575;
}

#infoContainer > div:last-of-type {
  padding-bottom: 3%;
  clear: both;
}

/* Discard section */

#discardPileContainer {
  width: 100%;
  padding-top: 1.5%;
  position: relative;
}

#discardPile {
  -webkit-border-radius: 0.3em; /* Border radius for cards to inherit */
  -moz-border-radius: 0.3em; /* Border radius for cards to inherit */
  border-radius: 0.3em; /* Border radius for cards to inherit */
}

/* Welcome message */

#welcomeMessage {
  width: 26.6%;
  height: 29.2%;
  top: 46.5%;
  left: 5.5%;
  padding-left: 2.4%;
  background-color: #005780;
  font-family: "Montserrat-Light";
  font-size: 43%;
  line-height: 160%;
  visibility: visible;
  white-space: nowrap;
  opacity: 1;
  webkit-transition: opacity 0.25s, visibility 0.25s;
  -moz-transition: opacity 0.25s, visibility 0.25s;
  -ms-transition: opacity 0.25s, visibility 0.25s;
  -o-transition: opacity 0.25s, visibility 0.25s;
  transition: opacity 0.25s, visibility 0.25s;
  position: absolute;
  display: inline-block;
}

#welcomeMessage.hide {
  opacity: 0;
  visibility: hidden;
}

#welcomeMessage div:first-child {
  padding-top: 3.3%;
  color: #FFFFFF;
  display: inline-block;
}

#triangleDown {
  width: 5.64%;
  top: 100%;
  left: 0%;
  padding-bottom: 4%; /* Width / 1.41 */
  overflow: hidden;
  position: absolute;
}

#triangleDown:before {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  content: "";
  background-color: #005780;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
}

/* Wild menu */

#wildMenu {
  width: 29.3%;
  height: 18%;
  top: 40%;
  left: 59%;
  padding-top: 1%;
  padding-left: 2.4%;
  background-color: #005780;
  font-family: "Montserrat-Light";
  font-size: 43%;
  visibility: visible;
  opacity: 1;
  webkit-transition: opacity 0.25s, visibility 0.25s;
  -moz-transition: opacity 0.25s, visibility 0.25s;
  -ms-transition: opacity 0.25s, visibility 0.25s;
  -o-transition: opacity 0.25s, visibility 0.25s;
  transition: opacity 0.25s, visibility 0.25s;
  position: absolute;
  display: inline-block;
}

#wildMenu.hide {
  opacity: 0;
  visibility: hidden;
}

#triangleLeft {
  width: 5.64%;
  top: 0%;
  left: -5.64%;
  padding-bottom: 4%; /*Width / 1.41 */
  overflow: hidden;
  position: absolute;
}

#triangleLeft:before{
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  content: "";
  background-color: #005780;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

#wildMenu div:nth-child(2) {
  top: -26%;
  color: #FFFFFF;
  position: relative;
  display: inline-block;
}

.wildButton {
  cursor: pointer;
}

#Red {
  width: 10%;
  height: 75%;
  margin-left: 3%;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  opacity: 0.5;
  background: -webkit-radial-gradient(#FF1744, #F21642);
  background: -moz-radial-gradient(#FF1744, #F21642);
  background: -o-radial-gradient(#FF1744, #F21642);
  background: radial-gradient(#FF1744, #F21642);
  display: inline-block;
}

#Red:hover {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  -moz-transition: opacity 0.15s, -moz-transform 0.15s;
  -ms-transition: opacity 0.15s, -ms-transform 0.15s;
  -o-transition: opacity 0.15s, -o-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}

#Green {
  width: 10%;
  height: 75%;
  margin-left: 3.5%;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  opacity: 0.5;
  background: -webkit-radial-gradient(#00E676, #00D970);
  background: -moz-radial-gradient(#00E676, #00D970);
  background: -o-radial-gradient(#00E676, #00D970);
  background: radial-gradient(#00E676, #00D970);
  display: inline-block;
}

#Green:hover {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  -moz-transition: opacity 0.15s, -moz-transform 0.15s;
  -ms-transition: opacity 0.15s, -ms-transform 0.15s;
  -o-transition: opacity 0.15s, -o-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}

#Blue {
  width: 10%;
  height: 75%;
  margin-left: 3.5%;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  opacity: 0.5;
  background: -webkit-radial-gradient(#00B0FF, #00A6F2);
  background: -moz-radial-gradient(#00B0FF, #00A6F2);
  background: -o-radial-gradient(#00B0FF, #00A6F2);
  background: radial-gradient(#00B0FF, #00A6F2);
  display: inline-block;
}

#Blue:hover {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  -moz-transition: opacity 0.15s, -moz-transform 0.15s;
  -ms-transition: opacity 0.15s, -ms-transform 0.15s;
  -o-transition: opacity 0.15s, -o-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}

#Yellow {
  width: 10%;
  height: 75%;
  margin-left: 3.5%;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  opacity: 0.5;
  background: -webkit-radial-gradient(#FFEA00, #F2DE00);
  background: -moz-radial-gradient(#FFEA00, #F2DE00);
  background: -o-radial-gradient(#FFEA00, #F2DE00);
  background: radial-gradient(#FFEA00, #F2DE00);
  display: inline-block;
}

#Yellow:hover {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  -moz-transition: opacity 0.15s, -moz-transform 0.15s;
  -ms-transition: opacity 0.15s, -ms-transform 0.15s;
  -o-transition: opacity 0.15s, -o-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}

/* Player section */

#playerContainer {
  width: 100%;
}

#playerHead {
  padding-top: 1.45%;
  position: relative;
}

#playerFace { /* Force image contained by div to resize relative to div */
  width: 11.15%;
  top: -215%;
  padding-left: 1.55%;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  position: absolute;
}

#playerFace.mute {
  opacity: 0.5;
}

#playerHand {
  -webkit-border-radius: 0.3em; /* Border radius for cards to inherit */
  -moz-border-radius: 0.3em; /* Border radius for cards to inherit */
  border-radius: 0.3em; /* Border radius for cards to inherit */
  white-space: nowrap; /* Prevent cards from breaking to new line */
}

/* Cards */

.card {
  width: 12.8%;
  bottom: 0px;
  margin-right: 0.74%;
  margin-left: 0.74%;
  border-radius: inherit;
  color: #FFFFFF;
  font-family: "Farray";
  font-size: 95%;
  text-align: center;
  line-height: 120%;
  white-space: normal; /* Force card text to wrap */
  opacity: 1;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition: bottom 0.1s;
  -moz-transition: bottom 0.1s;
  -o-transition: bottom 0.1s;
  transition: bottom 0.1s;
  position: relative;
  display: inline-block;
}

.card:before { /* Set card height relative to width */
  padding-top: 148%;
  content: "";
  display: block;
}

#computerHand .card {
  background: -webkit-linear-gradient(#404040, #000000);
  background: -moz-linear-gradient(#404040, #000000);
  background: -o-linear-gradient(#404040, #000000);
  background: linear-gradient(#404040, #000000);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px #595959;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px #595959;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px #595959;
  cursor: not-allowed;
}

#computerHand .cardText {
  color: #FFFFFF;
  opacity: 0.7;
}

#discardPile .card {
  margin-left: 43.58%;
  cursor: not-allowed;
}

#playerHand .card {
  cursor: pointer;
}

.Red {
  background: -webkit-linear-gradient(#FF1744, #F21642);
  background: -moz-linear-gradient(#FF1744, #F21642);
  background: -o-linear-gradient(#FF1744, #F21642);
  background: linear-gradient(#FF1744, #F21642);
}

.Green {
  color: #000000;
  background: -webkit-linear-gradient(#00E676, #00D970);
  background: -moz-linear-gradient(#00E676, #00D970);
  background: -o-linear-gradient(#00E676, #00D970);
  background: linear-gradient(#00E676, #00D970);
}

.Blue {
  background: -webkit-linear-gradient(#00B0FF, #00A6F2);
  background: -moz-linear-gradient(#00B0FF, #00A6F2);
  background: -o-linear-gradient(#00B0FF, #00A6F2);
  background: linear-gradient(#00B0FF, #00A6F2);
}

.Yellow {
  color: #000000;
  background: -webkit-linear-gradient(#FFEA00, #F2DE00);
  background: -moz-linear-gradient(#FFEA00, #F2DE00);
  background: -o-linear-gradient(#FFEA00, #F2DE00);
  background: linear-gradient(#FFEA00, #F2DE00);
}

.Wild {
  background: -webkit-linear-gradient(#404040, #000000);
  background: -moz-linear-gradient(#404040, #000000);
  background: -o-linear-gradient(#404040, #000000);
  background: linear-gradient(#404040, #000000);
}

.cardText {
  top: 0;
  right: 0;
  left: 0;
  margin-top: 29%;
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
}

.shake {
  -webkit-animation: shake 0.5s;
  -moz-animation: shake 0.5s;
  -o-animation: shake 0.5s;
  animation: shake 0.5s;
}

@-webkit-keyframes shake {
  0%   { -webkit-transform: translateX(0%); }
  20%  { -webkit-transform: translateX(-5%); }
  40%  { -webkit-transform: translateX(5%); }
  60%  { -webkit-transform: translateX(-5%); }
  80%  { -webkit-transform: translateX(5%); }
  100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes shake {
  0%   { -moz-transform: translateX(0%); }
  20%  { -moz-transform: translateX(-5%); }
  40%  { -moz-transform: translateX(5%); }
  60%  { -moz-transform: translateX(-5%); }
  80%  { -moz-transform: translateX(5%); }
  100% { -moz-transform: translateX(0%); }
}

@-o-keyframes shake {
  0%   { -o-transform: translateX(0%); }
  20%  { -o-transform: translateX(-5%); }
  40%  { -o-transform: translateX(5%); }
  60%  { -o-transform: translateX(-5%); }
  80%  { -o-transform: translateX(5%); }
  100% { -o-transform: translateX(0%); }
}

@keyframes shake {
  0%   { -ms-transform: translateX(0%); }
  20%  { -ms-transform: translateX(-5%); }
  40%  { -ms-transform: translateX(5%); }
  60%  { -ms-transform: translateX(-5%); }
  80%  { -ms-transform: translateX(5%); }
  100% { -ms-transform: translateX(0%); }
}

@keyframes shake {
  0%   { transform: translateX(0%); }
  20%  { transform: translateX(-5%); }
  40%  { transform: translateX(5%); }
  60%  { transform: translateX(-5%); }
  80%  { transform: translateX(5%); }
  100% { transform: translateX(0%); }
}

.playCard {
  opacity: 0.5;
  webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -ms-transition: opacity 0.3s, -ms-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

#placeholder {
  width: 12.8%;
  margin-right: 0.74%;
  margin-left: 0.74%;
  display: inline-block;
}

#placeholder:before { /* Set card height relative to width */
  padding-top: 148%;
  content: "";
  display: block;
}

/* Sidebar */

#sidebar {
  width: 5.49%;
  height: 25.15%;
  top: 64.6%;
  left: 10%;
  position: absolute;
}

#sidebar > div {
  width: 46%;
  margin: auto;
  padding: 10%;
  color: #818E99;
  font-family: "Montserrat-Light";
  font-size: 43%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
}

#sidebar > div:hover {
  background-color: #005780;
  color: #FFFFFF;
  cursor: pointer;
}

#drawButton {
  top: 12%;
}

#drawButton:active {
  top: 13%;
}

#passButton {
  top: 19%;
}

#passButton:active {
  top: 20%;
}

/* Game over */

#overlay {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  webkit-transition: background 0.15s, visibility 0.15s;
  -moz-transition: background 0.15s, visibility 0.15s;
  -ms-transition: background 0.15s, visibility 0.15s;
  -o-transition: background 0.15s, visibility 0.15s;
  transition: background 0.15s, visibility 0.15s;
  position: fixed;
}

#overlay.hide {
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
}

#gameOverScreen {
  width: 23.4%;
  height: 128%;
  top: -24%;
  left: 36.6%;
  z-index: 1001;
  padding-top: 3.2%;
  padding-right: 1.7%;
  padding-left: 1.7%;
  border-radius: 0.5em;
  background-color: #FFFFFF;
  font-family: "Montserrat-Light";
  font-size: 43%;
  position: absolute;
}

#gameOverScreen.hide {
  visibility: hidden;
}

#gameOverMessage {
  width: 100%;
  top: 5%;
  left: 0%;
  z-index: 1002;
  color: #CCB104;
  font-family: "Montserrat-Light";
  font-size: 150%;
  text-align: center;
  position: absolute;
}

#gameOverMenu {
  width: 100%;
  height: 17.85%;
  top: 82%;
  left: -0.4%;
  z-index: 1002;
  color: #818E99;
  text-align: center;
  position: absolute;
}

#gameOverMenu div {
  width: 20%;
  padding-top: 3%;
  padding-bottom: 4%;
  margin-left: 4%;
  background-color: #FFFFFF;
  color: #818E99;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  display: inline-block;
}

#gameOverMenu div:hover {
  background-color: #005780;
  color: #FFFFFF;
}

#gameOverMenu div:active {
  top: 2%;
}