body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/162/630/desktop-wallpaper-secret-agent-secret-service-agent.jpg");
}

canvas {
    border: 2px solid #000;
    background-color: #333;
}


#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}