body{
    background-color:gray;
}
canvas {
    border: 3px solid darkblue;
    background-image:url("images/bg2.gif");
    background-repeat: no-repeat;
    margin-left:200px;
    margin-top: 120px;
}

#reset{
    
    margin-top:20px;
	width:200px;
	height:40px;
    background-color: #f44336;
    font-size:30px;
    color: white;
    cursor: pointer;
}
.reset1
{
    margin-left:460px;
}   
.reset2
{
    margin-left:140px;
} 
