.app {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  
  .questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the question boxes horizontally */
  }
  
  .question-box {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    background-color: rgb(21, 21, 21);
    color: rgb(230, 230, 230);
    width:100%; /* Set the width to 100% */
    max-width: 300px; /* Adjust the width as needed */
    height: 250px;
    text-align: center;
  }
  
  @media (min-width: 600px) {
    .question-box {
      width: calc(50% - 30px); /* Adjust the width as needed */
    }
  }
  
  .question-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:300px;
  }
 
  .question-row {
    display: flex;
    justify-content: center;
  }

  .question-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
  }
  
  .question-button {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color:rgb(75, 134, 111);
    color: white;
  }
  button:hover {
    background-color: rgb(94, 159, 131);
  }

  
  select {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: darkcyan;
    color: white;
  }
  
  .answer-display {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    right:100px;
    
  }
  
  .answer-display.correct {
    color: rgb(211, 211, 117);
  }
  
  .answer-display.wrong {
    color: rgb(211, 134, 117);
  }
  
  .question-box h1 {
    text-align: left;
    color:rgb(117, 136, 211)
  }
  
  .score-area {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .level-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

#next-level-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

  
  .heading {
    margin-top: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    font-size:40px;
  }
  .description{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .heading-text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .logo {
    width: 30px;
    height: 10px;
  }
  .correct {
    color:  rgb(211, 211, 117);
  }
  
  .wrong {
    color: rgb(211, 134, 117);
  }
  button.correct-answer:disabled {
    background-color: green;
    color: white;
  }
  
  button.wrong-answer:disabled {
    background-color: red;
    color: white;
  }

  #next-level-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 0px;
  }
  #next-level-button:hover{
    background-color: #529454;
    color: white;
  }
  #restart-button {
    padding: 10px 20px;
    background-color:rgb(10, 126, 221);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  #restart-button:hover{
    background-color: rgb(59, 156, 221);
    color: white;
  }

  body {
    background-color: rgb(235, 235, 235);
  }