body {  
    margin: 0;
}
#canvas{ 
    margin: auto;
    display: block;
    max-width: 100vw;
    z-index: 1;
}
#c_m{
    display: none;
    position: fixed; 
    bottom: 0; 
    left: 0;
    z-index: 2;
    opacity: 0.8;
}
#cn_m{
    display:none;
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
}
#u_m{
    left: 47px;
    top: 50px;
}   
#dw_m{
    left: 47px;
    top: 150px;
}   
#i_m{
    left: 10px;
    top: 100px;
}   
#d_m{
    left: 85px;
    top: 100px;
}
#ar_m{
    right: 95px;
    top: 140px;
}
#ac_m{
    right: 15px;
    top: 140px;
}
.t_m{
    display: inline-block;
    position: absolute;
    width: 8vmax;
    height: 8vmax;
    background-color: rgba(255,0,0,0.2);
}
.t_m.pl{
    background-color: rgba(255,0,0,0.4);
    box-shadow: 0 0 2px 6px rgba(255,255,255,0.2);
}


#o_t_l::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 4px, 55px 100%;
    pointer-events: none;
    opacity: 0.35;
}
#p_a{
    position: absolute;
    bottom: 40px;
    width: 420px;
    height: 88px;
    left: calc(50% - 200px);
    z-index: -1;
}





