*,
body {
  margin: 0;
  overflow: hidden;
}
#table,
canvas {
  width: 100%;
  height: 100%;
}
#table,
body,
canvas,
html {
  height: 100%;
}
body {
  font-family: Verdana;
  font-size: 14px;
}
* {
  padding: 0;
}
#table {
  display: table;
}
#cell {
  display: table-cell;
  vertical-align: middle;
}
#canvascontainer {
  margin: auto;
  outline: #fff solid 1px;
}
canvas {
  display: block;
}
