body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    position: relative;
    background-image: url('bg.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

#header {
    font-size: 68px;
    margin-bottom: 0;
}

#subheader {
    margin-top: 0;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 0;
}

#game {
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
}

#user-input {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
}

#current-place {
    color: rgb(47, 1, 48);
    font-style: italic;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover{
    background-color: aliceblue;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

#timer-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid darkblue;
    border-radius: 50%;
    font-size: 1.5em;
}

#timer-container.red {
    border-color: red;
}

#timer {
    color: white;
}

#rules{
    text-align: left;
    color: white;
    position:absolute;
    left: 10px;
    bottom: 10px;
    font-size: 18px;
}

#rules h3{
    margin-bottom: 0;
    padding-bottom: 0;
}

#rules ol{
    margin-top: 0;
}