*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #131313;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    padding-bottom: 5dvh;
    padding-top: 3dvh;
}
.start{
    border: aliceblue 5px solid;
    height: 50dvh;
    width: 80dvh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
}

.start h1{
    font-size: 4rem;
    color: orange;
}
.game h1{
    font-size: 4rem;
}
.start p{
    font-size: 1.5rem;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

button{
    width: 5vw;
    height: 3vh;
    color: aliceblue;
    border-radius: 50px;
    background-color: gray;
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px  rgb(48, 105, 249);
}
.game{
    border: aliceblue 5px solid;
    height: 50dvh;
    width: 80dvh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
}

#score{
    margin: 60px;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}