body{
    height: auto;
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: white;
}

#title{
    position: absolute;
    width: 340px;
}
.grid{
    width:400px;
    height: 750px;
    background: url("../img/background.jpg");
    background-size: cover;
    position: relative;
    font-size: 30px;
    text-align: center;
    z-index: -1;
}

.doodler{
    width: 60px;
    height: 85px;
    background:url("../img/doraemon.png");
    background-size: cover;
    position: absolute;
}

.platform{
    width: 100px;
    height: 100px;
    background:url("../img/dorayaki.png");
    background-size: cover;
    position: absolute;
}

.enemy{
    width: 60px;
    height: 60px;
    background:url("https://www.pngkey.com/png/full/911-9114948_mouse-clipart-transparent-background.png");
    background-size: cover;
    position: absolute;
}

.gameOver{
    width: 100px;
}

#start{
    position: absolute;
    top: 20rem;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border: 1rem double royalblue;
    background-color: transparent;
    font-size: 25px;
    font-family: cursive;
}

.play{
    margin-top: 6rem;
    font-size: 1.7rem;
    color: blueviolet;
}