

    body {
        background: #444;
        color: white;
        font-family: monospace;
    }
    #gamepads>* {
        background: #333;
        padding: 1em;
        margin: 10px 5px 0 0;
        border: 2px solid salmon;
    }
    #gamepads pre {
        white-space: pre-wrap;
    }
    
    .head {
      display: flex;
    }
    .head .id {
      flex: 1 1 auto;
    }
    .head .index,
    .head .id ,.time{
      display: inline-block;
      background: #222;
      padding: 0.5em;
      border: 1px solid green;
    }
    .head .index {
    }
    
    .info .label {
      width: 7em;
      display: inline-block;
    }
    .info>div {
      padding: 0.25em;
      background: #222;
      margin: 0.25em 0.25em 0 0;
    }
    
    .inputs {
      display: inline-block;
      
    }
    .axes {
      display: flex;
      align-items: flex-start;
      
    }
    
    .svg text {
      color: #CCC;
      font-family: monospace;
    }
    
    .axes svg text {
      font-size: 0.6px;
    }
    .buttons svg text {
      font-size: 1.2px;
    }
    .axes>div, .buttons>div {
      display: inline-block;
      background: #222;
      border: 1px solid yellow;
    }
    .axes>div {
      margin: 2px 5px 0 0;
      border: 1px solid greenyellow;
    }
    .buttons>div {
      margin: 2px 2px 0 0;
      
      border: 1px solid yellow;
    }
   