.choice-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translate(-0.1rem);
  transition: transform 150ms;
}
.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}
.correct {
  background-color: #28a745;
}
.incorrect {
  background-color: #dc3545;
}
/* heads up display */
/* this is an id # */
#hud {
  display: flex;
  justify-content: space-between;
}
.hud-prefix {
  text-align: center;
  font-size: 2rem;
}
.hud-main-text {
  text-align: center;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  /* provides a circular effect border-radius */
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}
/* to make it spin use animation */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
