body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #cfe5fa;
    font-family: Arial, sans-serif;
}
h1{
    position: absolute;
    top: 80px; 
    color:#0b582d;
    font-size: 40px;
}
.home_button {
    position: absolute;
    top: 15px;
    left: 48%;
    cursor: pointer;
}
fa{
    font-size: 130px;
}
.slot-machine {
    position: absolute;
    top:25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    height: 350px;
    border: 3px solid #333;
    background-color: #4b7a60;
    padding: 10px;
    border-radius: 10px;
}

.reel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji {
    padding: 10px;
    border: 3px solid #333; /* Adds a border around each emoji */
    border-radius: 10px;
    margin: 0 5px;
    text-align: center;
    background-color:burlywood;
    width:160px;
    height:120px;
    font-size: 70px;
}
button {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    font-weight:bold;
    font-size: 20px;
    position:absolute;
    top:80%;
    border-width: 2px;
    position: absolute;
    left:45%;
}
#startStopButton
{
    width:130px;
    height:60px;

}
#resultMessage {
    margin-top: 20px;
    font-size: 1.5rem;
    position:absolute;
    top:90%;
}