@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oswald&family=Pacifico&family=Poppins&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#040d12, #183d3d);
}

#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

#intro h1 {
  font-family: "Satisfy", cursive;
  font-size: 60px;
  margin: 1.5rem 0;
  background: -webkit-linear-gradient(left, #b70404, #efd595, #ffbb5c, #ae445a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro button {
  padding: 8px 16px;
  border: none;
  margin-top: 1.5rem;
  font-size: 16px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

#intro button:hover {
  background: #fff;
  color: #000;
  border-radius: 25px;
}

#intro button i {
  margin-left: 8px;
}

#game {
  width: 430px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showResult,
.showReplay,
.fadeOut {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

#image_box{
  min-height: 100%;
  position: relative;
}

#image_box #image {
  aspect-ratio: auto;
  width: 100%;
}

#image_box #mask{
  position: absolute;
  height: 60%;
  width: 80%;
  background-color: rgba(0,0,0);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#game ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#game ul li {
  padding: 0.6rem 14px;
  margin: 0.8rem 0;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.1s linear;
  cursor: pointer;
}

#game ul li:where(:hover, .active) {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
}

#game .option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

#game .option button {
  padding: 5px 1rem;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.3s linear;
}

#game .option button i {
  margin-left: 8px;
}

#game .option button:hover {
  border-radius: 25px;
  background-color: #fff;
  color: #000;
}

#result {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#result h1 {
  font-family: "Satisfy", cursive;
  font-size: 60px;
  margin: 1.5rem 0;
  background: -webkit-linear-gradient(left, #b70404, #efd595, #ffbb5c, #ae445a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#result button {
  margin-top: 0.8rem;
  padding: 0.5rem 0.8rem;
  font-size: 16px;
  background: transparent;
  border: none;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

#result button:hover {
  background: #fff;
  color: #000;
  border-radius: 25px;
}

#result button i {
  margin-left: 8px;
}

@media screen and (max-width: 500px) {
  #intro{
    width: 95%;
  }
  #intro h1{
    font-size: 40px;
  }
  #game{
    width: 95%;
  }
  #result h1{
    font-size: 40px;
    width: 90%;
  }
}

::-webkit-scrollbar{
  width: 0px;
}