html, body {
    padding: 0;
    margin: 0;
    background: linear-gradient(
        to top, 
        darkslategray, 
        black 
    );
    color: 
}
body * {
    font-family: sans-serif;
}          
#container {
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
#canvas {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    display: block;
    background-color: rgba(10, 10, 10, 0.3);
    border: 9px solid darkslategray;
    border-radius: 0;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
    box-shadow: 0 10px 130px 0 black;
    
}
span, #data {
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
}
input {
    border: none;
    text-align: center;
    background-color: rgb(100, 170, 180);
    color: white;
    padding: 6px;
    width: 170px;
    font-size: 20px;
    margin: 0 4px;
    border-radius: 20px;
    border-bottom: 5px solid teal;
}
input[type="submit"] {
    background-color: crimson;
    border-bottom: 5px solid maroon;
    width: 50px;
}
input[type="submit"]:active {
    background-color: black;
    transform: translateY(5px);
    border-bottom: 0px solid black;
}
input::-webkit-input-placeholder {color: teal;}
input:focus::-webkit-input-placeholder {color: rgb(100, 170, 180);}
input:focus {outline: none;}
h1 {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    letter-spacing: 3px;
}