body {
    background: #eee;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

p.info {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: 20px;
}

#game-base {
    width: 640px;
    margin: 0 auto;
    padding-top: 60px;
}

#game-table {
    width: 434px;
    height: 374px;
    margin: 0 auto;
    background: url("http://img.sr/images/2014/01/28/base.png") 0 0 no-repeat;
    position: relative;
}

.disc {
    position: absolute;
    z-index: -1;
    top: -55px;
    left: 14px;
    width: 46px;
    height: 46px;
    border-radius: 46px;
    transition: all .3s;
}

.disc.red {
    background: #d96666;
}

.disc.yellow {
    background: #ffeb79;
}