@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffc870;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.rules {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    color: black;
}

.controls {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
}

select {
    padding: 5px;
    margin: 10px 0;
    font-size: 16px;
    color: black;
}

#timer {
    font-size: 18px;
    font-weight: bold;
}

.scrambled-sentence {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ffc870;
    color: black;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #ffbe57;
}

#result, #final-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
