* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#tetris{
  background-color: white;
  box-shadow: 0 0 10px 2px lightgrey;
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#left-panel {
  font-family: cursive;
  width: 300px;
  height: 240px;
  background-color: white;
  box-shadow:0 0 10px 2px lightgrey;
  padding: 10px;
  margin-right: 90px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align center horizontally */
  justify-content: center; /* Align center vertically */
}

#right-panel {
  font-family: cursive;
  width: 320px;
  height:240px;
  background-color: #f2f2f2;
  box-shadow:0 0 10px 2px lightgrey;
  padding: 5px;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align center horizontally */
  justify-content: center; /* Align center vertically */
}

#game{
  font-size: 40px;
  color: #880ED4;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#ins {
  font-size: 25px;
  color: #880ED4;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

#point1, #point2, #point3, #point4{
align-items: center;
margin-bottom: 10px;
}

#scoreboard {
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

#start-button,
#instructions-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #880ED4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  /* margin-bottom: 15px; */
  cursor: pointer;
}

.hidden {
  display: none;
} 