@font-face {
  font-family: 'karcade';
  src: url('../font/karcade.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'karcade';
  background-color: #1a1a1a; /* Dark background color */
  min-height: min-content;
  height: 100vh;
  width: 100vw;
}

input {
  margin-top: 50px;
}

p {
  margin-bottom: 0;
}

/*** Navbar ***/

.navbar {
  padding-top: 30px;
}

.nav-link,
.navbar-brand {
  color: white;
}

.nav-link {
  transition: all 0.5s;
}

.nav-link:hover {
  background-color: rgba(192, 125, 255, 0.63);
  color: rgb(238, 255, 0) !important;
  transform: translateY(-4px);
}
