@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

#view {
    margin-top: 30px;
}

#mazeContainer {
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}
#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 2px black;
    height: 400px;
}
input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}
input:hover, select:hover {
	background-color: rgba(0, 0, 0, 0.70);
}
input:active, select:active {
	background-color: black;
}
input:focus, select:focus {
	outline: none;
}
.custom-select {
	display: inline-block;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}
#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 1;
}
#Message-Container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
#page {
	text-align: center;
	height: auto;
	width: auto;
	margin: auto;
}
#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
    position: relative;
}
#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin: 10px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    top: 100;
    left: 50;
   
  }
  
  #page #menu h1 {
    margin-top: 20px;
  }
#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.border {
    border: 10px black solid;
    border-radius: 10px;
}

#instructions {
    margin-top: 425px;
}
 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
	input, select {
	    width: 120px;
	}
}