*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1{
  border: 5px solid black; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4d79bc;
  max-width: 100%;
  max-height: 100%;
  font-family: "Bangers", cursive;


  
}

#layer1, #layer2, #layer3, #layer4, #projectile, #gears,#hivewhale, #drone{
  display: none;
}

#player, #angler1, #angler2, #lucky{
  display: none;
}

