* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.box1,
.box2,
.box3 {
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: -2;
    transition: all 0.5s;
}

.box1 {
    top: 0;
    background-color: salmon;
    transform: rotateY(-10deg) rotate(25deg);
}

.box2 {
    bottom: 0;
    background-color: lightgreen;
    transform: rotateY(26deg) rotate(154deg);
}

.box3 {
    top: 50%;
    background-color: aqua;
    transform: rotateY(45deg) rotate(7deg);
}

#super-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    margin: 2rem;
}

#super-container .creator a {
    text-decoration: none;
    color: black;
}

#super-container .creator a:hover {
    text-decoration: underline;
}

#super-container2 {
    display: flex;
    flex-direction: column;
}

#name {
    font-size: 40px;
    font-weight: bold;
}

#div-btn {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    border: 1px solid;
    margin: 1rem;
    transition: all 0.5s;
}

.row {
    display: flex;
    flex: 1;
}

.box {
    flex: 1;
    border: 1px solid rgba(128, 128, 128, 0.347);
}

#clearbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    padding: 2rem;
}

.btn,
#color-id {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
}

.btn:hover,
#color-id:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#label {
    font-size: 20px;
}