body {
    background-image: url(marvel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body h2{
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 10px;
    background-color: rgb(189, 26, 189);
    border-radius: 12px;
    padding: 10px 10px;
}
body h1{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    background-color: white;
    border-radius: 12px;
    padding: 10px 10px;
}
body h1 span{
    color: blue;
} 


#board {
    width: 400px;
    height: 400px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;
    border: 0.5px solid purple ;
}


#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}