html {
    background: white;
}
body {
    height: 100%;
    background: #4e9dff  url('images/bg.gif') left bottom repeat-x;
    margin: 0 !important;
    font-family: fantasy,sans-serif,serif;
    text-shadow: 1px 1px 1px #888;
    color: #392bb8;
}
header {
    display: table;
    width: 100%;
}
header > section {
    display: table-cell;
    min-width: 320px;
    width: 45%;
    float: left; }
section {
    padding: 1%;
}
section#sky {
    width: 95%;
    height: 300px;
    padding: 0 !important;
}
.strip {
    display:  block;
    background: rgba(0, 0, 0, 0.4);
    border-top: 2px white dashed;
    border-bottom: 2px white dashed;
}
#cloud {
    padding-left: 45%;
}
#points {
    padding-left: 1em;
}
#points-report {
    color: #7FFF00;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
h2  {
    margin-top: 0;
}
h2 > a {
    text-decoration: none;
}
h2, h3 {
    text-align: center;
}
a {
    color: white;
}
a:hover {
    color: azure;
}