* {
    font-family: "Germania One";
}
body{
    background: #000;
}
.Game-Card{
    width: 400px;
    height: 500px;
    background: #000;
    margin: 0 auto;
    position: relative;
}
#sound{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 465px;
    left: 15px;
}
#gameover{
    position: absolute;
    width: 400px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
#youwon{
    width: 100px;
    position: absolute;
    top: 200px;
    left: 150px;
    display: none;
}
#youlose{
    width: 400px;
    position: absolute;
    top: 100px;
    left: 0px;
    display: none;
}
#restart{
    position: absolute;
    top: 310px;
    left: 155px;
    cursor: pointer;
    font-size: 1.25em;
    color: #FFF;
}
