doctype html
html(lang='en')
  head
    title Elementalist (Js13k-2014)
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='build.css')
  body
    script(src='build.js')

    script
      include analytics.js
