@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: rgb(131, 226, 43);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

#game {
	display: flex;
}

.card {
	width: 160px;
	height: 120px;
	background-color: rgba(0, 140, 255, 0.999);
	border-left: solid rgba(0, 85, 255, 0.971) 10px;
	border-right: solid rgba(0, 89, 255, 0.999) 10px;
	border-top: solid rgba(0, 110, 255, 0.999) 10px;
	border-bottom: solid rgb(0, 110, 255) 10px;
	text-align: center;
	font-size: 100px;
	margin: 5px;
	padding: 10px;
	line-height: 120px;
	color: white;
}

.first-button {
	border-radius: 12px;
	border: 1px solid black;
}

.second-button {
	border-radius: 12px;
	border: 1px solid black;
}

.genre-title {
	text-align: center;
	font-size: 28px;
	padding: 5px;
	margin: 5px;
}

.correct-answer {
    background-color: green !important;
    border: 10px solid green !important;
}

.wrong-answer {
    background-color: red !important;
}
