body {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#game-container {
  text-align: center;
}

#score {
  font-size: 24px;
  margin-bottom: 20px;
}

#color-switcher {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.red {
  background-color: #ff4d4d;
}

.Sky-blue{
  background-color: #66ccff;
}

.green {
  background-color: #99ff99;
}

.light-yellow {
  background-color: #ffcc99;
}
