body {
  padding: 5%;
}
canvas#lottery,
canvas#map,
canvas#player,
canvas#upgrades {
  left: auto;
  position: absolute;
  top: auto;
}
canvas#lottery {
  border: unset;
}
canvas#ui {
  position: absolute;
}
#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
#stats canvas {
  display: inline-block !important;
}
