body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #232323d7;
    color: white;
}

h1 {
    margin: 20px 0;
    color: white;
}

#score-board {
    margin: 20px 0;
    font-size: 1.2em;
    text-align: center; /* Center align the score board */
}

#memory-message {
    margin-top: 10px;
    font-size: 1.1em;
    color: #FFD700; /* Gold color for the message */
}

#reset-button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    color: black;
}
