@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-image: url(./bg.jpg);
}

.start_btn, .quiz_box, .result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.quiz_box.activeQuiz,
.result_box.activeResult{

    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #d6bf6a;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #decc8c;
    border: 1px solid #ffe893;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz_box header .timer .time_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .time_sec{
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    height: 3px;
    left: 0px;
    background: #d6bf6a;
}

.quiz_box section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list{
    padding: 20px 0;
    display: block;
}

section .option_list .option{
    background: #f8f6f0;
    border: 1px solid #c2ad5f;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option_list .option:hover{
    color: #fff;
    background: #dccd97;
    border-color: #cbb97a;
}

.option_list .option:last-child{
    margin-bottom: 0px;
}

.option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    border-color: #a42834;
    background: #f8d7da;
}

.option_list .option.correct{
    color: #155724;
    border-color: #c3e6cb;
    background: #d4edda;
}

.option_list .option.incorrect{
    color: #721c24;
    border-color: #f5c6cb;
    background: #f8d7da;
}

.option_list .option.disabled{
    pointer-events: none;
}

.quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

.total_que span p:first-child{
    padding-left: 0px;
}

footer .next_btn{
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: #d6bf6a;
    border-radius: 5px;
    border: 1px solid #d6bf6a;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover{
    background: #bfa64c;
}

.result_box{
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon{
    font-size: 100px;
    color: #d6bf6a;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #d6bf6a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #d6bf6a;
}

.buttons button.restart:hover{
    background: #bfa64c;
}

.buttons button.quit{
    color: #d6bf6a;
}

.buttons button.quit:hover{
    color: #fff;
    background: #d6bf6a;
}