.preload {
	display: none;
}
.game {
	width: 750px;
	margin: 15px auto;
	color: gray;
}

.start-screen {
display: flex;
justify-content: center;	
align-items: center;
}


.logo {
	display: block;
	margin: 0 auto;
}
@font-face {
	font-family: chinese;
	src: url("media/chinese_takeaway.ttf");
}
.logo-title {
	font-size: 70px;
	fill: #000;
	stroke: #000;
	font-family: chinese;
	text-indent: 0;
	color: #000;
	text-transform: none;
	line-height: 125%;
}
.logo-subtitle {
	fill: #000;
	font-size: 50px;
	font-family: Monospace;
	text-align: center;
	text-anchor: middle;
	word-spacing: 0;
	letter-spacing: 0;
	line-height: 100%
}
.options {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 75%;
	color: gray;
}

.option:hover {
	color: steelblue;
	text-decoration: underline;
	list-style: outside;
	cursor: pointer;
}
.playArea {
	display: none;
	width: 50%;
	float: left;
}
.label {
	padding: 10px 0;
	margin: 0 0 37px;
	text-align: center;
}
.hand {
	display: block;
	margin: 0 auto ;
	width: 240px;
	height: 200px;
	text-align: center;
	border: 1px solid transparent;
}
.hand:hover {
	cursor: pointer;
}
.hand.p1.top {
	transform: scaleY(-1) rotate(90deg);
}

.hand.p1.bottom {
	transform: rotate(90deg);
}

.hand.p2.top {
	transform: rotate(270deg);
}
.hand.p2.bottom {
	transform: scaleY(-1) rotate(270deg);
}
.currentTurn {
	color: black;
	font-weight: bold;
	font-size: 25px;
}
.split-container {
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.split-btn {
	display: none;
	width: 75px;
	height: 40px;
	font-size: 18px;
	background-color: transparent;
	border: 1px solid transparent;
	margin: 0;

}
.endScreen {
	color: black;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	margin: 200 auto;
	display: flex;
	height: 600px;
	background-image: url("media/blog-confetti.png");
	background-repeat: repeat;
	background-size: cover;
	justify-content: center;	
	align-items: center;
}

