/*Importing google font - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #020202;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
h1{
    border-bottom : 1px solid #ccc;
    border-bottom-width: 1px;
    color : bisque;
    margin: 10px 0 2 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animationtext 4s steps(80, end); 
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #040404;
}
.wrapper{
    width : 480px;
    background: #060606;
    border-radius: 5px;
    box-shadow: #b5b5b5;
    background: rgba(244, 237, 237, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.wrapper h1{
    font-size: 35px;
    font-weight:500;
    padding : 20px 25px;
    border-bottom : 1px solid #ccc;
    border-bottom-width: 1px;
    color : bisque;
    margin: 10px 0 2 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animationtext 4s steps(80, end); 
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animationtext { 
 from {
     width: 0;
    transition: all 2s ease-in-out;
 } 
}

.wrapper-new{
  width :550px;
  background: #060606;
  border-radius: 5px;
  box-shadow: #b5b5b5;
  background: rgba(244, 237, 237, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 1% 1% 2% 1%;
  
}

.wrapper-new h1{
  font-size: 35px;
  font-weight:500;
  padding : 20px 25px;
  border-bottom : 1px solid #ccc;
  border-bottom-width: 1px;
  color : bisque;
  margin: 10px 0 2 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animationtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.wrapper .content{
    margin : 25px 25px 35px;
}

.content .typing-input{
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input{
    height : 57px;
    width: 56px;
    margin: 4px;
    font-weight: 500;
    color : rgb(242, 139, 14);
    font-size: 24px;
    text-align:center;
    background: none;
    border-radius: 5px;
    text-transform: uppercase;
    border : 1px solid #b5b5b5;
    
}

.inputs input:first-child{
    margin-left: 0;
}

.content .details{
    margin : 20px 0px 25px;
}

.details p{
    font-size: 19px;
    margin-bottom: 10px;
    color: #292121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.reset-btn{
    width: 40%;
    cursor: pointer;
    outline: none;
    border: none;
    background: rgb(242, 139, 14);
    color: #fff;
    font-size: 22px;
    /*font-weight: 500;*/
    padding: 15px 0px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
    justify-items: center;
}


.next{
  width: 40%;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(242, 139, 14);
  color: #fff;
  font-size: 22px;
  /*font-weight: 500;*/
  padding: 15px 0px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: center;
  margin-left: 10%;
  justify-items: center;
  
}


.firstword{
    font-size: 150%;
    color:rgb(238, 151, 46);
}

.info{
    color :rgb(238, 151, 46);
}

  #emojis_settlement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #within_same_emoji{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 20%;
  }

  img{
    margin-left: 30%;
  }

  #bottomline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  .bottomline{
    display: flex;
    flex-direction: row;
  }

  .nextnew{
      align-items: center;
      width: 50%;
      cursor: pointer;
      outline: none;
      border: none;
      background: rgb(242, 139, 14);
      color: #fff;
      font-size: 22px;
      /*font-weight: 500;*/
      padding: 10px 0px;
      border-radius: 5px;
      transition: all 0.3s ease;
      text-align: center;
      margin-left: 10%
    
  }

  #rules{
    color:rgb(242, 139, 14);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  #rulespart{
    color : rgb(253, 101, 0);
    font-weight: bolder;
  }

  .nextnew1{
    align-items: center;
    width: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background: rgb(242, 139, 14);
    color: #fff;
    font-size: 22px;
    /*font-weight: 500;*/
    padding: 15px 0px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
    margin-left: 25%
  
}

#scoreportion{
  color :rgb(253, 101, 0)
}

#scorep{
  color : bisque;
  font-size: 98px;
  align-items: center;
}

#trophy{
  margin-left: 35%;
}

#abc{
  display: flex;
  flex-direction: row;
}

#ruleimg{
  margin-left: 30%;
  margin-top: 40%;
}

#rocketimg{
  margin-left: -10%;
  margin-top: 0%;
}



.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-msg {
  color: white;
  font-size: 1.5rem;
  text-align: center;

  display: none;

}