/* Don't Die To Ghosts styles */

/* All elements */
* {
  touch-action: none; /* Disable pinch and double tap zooming on mobile */
  margin: 0; /* No margins */
  padding: 0; /* Or padding of any type*/
  outline: 0; /* Disable tabstop outlines */
  user-select: none; /* Disable selection of any element*/
  display: inline-block;
}

body {
  overflow: hidden; /* No scrolling */
  background-color: #000;
}

/* Absolute positioning */
.a {
  position: absolute;
  z-index: 1000;
}

/* Hidden */
.h {
  display: none;
}

/* Disabled */
.d {
  pointer-events: none;
}

/* Menu */
.m {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Button */
#b{
  position: absolute;
  z-index: 1000;
  filter: drop-shadow(0 0 24px #00f); /* Add a nice blue glow to identify clickable buttons */
}

/* Button hover */
#b:hover {
  filter: sepia();
}

/* Button mouse held down on */
#b:active {
  transform: scale(.9);
}

/* Loading screen */
#l {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */

  width: 100%;
  text-align: center;

  font-size: 3em;

  color: #ff0;
  font-family: sans-serif;
  filter: drop-shadow(0 0 16px #00f); /* Add a nice blue glow to identify clickable buttons */
}

/* All canvases get this style */
#c {
  position: absolute;
  left: 0;
  top: 0;
}

/* Game content container */
#g {
  position: absolute;
  top: 0;
}