* {
	margin: 0;
	padding: 0;
}

body {
	background: #f2f2f2;
}

canvas {
	display: block;
	margin: 40px auto 20px;
	border: 1px solid #333;

	-webkit-box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
	box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #777;
	display: block;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.info {
	margin: 14px auto;
	text-align: justify;
	font-size: 18px;
	color: #999;
}

label {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #555;
	width: 400px;
	margin: 0 auto;
	display: block;
}