@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow: hidden;
}
body {
  min-height: 100%;
  max-width: 100%;
  background: #111;
  font-family: Lato, sans-serif;
}
.container {
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.game-wrap {
  position: relative;
  padding: 20px 0 0;
}
canvas {
  position: relative;
  max-width: 100%;
  border: 2px solid black;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.content {
  color: #ccc;
  text-align: center;
  padding: 0 20px;
}
p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.5em;
}
code {
  background: #222;
  background: linear-gradient(#222, #000);
  line-height: 1.3em;
  display: inline-block;
  border-radius: 3px;
  font-family: monospace;
  padding: 1px 5px;
  margin: 0 2px;
}
a {
  color: skyblue;
  text-decoration: none;
  transition: .2s;
 
}
a:hover {
    color: lighten(skyblue, 10%);
    text-decoration: underline;
  }
.title {
  font-size: 40px;
  font-weight: 900;
  margin: 20px 0;
 
}
.title span:nth-child(1) {
    color: hsl(30, 50%, 50%);
  }
  
  div.title span:nth-child(2) {
    color: hsl(60, 50%, 50%);
  }
  