html {
  margin: 0;
  background-color: black;
  font-family: monospace;
  font-size: 16px;
}

body {
  margin: 0 0 0 0;
}

a {
  color: white;
}

#menu {
  position: absolute;
  top: 0;
  width: 100%;  
  color: white;
  height: 3.5em;
  line-height: 3.5em;
  text-align: right;
}

#menu a {
  margin: 0 4em;
}

#console-root {
  margin: 8em 0 0 0;
  padding: 0 1em 4em 1em;
}

.console-line {
  padding: 0;
  border: none;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 1em;
  margin: 0 auto;
  display: block;
  width: 45em;
  line-height: 1.4em;
}

@media (max-width: 760px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 8px;
  }
}