@font-face {
  font-family: '8BIT WONDER';
  src: url('../fonts/8BITWONDERNominal.woff2') format('woff2'),
      url('../fonts/8BITWONDERNominal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'variables';
@import 'game';
