/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/backgound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-height: 100vh;
}

h1 {
    /* font-family: 'Rubik Puddles', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    margin: 40px auto;
    font-size: 4rem;
    color: #F0F0F0;
}

#board {
  background-color: #0c134f;
  border-top: 5px solid #2d4059;
  border-left: 5px solid #2d4059;
  border-right: 5px solid #2d4059;
  border-radius: 10px;
}
