* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  align-items: center;
  background: #101010;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  width: 100vw;
}
.can {
  background: #000;
  display:flex;
  height: 540px;
  outline: 1px solid #202020;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  width: 960px;
}

#home-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
