*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/farm-scene-with-many-different-fruits-trees-sunset-time_1308-61810.jpg?w=1380&t=st=1687269039~exp=1687269639~hmac=24fecae7d9f0b795d7c38e7b91b791215abf825b7df070b1e0d8c5a693722214");

}
.game{
    width: 700px;
    height: 500px;
    background-color: rgb(144, 240, 154);
    position: relative;
}
.danger-line{
    width: 100%;
    height: 15px;
    background-color:red;
    position: absolute;
    bottom: 0;
}
.basket{
    width: 80px;
    height: 50px;
    background-color:#0000ff00;
    position: absolute;
    bottom: 15px;
    left: calc(50%-25px);
}
.basket-img{
    height: 50px;
    width: 80px;    
}

.fruit{
    width: 30px;
    height: 30px;
    /* background-color:green; */
    position: absolute;
}

.points-table {
    position: absolute;
    left: 1200px;
    top: 100px;
}
h1#pt {
    position: absolute;
    left: 30px;
    font-size: 50px;
}
