html, body
{
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
canvas
{
	border: 1px solid black;
	display :none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
    background: transparent;
}
#canvasBackground
{
	background-image:url('../assets/bg.png');
    z-index: 8;
}
#canvasObstacles
{
    z-index: 9;
}
#canvasPlayer, #canvasIsland
{
    z-index: 10;
}
#canvasGrid
{
    z-index: 11;
}
#canvasWind
{
    z-index: 12;
    /*animation: ghost 4s linear infinite;*/
}
.header
{
    height: 25px;
    text-align: center;
    margin-bottom: 25px;
    display: none;
}
#title, #levelNum, #levelWindDirection, .separator
{
	font-size: 48px;
}
.separator
{
    margin-left: 15px;
    margin-right: 15px;
}
/* Addedum for animation */
@keyframes ghost {
    0% {opacity: 0.15;}
    50% {opacity: 0.50;}
    100% {opacity: 0.15;}
}

@keyframes blow {
    0% {left:0%;}
    50% {left:50%;}
    100% {left:100%;}
}
/* Safari and Chrome */
@-webkit-keyframes ghost {
    0% {opacity: 0.15;}
    50% {opacity: 0.50;}
    100% {opacity: 0.15;}
}

@-webkit-keyframes blow {
    0% {left:0%;}
    50% {left:50%;}
    100% {left:100%;}
}
#presentation
{
    margin-top: 50px;
    width: 860px;
    height: 480px;
    background: black;
    position: absolute;
    display: none;
    z-index: 13;
    color: white;
}
#presentation .title
{
    font-size: 64px;
    text-align: center;
    margin-top: 25px;
}
#presentation .explanation
{
    font-size: 32px;
    text-align: center;
    margin-top: 25px;
}
#presentation .image
{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#presentation #startButton
{
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#information
{
    /*margin-top: 50px;*/
    width: 860px;
    height: 480px;
    background: white;
    position: absolute;
    display: none;
    z-index: 14;
    color: blue;
    opacity: 0.65;
}
#information #information_title
{
    font-size: 64px;
    text-align: center;
    margin-top: 25px;
}
#information #information_explanation
{
    font-size: 48px;
    text-align: center;
    margin-top: 25px;
}
#information #information_action
{
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}