body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

#inputContainer > div:not(:last-child) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

#inputContainer > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
  width: 120px;
  height: 20px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  margin: 5px;
}

button {
    border: none;
    background-color: green;
    color: whitesmoke;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

label {
    font-weight: bold;
    margin: 5px;
}