body {
    font-family: 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #e0f7fa, #fff);
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffffd9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #00796b;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #00796b;
}

.content {
    line-height: 1.6;
    text-align: left;
    margin: 20px 0;
}

.content h2 {
    font-size: 2em;
    color: #00796b;
    margin-top: 20px;
}

.content p, .content ul {
    font-size: 1.2em;
}

.content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.content ul li {
    margin: 10px 0;
}

.content ul li strong {
    color: #004d40;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #004d40;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: 20px auto;
        padding: 15px;
    }

    header h1 {
        font-size: 2em;
    }

    .content h2 {
        font-size: 1.5em;
    }

    .content p, .content ul {
        font-size: 1em;
    }
}
