@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Raleway&display=swap');

body {
    font-family: Raleway;
    user-select: none;
    z-index: 100000;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}


#game {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background: url(bg.jpg); */
    background-color: white;
}

#menu {
    /* position: absolute; */
    /* margin-top: 0; */
    /* left: 50%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* width: 100vw; */
    background: url(bg1.jpg);
    overflow-y:scroll;
    overflow-x: hidden;
    /*display: none;*/
}

#menu-heading {
    position: relative;
    margin-top: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    color:#fff;
    background-color: #110a28;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
}



#level {
    z-index: 100;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background:white;
    background-size: cover;
    /* background-color: white; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

/* .lvl:hover {
    background-color: #be32e5;
    transform: scale(1.1); 
} */

.test-tube {
    position: absolute;
    height: 130px;
    width: 40px;
    border: 2.2px solid rgb(0, 0, 0);
    border-radius: 2px 2px 20px 20px;
    background-position: 0 10px;
    overflow: hidden;
    transition: 1s linear;
    transform: rotate(0deg);
}

@keyframes glassAnim {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.05);}
}

.colors {
    position: absolute;
    left: 0;
    height: 30px;
    width: 40px;
}

#won {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

#white-bg {
    position: absolute;
    left: 0;
    top: 10px;
    width: 40px;
    height: 10px;
    color: transparent;
    /* background-color: white; */
    z-index: 1000;
    transition: 1s;
}

#colorful-bg {
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 1000;
    transition: 1s;
}

#restart {
    left: 5vw;
    bottom: 5vh;
    cursor: pointer;
}

#home {
    right: 5vw;
    bottom: 5vh;
}

.game-buttons {
    position: fixed;
    bottom: 5vh;
    /* top: calc(100vh - 50px); */
    height: 50px;
    width: 12vw;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    background-color: #886af5;
    border-radius: 10px;
}

#lvl-heading {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    background-color: #50b4f2;
    /* border-radius: 0 0 25px 25px; */
    font-size: 40px;
    font-weight: 800;
    line-height: 10vh;
    text-align: center;
    letter-spacing: 5px;
}

#moves {
    position: fixed;
    bottom: 12vh;
    /* top: calc(100vh - 80px); */
    width: 150px;
    height: 30px;
    left: 5vw;
    font-weight: 800;
    /* bottom: 5vh; */
    font-size: 20px;
}

#rules-btn {
    height: 50px;
    width: 200px;
    border-radius:10px;
    background-color: #fff;
    color: #000000;
    /* border-radius: 20px 20px 0 0; */
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-weight: 700;
}

#rules-page {
    display: none;
    z-index: 1000;
    position: absolute;
    transition: opacity 1s ease; /* Smooth transition for opacity */
    opacity: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.5s linear;
}

#rules {
    position: absolute;
    top: 100px;
    left: 50px;
    height: calc(100vh - 200px);
    width: calc(100vw - 100px);
    background-color: white;
    border-radius: 10px;
}

#rules-heading {
    position: absolute;
    top: 10px;
    font-weight: 700;
    left: 0;
    height: 30px;
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

#rules-text {
    position: absolute;
    top: 70px;
    left: 5%;
    width: 90%;
    font-size: 20px;
    height: calc(100vh - 200px - 150px);
    overflow-x: hidden;
}

#back {
    position: absolute;
    top: calc(100% - 120px + 65px + 10px);
    height: 40px;
    width: 100px;
    left: calc(100% - 100px);
    background-color: rgb(100, 255, 100);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

#alert-button:hover {
    background-color: rgb(150,255,150);
}


button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    /* background-color: #212121; */
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    /* background-color: #212121; */
    transition: 0.5s;
  }
  
  button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }




