body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}


#game-container {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: #333;
}


canvas {
    border: 2px solid #fff;
    background-color: #222;
}



