@charset "UTF-8";


html {
    cursor: url('img/mata_mosquito.png') 30 30, auto;
}

body {
    background-image: url('https://ideogram.ai/assets/image/lossless/response/-SoWtdl0Tm-fDFQLGuZmUw');
    background-size: cover;
  height: auto;
}




.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}




.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}




.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px white;
    background-color: white;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}