/* Reset default styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: cursive;
  background-color: #191919;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  margin-top: 45px;
}

.score {
  color: #4caf50;
  background: #302f2fed;
  padding: 1rem;
  line-height: 1;
  border-radius: 1rem;
  display: inline-block;
}

.controls {
  margin: 5px;
  text-align: center;
}

/* Buttons */
.start-btn {
  padding: 10px 25px;
  outline: none;
  font-size: 24px;
  background: #c2185b;
  color: #fff;
  border: 0px;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 4px #c2185bb0;
  cursor: pointer;
}

.start-btn:hover {
  background: #187bc2;
  box-shadow: 1px 2px 4px #185fc2b0;
}

/* Difficulty levels */
.levels {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for each difficulty level */
.levels > div {
  margin: 20px;
}

.levels > div:nth-child(1) {
  color: #00ff00;
}
.levels > div:nth-child(2) {
  color: #ffd24e;
}
.levels > div:nth-child(3) {
  color: #ff0000;
}

/* game board */
.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* holes on the game board */
.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

/* mole inside hole */
.hole:after {
  background: url("img/hole.png") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

/* moles */
.mole {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: url("img/mole.png") bottom center no-repeat;
  background-size: 60%;
  transition: all 0.4s;
  cursor: pointer;
}

/* mole when visible */
.hole.up .mole {
  top: 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  h1 {
    padding: 20px;
    font-size: 2rem;
  }

  .score {
    margin: 20px;
  }

  .hole::after {
    bottom: -22px;
    margin: 6px;
  }

  .start-btn {
    padding: 8px 20px;
  }

  .levels > div {
    margin: 10px;
  }

  .game {
    width: 90%;
    height: 300px;
  }
}
