body {
  background-color: #fff;
  overflow:scroll;
  padding: 0;
  margin: 0;
}


/* head */
.head {
  height: 120px;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.74);
  border-radius: 2px;
}

.description {
  height: 250px;
  width: 300px;
  top: 1000px;
  color: #333;
  font-family: nunito;
  transform: translate(-50%, -50%) scale(0);
  position: absolute;
  left: 50%;
  top: 425px;
  background: #ffffff;
  padding: 50px;
  border-radius: 0px;
  z-index: 1000;
  box-shadow: 0px 8px 5px rgba(0,0,0,0.5);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  font-size: 15px;
  transition: 0.3s all;
}

.description.show {
  visibility: visible;
  opacity: 1;
  font-size: 15px;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.3s all;
}

.info {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 100;
  cursor: pointer;
  border: 0px;
  border-color: #aaa;
  background-color: #8ED2C9;
  color: #fff;
  font-size: 20px;
  top: 50px;
  transform: translate(-50%, -50%);
  margin-left: 25px;
  transition: 0.1s background-color;
}

.info:hover {
  background-color: #00AAA0;
}


.repeat {
  margin: 0px !important;
}

.a {
  font-family: Nunito;
  font-size: 100px;
  font-weight: 200;
  margin-right: 15px
  
}

.score {
  position: relative;
  width: 100px;
  height: 100px;
  top: 10px;
  font-family: nunito;
  font-weight: 400;
  font-size: 30px;
  color: grey;
  text-align: center;
}


.field,
 .grid {
  position: absolute;
  width: 510px;
  height: 510px;
  background-color: #888;
  top: 150px;
  border-radius: 0px;
  border:5px solid #888;
  display: table;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.field {
  z-index: 50;
}

.grid {
  z-index: 100;
}

.row,
 .grid_row {
  width: 510px;
  height: 135px;
  position: relative;
  display: table-row;
}

.cell, 
.grid_cell {
  background-color: white;
  width: 125px;
  height: 125px;
  position: relative;
  display: table-cell;
  border-radius: 0px;
  border: 5px solid #888;
  text-align: center;
  vertical-align: middle;
  font-family: nunito;
  font-size: 50px;
}

.grid_cell {
  background-color: #d8d8d8;
  color: white;
  
}

div > div > div > div {
  opacity: 0;
  position: absolute;
}

.tile {
  opacity: 1;
  width: 118px;
  height: 126px;
  background-color: white;
  z-index: 150;
  border-radius: 0px;
  font-weight: 200;
  top: 0;
  left: -1px;
  color: black;
  transition: 0.3s all;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

#status {
  width: 100%;
  height: 100vh;
}

.won {
  background-color: #337538;
  transition: 0.3s all;
  
}

.lose {
  background-color: #7D3C34;
}