*{
  border: 0;
  padding: 0;
  margin: 0;
}

body{
  background-color: #453C67;
}

.body{
  background-color: #453C67;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 92vh;
}

.game{
  background-color: white;
  width: 120vmin;
  height: 92vmin;
  border: 3px solid #D09CFA;
  display: grid;
  grid-template-columns: repeat(30,1fr);
  grid-template-rows: repeat(15,1fr);
}

.gameOver{
  background-color: black;
  width: 120vmin;
  height: 92vmin;
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 6rem;
  border: 3px solid red;
  padding: 4%;
  font-weight: 500;
  color: white;
  justify-content: center;
  align-items: center;
}

.car{
  height: 100%;
  width: 100%;

}

.level{
  color: white;
}

.man{
  height: 100%;
  width: 100%;

}

.car_div{
  grid-row-start: 2;
  grid-column-start: 20;
  grid-column-end: 23;
}

.man_div{
  grid-row-start: 15;
  grid-column-start: 15;
}
