body {
    overflow: hidden;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/975/547/822/drawing-doodle-wallpaper-preview.jpg');
  }

.header {
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.rabbit1 {
    position: relative;
    top: 68px;
    left: 1021px;
    z-index: -1;
}

.rabbit2 {
    position: relative;
    top: -103px;
    left: 24px;
    z-index: -1;
}

.rabbit3 {
    position: relative;
    top: 321px;
    left: 9px;
    z-index: -1;
}

#btn1 {
    position: relative;
    height: 40px;
    width: 50px;
    top: -8px;
    left: 1175px;
    cursor:crosshair;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

#btn2 {
    position: relative;
    height: 68px;
    width: 72px;
    top: -220px;
    left: 246px;
    cursor:crosshair;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

#btn3 {
    position: relative;
    height: 40px;
    width: 50px;
    top: 268px;
    left: 138px;
    cursor:crosshair;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}
