@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(191, 172, 226, 0.35);
}

.typing-section{
    text-align: center;
}

#textarea{
    border: .1rem solid #A084DC;
    border-radius: 1rem;
    max-width: 50rem;
    width: 50rem;
    height: 20rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
}

#btn{
    display: inline-block;
    padding: 1rem 2.4rem;
    border: none;
    border-radius: 1rem;
    background-color: #645CBB;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1.6rem;
}

h2{
    font-size: 2.4rem;
    text-transform: capitalize;
    color: #645CBB;
    text-align: center;
}

#showSentence, #score{
    font-size: 1.6rem;
    margin: 2rem 0;
    letter-spacing: .02rem;
    text-align: center;
}
