html, body, div, canvas {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(105, 105, 80);
}

h1 {
    text-align: center;    
}

div#main {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    max-height: 480px;
    margin: 0 auto;
}

canvas#main_game {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 200px;
    height: auto;
    /*border: 5px DarkKhaki dashed;*/
    
    /*Hide the focus indicator border*/
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
