body {
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.grid {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border: 5px solid slategray;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.grid div {
    height: 50px;
    width: 50px;
    font-size: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
}


#grid img {
    width: 40px;
    height: 40px;
}