body {
    text-align: center;
    background-color: #19b8f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: #4CAF50;
}

#gameContainer {
    margin-top: 50px;
    position: relative;
}

#score,
#highScore,
#timer {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}


#ballons {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    overflow: hidden;
}

.ballons {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff5722;
    cursor: pointer;
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.ballons:hover {
    background-color: #ff9800;
    transform: scale(1.2);
}

#scoreValue,
#highScoreValue {
    font-weight: bold;
    color: #4CAF50;
}

#timerValue {
    font-weight: bold;
    color: #f44336;
    animation: blink 1s infinite;
}

.start-button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #388E3C;
}

@keyframes countdown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    #ballons {
        width: 80%;
        height: 300px;
    }
}
