@tailwind base;
@tailwind components;

@layer components {

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    ul {
        @apply grid overflow-hidden grid-cols-4 grid-rows-1 gap-4 w-[300px] max-h-[50px] animate-[fadeIn_150ms_ease-in-out]
    }

    li {
        @apply bg-[#00000025] w-[46px] h-[46px] flex justify-center items-center border border-[#141414] text-[#dbdbdb] text-lg cursor-default m-auto
    }

    input:focus::placeholder {
        color: transparent;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .flip {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

@tailwind utilities;