body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4fad6;
}

.main-menu, .game-container, .end-screen {
    text-align: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #02a0ac;
}

.main-menu h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-menu button {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-menu button:hover {
    background-color: #45a049;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.container h1 {
    color: #4CAF50;
}

.container input[type="number"] {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #45a049;
}

.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.end-screen h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.end-screen p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.end-screen button {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.end-screen button:hover {
    background-color: #45a049;
}