body {
  text-align: center;
  background-color: lightblue;
}

h1 {
  color: #333;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#shape {
  width: 250px;
  height: 250px;
  background-color: #ff5f5f;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#timer, #reaction-time {
  font-weight: bold;
  margin-top: 20px;
}
