body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./mario-bg.jpg");
    background-size: cover;
}

#board{
    width: 540px;
    height: 540px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;

    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
    
}

#board div{
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}

#board div img {
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

#restart{
    width: 60px;
    height: 50px;
    background: url("./restart.png");
    background-size: cover;
    border: 0;
}