body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
    font-family: Arial, sans-serif;
}

canvas {
    border: 1px solid #fff;
}
.container{     
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.result{
    color: white;
    margin-top: -200px;
    text-align: center;
    margin-bottom: 100px;
}
.result span{
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
}
.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.instructions {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
}

.controls {
    text-align: center;
}

.controls button {
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls label {
    margin-right: 10px;
    font-size: 16px;
}

.controls select {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    outline: none;
}
