*{
    margin: 0;
}

html{
    height: 100%;
}

body{
    overflow:hidden;
    height: 100%;
    width: 100%;
    background-color:black;
    display: table;
}

#out{
    height:100%;
    width:100%;
}

#in{
    outline : 1px solid white;
    margin: 0 auto;
    height:100%;
    width:100%;
}

canvas {
    width: 100%;
    height: 100%;
}
