body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .game-title {
    color: crimson;
    font-family: monospace;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
  }
  
  canvas {
    border: 1px solid black;
    height: 85vh; 
    width: 100vh;  
  }
  