[data-tootik] {
  position: relative;
}
[data-tootik]:after {
  border-radius: 7px;
  bottom: 100%;
  box-sizing: border-box;
  color: #fff;
  content: attr(data-tootik);
  font-family: Century Gothic, AppleGothic, CenturyGothic, sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 14px;
  max-width: 320px;
  overflow: hidden;
  padding: 6px 6px 5px;
  pointer-events: none;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-transform: translate(-50%, 12px);
  transform: translate(-50%, 12px);
  -webkit-transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1),
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1);
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1),
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1);
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1),
    transform 0.3s cubic-bezier(0.73, 0.01, 0, 1);
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1),
    transform 0.3s cubic-bezier(0.73, 0.01, 0, 1),
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1);
  white-space: nowrap;
  z-index: 1;
}
[data-tootik]:after,
[data-tootik]:before {
  left: 50%;
  opacity: 0;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
[data-tootik]:before {
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-bottom-width: 0;
  content: "";
  height: 0;
  top: -2px;
  -webkit-transform: translate(-50%, calc(-50% - 6px));
  transform: translate(-50%, calc(-50% - 6px));
  -webkit-transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  width: 0;
  z-index: 2;
}
[data-tootik]:after {
  background: #000;
}
[data-tootik]:before {
  border-top-color: #000;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="right"]:before {
  border-top-color: transparent;
  border-right-color: #000;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="bottom"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #000;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="left"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #000;
}
[data-tootik]:focus:after,
[data-tootik]:focus:before,
[data-tootik]:hover:after,
[data-tootik]:hover:before {
  opacity: 1;
}
[data-tootik]:focus:before,
[data-tootik]:hover:before {
  -webkit-transform: translate(-50%, calc(-50% - 2px));
  transform: translate(-50%, calc(-50% - 2px));
  -webkit-transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0.1s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.1s;
  transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0.1s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.1s;
  transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0.1s,
    transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.1s;
  transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0.1s,
    transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.1s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.1s;
}
[data-tootik]:focus:after,
[data-tootik]:hover:after {
  -webkit-transform: translate(-50%, -6px);
  transform: translate(-50%, -6px);
}
[data-tootik][data-tootik-conf*="right"]:before {
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-left-width: 0;
  left: auto;
  right: -6px;
  top: 50%;
  -webkit-transform: translate(calc(-50% + 7px), -50%);
  transform: translate(calc(-50% + 7px), -50%);
}
[data-tootik][data-tootik-conf*="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-12px, -50%);
  transform: translate(-12px, -50%);
}
[data-tootik][data-tootik-conf*="right"]:focus:before,
[data-tootik][data-tootik-conf*="right"]:hover:before {
  -webkit-transform: translate(calc(-50% + 3px), -50%);
  transform: translate(calc(-50% + 3px), -50%);
}
[data-tootik][data-tootik-conf*="right"]:focus:after,
[data-tootik][data-tootik-conf*="right"]:hover:after {
  -webkit-transform: translate(7px, -50%);
  transform: translate(7px, -50%);
}
[data-tootik][data-tootik-conf*="bottom"]:before {
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-top-width: 0;
  bottom: -6px;
  left: 50%;
  top: auto;
  -webkit-transform: translate(-50%, calc(-50% + 6px));
  transform: translate(-50%, calc(-50% + 6px));
}
[data-tootik][data-tootik-conf*="bottom"]:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -12px);
  transform: translate(-50%, -12px);
}
[data-tootik][data-tootik-conf*="bottom"]:focus:before,
[data-tootik][data-tootik-conf*="bottom"]:hover:before {
  -webkit-transform: translate(-50%, calc(-50% + 2px));
  transform: translate(-50%, calc(-50% + 2px));
}
[data-tootik][data-tootik-conf*="bottom"]:focus:after,
[data-tootik][data-tootik-conf*="bottom"]:hover:after {
  -webkit-transform: translate(-50%, 6px);
  transform: translate(-50%, 6px);
}
[data-tootik][data-tootik-conf*="left"]:before {
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 0;
  height: 0;
  left: -2px;
  top: 50%;
  -webkit-transform: translate(calc(-50% - 8px), -50%);
  transform: translate(calc(-50% - 8px), -50%);
  width: 0;
}
[data-tootik][data-tootik-conf*="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  -webkit-transform: translate(12px, -50%);
  transform: translate(12px, -50%);
}
[data-tootik][data-tootik-conf*="left"]:focus:after,
[data-tootik][data-tootik-conf*="left"]:hover:after {
  -webkit-transform: translate(-7px, -50%);
  transform: translate(-7px, -50%);
}
[data-tootik][data-tootik-conf*="left"]:focus:before,
[data-tootik][data-tootik-conf*="left"]:hover:before {
  -webkit-transform: translate(calc(-50% - 3px), -50%);
  transform: translate(calc(-50% - 3px), -50%);
}
[data-tootik][data-tootik-conf*="multiline"]:after {
  min-width: 180px;
  text-overflow: clip;
  white-space: normal;
  word-break: break-word;
}
[data-tootik][data-tootik-conf*="delay"]:before {
  -webkit-transition: opacity 0.2s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.2s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.2s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.2s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s;
}
[data-tootik][data-tootik-conf*="delay"]:after {
  -webkit-transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0s;
}
[data-tootik][data-tootik-conf*="delay"]:focus:before,
[data-tootik][data-tootik-conf*="delay"]:hover:before {
  -webkit-transition: opacity 0.2s cubic-bezier(0.73, 0.01, 0, 1) 0.5s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.5s;
  transition: opacity 0.2s cubic-bezier(0.73, 0.01, 0, 1) 0.5s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.5s;
  transition: opacity 0.2s cubic-bezier(0.73, 0.01, 0, 1) 0.5s,
    transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.5s;
  transition: opacity 0.2s cubic-bezier(0.73, 0.01, 0, 1) 0.5s,
    transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.5s,
    -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.5s;
}
[data-tootik][data-tootik-conf*="delay"]:focus:after,
[data-tootik][data-tootik-conf*="delay"]:hover:after {
  -webkit-transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s;
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s;
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s,
    transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s;
  transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s,
    transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s,
    -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1) 0.4s;
}
[data-tootik][data-tootik-conf*="shadow"]:after {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}
[data-tootik][data-tootik-conf*="no-fading"]:after,
[data-tootik][data-tootik-conf*="no-fading"]:before {
  -webkit-transition: none;
  transition: none;
}
[data-tootik][data-tootik-conf*="no-arrow"]:before {
  display: none;
}
[data-tootik][data-tootik-conf*="square"]:after {
  border-radius: 0;
}
[data-tootik][data-tootik-conf*="invert"]:after {
  color: #000;
  background: #fff;
}
[data-tootik][data-tootik-conf*="invert"]:before {
  border-top-color: #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="invert"][data-tootik-conf*="right"]:before {
  border-top-color: transparent;
  border-right-color: #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="invert"][data-tootik-conf*="bottom"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #fff;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="invert"][data-tootik-conf*="left"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #fff;
}
[data-tootik][data-tootik-conf*="success"]:after {
  background: #8bc34a;
}
[data-tootik][data-tootik-conf*="success"]:before {
  border-top-color: #8bc34a;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="success"][data-tootik-conf*="right"]:before {
  border-top-color: transparent;
  border-right-color: #8bc34a;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="success"][data-tootik-conf*="bottom"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #8bc34a;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="success"][data-tootik-conf*="left"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #8bc34a;
}
[data-tootik][data-tootik-conf*="info"]:after {
  background: #29d2e4;
}
[data-tootik][data-tootik-conf*="info"]:before {
  border-top-color: #29d2e4;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="info"][data-tootik-conf*="right"]:before {
  border-top-color: transparent;
  border-right-color: #29d2e4;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="info"][data-tootik-conf*="bottom"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #29d2e4;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="info"][data-tootik-conf*="left"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #29d2e4;
}
[data-tootik][data-tootik-conf*="warning"]:after {
  background: #f87d09;
}
[data-tootik][data-tootik-conf*="warning"]:before {
  border-top-color: #f87d09;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="warning"][data-tootik-conf*="right"]:before {
  border-top-color: transparent;
  border-right-color: #f87d09;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="warning"][data-tootik-conf*="bottom"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #f87d09;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="warning"][data-tootik-conf*="left"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #f87d09;
}
[data-tootik][data-tootik-conf*="danger"]:after {
  background: #e91e63;
}
[data-tootik][data-tootik-conf*="danger"]:before {
  border-top-color: #e91e63;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="danger"][data-tootik-conf*="right"]:before {
  border-top-color: transparent;
  border-right-color: #e91e63;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="danger"][data-tootik-conf*="bottom"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #e91e63;
  border-left-color: transparent;
}
[data-tootik][data-tootik-conf*="danger"][data-tootik-conf*="left"]:before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #e91e63;
}
[data-tootik][data-tootik=""]:after,
[data-tootik][data-tootik=""]:before {
  display: none;
}
