body {
    height: 100%;
    width: 100%;
    background-color: rgb(212, 243, 233);
}

#result {
    display: block;
    color: rgb(62 108 110);
    font-size: 25px;
}

.container {
    text-align: center;
}

.container h1 {
    color: rgb(62 108 110);
}

.inner-container {
    padding: 10px;
}

.inner-container input {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(62 108 110);
    border-radius: 10px;
}

.center {
    justify-content: center;
    text-align: center;
}

.btn {
    padding: 7px 20px;
    border: 2px solid rgb(62 108 110);
    border-radius: 5px;
    text-align: center;
    background-color: cadetblue;
    font-size: 15px;
}

#hints {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
    margin: 0 20vw;
}

.card-title {
    font-size: 20px;
}

h5 {
    color: rgb(62 108 110);
}

.hint input {
    margin: 2px 0px;
    padding: 5px 0px;
    border: 2px solid rgb(62 108 110);
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    #hints {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 10px;
    } 
}

@media only screen and (max-width: 510px) {
    #hints {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 50px;
    } 
}