* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.car {
    height: 120px;
    border-radius: 10px;
    width: 50px;
    position: absolute;
    bottom: 120px;
    background: url(car2.jpg);
    background-repeat: no-repeat;
    background-size: 50px 120px;
}

.carGame {
    width: 100%;
    height: 100vw;
    background: blue;
    /*background: url(back.jpg);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lines {
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 190px;
}

.gameArea {
    height: 100vh;
    width: 400px;
    background: #2c3456;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-right: 7px dashed #c8d6e5;
    border-left: 7px dashed #c8d6e5;
}

.enemy {
    /*background-color: blue;*/
    height: 100px;
    border-radius: 10px;
    width: 50px;
    position: absolute;
    bottom: 120px;
    background: url(car.png);
    background-repeat: no-repeat;
    background-size: 50px 100px;
}

.score {
    position: absolute;
    top: 15px;
    left: 40px;
    background: #10ac84;
    widows: 300px;
    height: 50px;
    width: 120px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: fantasy;
    box-shadow: 0 5px 5px #777;
}

.startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ee5253;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    font-family: carfont;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: upper;
    box-shadow: 0 5px 5px #777;
}