@import url(https://fonts.googleapis.com/css?family=Tsukimi+Rounded:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: aliceblue;
    background-color: #121212;
    font-family: "Tsukimi Rounded";
}

h1{
    display: flex;
    justify-content: center;
    font-size: 7rem;
    padding-top: 10vh;
    color: rgb(247, 111, 111);

}
.main{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
label{
    font-size: 2.5rem;
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
}

#mname,#fname{
    width: 20vw;
    height: 3.6vh;
    border-radius:4px;
    font-family:Montserrat;
    font-weight: bolder;
    font-size: 1.8rem;
}

.btn {
    margin-top: 2vh;
    background: #f76f6f;
    background-image: -webkit-linear-gradient(top, #f76f6f, #439ae6);
    background-image: -moz-linear-gradient(top, #f76f6f, #439ae6);
    background-image: -ms-linear-gradient(top, #f76f6f, #439ae6);
    background-image: -o-linear-gradient(top, #f76f6f, #439ae6);
    background-image: linear-gradient(to bottom, #f76f6f, #439ae6);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #f0f8ff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #f76f6f);
    background-image: -moz-linear-gradient(top, #3cb0fd, #f76f6f);
    background-image: -ms-linear-gradient(top, #3cb0fd, #f76f6f);
    background-image: -o-linear-gradient(top, #3cb0fd, #f76f6f);
    background-image: linear-gradient(to bottom, #3cb0fd, #f76f6f);
    text-decoration: none;
  }

.lds-heart {
    visibility: hidden;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: rgb(248, 92, 92);
    animation: lds-heart 1.5s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: rgb(244, 100, 100);
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  


.result{
    display: none;
    font-size: 1.5rem;
    color: rgb(208, 102, 229);
}

/* Optimising for different displays */
@media screen and (max-width: 1024px) {
    #mname,#fname{
        width: 30vw;
     }
  }

@media screen and (max-width: 768px) {
    h1{
        font-size: 5rem;
    }
    #mname,#fname{
        width: 40vw;
     }
  }

@media screen and (max-width: 425px) {
    h1{
        font-size: 3.4rem;
    }
    label{
        font-size: 1.7rem;
    }
    #mname,#fname{
        width: 60vw;
     }
  }
@media screen and (max-width: 320px) {
    h1{
        font-size: 3.1rem;
        padding-top: 6vh;
    }
    label{
        font-size: 1.5rem;
    }
    #mname,#fname{
        width: 60vw;
     }
  }