*{
  font-family: "Tenor Sans", cursive;
  align-self: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("./Assets/Background.svg");
  color: rgb(0, 0, 0);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  width: 75%;
}

#audio-upload {
  display: none;
}

.upload-label {
  cursor: pointer;
  width: 7%;
  margin-top: 20px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

canvas {
  width: 70%;
  display: flex;
  margin: auto;
  aspect-ratio: 500 / 150;
}

button {
  background-color: transparent;
  color: #282c34;
  border: none;
  width: 7%;
  cursor: pointer;
}
img {
  transition: transform .7s ease-in-out;
}
img:hover {
  transform: rotate(360deg);
}s

label {
  display: block;
  margin-top: 10px;
  align-self: center;
}

#seek-bar {
  width: 70%;
  margin-top: 20px;
}

#seek-container
{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

#navbar
{
  display: flex;
  width: 100%;
}

#logo
{
  width: 10%;
  margin: 1rem;
}