body {
    margin: 10;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: url('https://ideogram.ai/assets/progressive-image/balanced/response/gbfrHHRRSAeEt7Si6GCOuw');
background-size: cover;
background-repeat: no-repeat;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;

 
}

.knife {
    position: absolute;
    width: 150px;
    height: 150px;
    background: url('knife.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
}
.fruit {
    width: 100px;
    height: 100px;
    background-size: cover;
    position: absolute;
    transition: background-color 0.3s ease-out;
    border-radius: 50%;
}
.play-again {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #551363;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: none;
}
.start-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    background-color: #0f296b;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: block;
}