* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.4em;
  font-family: 'Lobster Two', cursive;
}

body {
  counter-reset: game;
  text-align: center;
  background: linear-gradient(to top, #66ffff 0%, #ff66cc 100%);
  font-family:"Lobster Two", "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #333;
}

input:checked {
  counter-increment: game;
}

.total-count::after {
  content: counter(game);
}

h2 {
  font-size: 1em;
  margin: -0.5em auto 3em;
  font-weight: 400;
}

.total-count {
  font-size: 1.75em;
  position: absolute;
  top: 1.75em;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 300;
}

.game-area {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  min-height: 550px;
  max-height: 700px;
  margin: 0 auto;
  padding-left: 0;
}

li {
  width: calc(33% - .5em);
  margin-bottom: 1em;
  height: 10em;
  list-style: none;
  position: relative;
  outline: 4px solid white;
  background: #64ddf3;
}
li:nth-child(1) input {
  filter: hue-rotate(182.3269839352deg) brightness(1.8431846449);
  -webkit-animation-duration: 0.6893726467s;
          animation-duration: 0.6893726467s;
}
li:nth-child(2) input {
  filter: hue-rotate(304.907222228deg) brightness(1.7994795391);
  -webkit-animation-duration: 1.9020913746s;
          animation-duration: 1.9020913746s;
}
li:nth-child(3) input {
  filter: hue-rotate(350.9431341483deg) brightness(1.0147638206);
  -webkit-animation-duration: 0.5695705136s;
          animation-duration: 0.5695705136s;
}
li:nth-child(4) input {
  filter: hue-rotate(203.4964377809deg) brightness(1.5026314054);
  -webkit-animation-duration: 3.8304950289s;
          animation-duration: 3.8304950289s;
}
li:nth-child(5) input {
  filter: hue-rotate(161.1197599659deg) brightness(1.4351569954);
  -webkit-animation-duration: 2.1501919749s;
          animation-duration: 2.1501919749s;
}
li:nth-child(6) input {
  filter: hue-rotate(12.4924004559deg) brightness(1.7511445476);
  -webkit-animation-duration: 4.4065151799s;
          animation-duration: 4.4065151799s;
}
li:nth-child(7) input {
  filter: hue-rotate(55.3324329468deg) brightness(1.9880279668);
  -webkit-animation-duration: 2.9131573864s;
          animation-duration: 2.9131573864s;
}
li:nth-child(8) input {
  filter: hue-rotate(91.013926594deg) brightness(1.2861136995);
  -webkit-animation-duration: 3.1745270376s;
          animation-duration: 3.1745270376s;
}
li:nth-child(9) input {
  filter: hue-rotate(215.5700445639deg) brightness(1.915361505);
  -webkit-animation-duration: 3.2222974684s;
          animation-duration: 3.2222974684s;
}

input[type=checkbox] {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: crosshair;
  background: radial-gradient(red 10%, white 10%, white 30%, red 30%, red 50%, white 50%, white 80%, red 80%, red 100%);
  border-radius: 50%;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 6px solid red;
  -webkit-animation: hide-target infinite alternate ease-in-out;
          animation: hide-target infinite alternate ease-in-out;
  z-index: 1;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  background-color: black;
  height: 50%;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 6px);
  margin: 0 auto;
  z-index: -1;
}
input[type=checkbox]:focus {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type=checkbox]:checked {
  pointer-events: none;
  filter: grayscale(1) opacity(0.75);
  -webkit-animation: none;
          animation: none;
}
input[type=checkbox]:checked:after {
  content: "+1!";
  padding: 0.5em;
  margin: 1em 0 0 1.5em;
  font-size: 2.5em;
  font-weight: 600;
}

.shield {
  background: #724c20;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: all;
  z-index: 100;
}

@-webkit-keyframes hide-target {
  0% {
    top: 0;
  }
  25% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}

@keyframes hide-target {
  0% {
    top: 0;
  }
  25% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
.game-over {
  height: 100%;
  width: 100%;
  display: block;
  
  pointer-events: all;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 200;
  -webkit-animation: appear 0.25s forwards;
          animation: appear 0.25s forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  background-image: url("bkg.jpg");
}
.game-over h1 {
  padding: 1em 0 3.5em;
  
}

@-webkit-keyframes appear {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes appear {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.play-again {
  color: #2032ff;
  padding: 0.5em 1em;
  font-size: 2.5em;
  font-weight: 700;
}

small a {
  margin-bottom: 2em;
  display: block;
  color: #222;
}