@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body{
    background: #e3e8ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
}

button{
    color: darkgreen;
    border: 2px solid green;
    background: none;
}


button {
    /* position: absolute; */
    /* top: 5rem; */
    /* left: 42rem; */
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-family: math;
    border-radius: 0.6rem;
}

.instructions{
     border-radius: 1rem;
    position: absolute;
    font-size: 30px;
    left: 10px;
    top: 75px;
    width: fit-content;
    font-family: math;
    color: darkgreen;
    border: 2px solid green;
    background: none;
    padding: 0.5rem 1rem;
   }


button:hover {
    cursor: pointer;
    filter: drop-shadow(2px, 2px, 2px black);
    background-color: black;
    color: white;
    transition: .8s ease;
    box-shadow: 5px 5px 5px rgb(75, 75, 239);
}

#scoreBox{
    border-radius: 1rem;
    border: 2px solid #9E9E9E;
    /* position: absolute; */
    font-size: 30px;
    /* right: 40px; */
    /* top: 75px; */
    font-family: math;
    padding: 8px 12px;
}

#HiScore{
    border-radius: 1rem;
    /* position: absolute; */
    font-size: 30px;
    /* right: 25px; */
    border: 2px solid #9E9E9E;
    /* top: 125px; */
    font-family: math;
    padding: 8px 12px;
}

#board{
    position: absolute;
    top: 23%;
    border-radius: 1.5rem;
    background: #0c4522;
    width: 75vmin;
    height: 75vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.head{
    background:red;
    transform: scale(1.02);
    border: 2px solid purple;
    border-radius: 4px;
}

.snake{
    background: red !important; 
    border-radius:45%;
}

.food{
    background: brown;
    border: none;
    border-radius:8px;
}


h1 {
    margin: 0.5rem;
}

p {
    margin: 0.5rem;
}
.heading{
    color: aliceblue;
    margin: auto;
    display: inline;
    font-size: 2rem;
    margin-left: 41%; 
}

a{
    position: relative;
    font-size: 30px;
    
}
.scores{
    display: flex;
    width: 70vw;
    position: absolute;
    top: 4rem;
    justify-content: space-evenly;
}
body{
    height: 100%;
    overflow-y: hidden;
}

.fas{
    margin-left: 20px;
}
