body {
  margin: 0;
  overflow: hidden;
  background: #111;
  color: #ccc;
}
#canvas {
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  width: 960px;
  height: 600px;
  transform: translate(-50%, -35%);
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  cursor: none;
  margin: auto;
}
:fullscreen {
  width: 100%;
  height: 100%;
}
