.cursor {
    z-index: 999;
    position: fixed;
    background: #23bdf5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #23bdf5,
        0 0 60px #23bdf5,
        0 0 100px #23bdf5;
    animation: colors 1s infinite;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor:before {
    content: '';
    position: absolute;
    background: #23bdf5;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}
