.project-item-icon-box .gameTitle{
    font-size: 0.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}