#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    background-color: rgb(185, 180, 180);
    padding: 5px;
    z-index: 1000;
  }

  #logo {
    margin: 5px 5px;
    font-weight: bold;
    font-size: 1.9em;
    color: black;
  }

  #navbar ul {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #navbar ul li {
    list-style: none;
    font-size: 1.3rem;
  }

  #navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    border-radius: 8px;
  }

  #navbar ul li a:hover {
    text-decoration: underline;
    color: rgb(144, 137, 137);
  }

  #navbar::before {
    content: "";
    top: 0px;
    left: 0px;
    background-color: rgb(251, 248, 248);
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
  }

.navbar-new {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    justify-items: center;
}

.navbar-new .logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: flex;
}

.navbar-new .search-box {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

@media screen and (max-width: 920px) {
    .navbar-new {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        margin-top: 50px;
    }
    .navbar-new .logo {
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        display: flex;
    }
}


.navbarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(rgb(236, 145, 145),rgb(189, 239, 189),rgb(161, 161, 209),rgb(220, 220, 159));
}

.logox {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(17, 4, 4); 
}

.nav-linkss {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.nav-linkss li {
  margin-right: 4rem;
}


.nav-linkss a {
  text-decoration: none;
  color: #333;  
}

.nav-linkss a:hover{
  color: aqua;
  text-decoration: underline;
}



/* Media Queries for responsiveness */

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 1rem;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
