#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    transition: opacity 0.3s, background-color 0.3s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
              inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
              inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
  }
  #progress:hover{
    opacity: 1;
  background-color: #df87ef;
  animation: animate 1s linear infinite;
  }
  @keyframes animate{
    50%{
      transform: scale(1.02);
    }
  }
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: rgb(56, 51, 154);
    background: linear-gradient(90deg, rgb(159, 157, 235) 0%, rgb(212, 153, 222) 39%, rgb(253, 199, 134) 100%);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 26px;
    color: black;
  }


.progress-bar{
  position: fixed;
  width: 100%;
  height: 0.7vh;
  z-index: 10;
}

.filled{
  width: 100%;
  height: 100%;
  background-color: red;
}