html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #3d3d3d;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}