body {
  background: black;
  overflow-y: hidden;
}
section > * {
  display: inline-block;
}
header {
  margin-top: 30px;
}
#NET {
  height: 200px;
  width: 4px;
  background: white;
  border: 1px solid #333;
}
.halfcourt {
  height: 580px;
  width: 390px;
  border: 0px solid red;
  vertical-align: bottom;
}
#court {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
  height: 500px;
  border: 0px solid #fff;
  border-radius: 10px;
  background: url("../img/pikucanvas-web.jpg") bottom;
}
#p1,
#p2 {
  width: 120px;
}
#pika {
  width: 80px;
}
#max_point {
  width: 180px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: 0px solid black;
  font-weight: bold;
  background: #edf04a;
}
#container {
  position: relative;
  width: 800px;
  height: 500px;
}
#gameOver {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 200px;
  padding-bottom: 10px;
  width: 800px;
  height: 500px;
  z-index: -2;
}
#instruction {
  border-radius: 10px;
  padding-top: 50px;
  z-index: 1;
  width: 800px;
  height: 500px;
  background: white;
  font-size: 50px;
  vertical-align: center;
  background: url("../img/pikucanvas-web.jpg") bottom;
  position: absolute;
  top: 0;
  left: 0;
} /*
  #instruction >:first-child{
    margin-top:80px;
  }*/
#instruction > * {
  display: block;
  /*background:red;*/
}
.score {
  font-size: 70px;
  font-weight: bold;
  color: #f93738;
  text-shadow: 2px 2px #333333;
  -webkit-text-stroke: 1px #fff;
  padding-bottom: 260px;
}
#method {
  background: url("img/header.png") no-repeat;
  margin-left: 50px;
}
#logo {
  height: 100px;
  width: 300px;
  margin: -25px 0;
}
#logo img {
  width: 100px;
  vertical-align: bottom;
}
#method > * {
  display: inline-block;
  vertical-align: bottom;
}
#keyboard1 *,
#keyboard2 * {
  display: block;
}
#countdown {
  font-size: 250px;
  font-weight: bold;
  color: #ff0000;
  /*position:absolute;*/
  /*text-shadow: 2px 2px #fff;*/
  -webkit-text-stroke: 2px #000;
}
#animation {
  padding: 30px 0;
  height: 120px;
  text-align: center;
}
table {
  display: block;
}
tr {
  line-height: 50px;
}
#keyboard1 td,
#keyboard2 td {
  display: inline-block;
  margin: 2px;
  font-size: 35px;
  font-weight: bold;
  padding: 0px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: white;
  border: 3px solid black;
}
#instr_p1 td,
#instr_p2 td {
  width: 160px;
  font-size: 30px;
}
#keyboard1 td:hover {
  cursor: pointer;
  opacity: 0.5;
}
#keyboard2 td:hover {
  cursor: pointer;
  opacity: 0.5;
}
#keyboard1 td:nth-of-type(2) :hover {
  color: red !important;
}
td.playerCell {
  background: black !important;
  color: #fff;
}
button.gameBtn {
  border-radius: 5px;
  border: 2px solid black;
  background: #edf04a;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 20px;
}
button.gameBtn:hover {
  background: #333;
  color: #fff;
}
#userGuide {
  position: absolute;
  top: 300px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  z-index: -1;
}
#userGuide * {
  width: 100px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 5px 20px;
}
.boxModal {
  border-radius: 10px;
  background: #edf04a;
}
.titleModal {
  border-radius: 10px;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 20px;
}
.textModal {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
}
#reset {
  opacity: 0;
}
