* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select:none;
}

body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

:root {
  --primary-color: #251f4d;
  --theme-color1: #7582b2;
  --theme-color2: #036c96;
  --theme-color3: #ebf2ff;
  --shadow-color1: #352a7e;
  --shadow-color2: #101536;
  --border-color1: #080126;
  --background-col: #c6cede;
  --scrollbar-color: #555555;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(135deg, #ebf2ff 0%, #7582b2 100%);
  color: #333;
  transition: background 0.5s ease;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--shadow-color2);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}
body{
  background-color: var(--background-col);
}/* button  */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}
.heading {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  text-shadow: 2px 2px 4px var(--shadow-color1);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  /* font-weight: 400; */
  letter-spacing: 1px;
  font-style: normal;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  margin-left: 20vw;
  background-color: var(--background-col);
  transition: background-color 0.5s ease;
}
.full-width{
  margin-left: 0;
}
.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 0.2rem var(--border-color1);
  max-width: 62vw;
  max-height: 31vw;
  transition: border-color 0.3s ease;
}

.main-grid {
  display: grid;
  justify-content: center;
  margin: auto;
  background-color: inherit;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.001rem var(--border-color1);
  cursor: pointer;
  transition:0.2s ease;
}
.cell:hover{
  transform: scale(1.3);
  border:1px solid white ;
}
.cell:active{
  scale: 1;
}
.controls {
  display: flex;
  flex-direction: row; /* Ensure buttons are in a row */
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.control-button {
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease;
}

.control-button:hover {
  transform: scale(1.1);
}

.icon {
  width: calc((30vw) / 8);
  height: calc((30vw) / 8);
}

.clear-button,
.random-button {
  border: solid 0.1rem var(--border-color1);
  border-radius: 0.6rem;
  height: calc((100%) / 1.8);
  width: auto;
  text-align: center;
  padding: 0.5rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primary-color);
  background-color: var(--theme-color3);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  margin: 0 0.5rem; /* Add margin to separate buttons */
}
.clear-button {
  margin-right: 1rem;
}

.random-button {
  margin-left: 1rem;
}

.clear-button:hover,
.random-button:hover {
  box-shadow: 0.1rem 0.1rem var(--shadow-color1);
}

.clear-button:active,
.random-button:active {
  box-shadow: 0.1rem 0.1rem var(--shadow-color2);
  transform: translateY(0.1rem);
}

.icon:active {
  transform: translateY(0.1rem);
}
#toggleButton {
    color: black;
    border-radius: 5px;
    border-style: none;
    font-size: 1.7rem;
    background: none;
    margin: 1px;
    z-index: 1;
    position: absolute;
    left: 2rem;
    top: 1.8rem;
}
.sidenav {
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--border-color1);
  overflow-x:hidden;
  padding-top: 2rem;
  transition: left 0.3s ease, width 0.3s ease;
}
/* Hide the nav bar */
.hide-nav  {
  display: none;
}

.sidenav .cross {
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 15px;
  display: block;
}

.sidenav button,
.other-settings,
.other-settings-container div,
.presets-container div,
.color-themes,
.themes-container div,
.presets,
.history,
.game-rules,
.game-rules-container{
  padding: 0.8rem 0.5rem 0.8rem 1.6rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  /* cursor: pointer; */
  outline: none;
  transition: color 0.3s ease;
}

.other-settings-container .randomness-container {
  padding: 0.8rem 0.5rem 0.8rem 1.6rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.hamburger {
  position: absolute;
  left: 10px;
  top: 5px;
  display: none;
}

.has-dropdown:hover {
  color: #fff;
}

.active {
  background-color: var(--theme-color2);
  color: white;
}

.other-settings,
.color-themes,
.presets,
.history
.game-rules{
  font-size: 1.2rem;
}

.other-settings {
  font-weight: bold;
  color: var(--theme-color1);
}

.other-settings-container {
  background-color: var(--shadow-color2);
}

.themes-container,
.presets-container,
.history-container,
.game-rules-container{
  display: none;
  background-color: var(--shadow-color2);
  padding-left: 0.2rem;
}

.presets-list:active,
.history-container,
.color-label:hover{
  cursor: pointer;
}

.randomness-value {
  max-width: 80%;
  padding-bottom: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  width: 80%;
  border-radius: 0.2rem;
  background: var(--theme-color3);
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .controls {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items: center; /* Center buttons vertically */
    min-width: 25vw;
    margin: none;
  }

  .sidenav {
    height: auto;
    position: fixed;
    padding-top: 0.5rem;
    left: -250px;
    height: 100vh;
    transition: width 0.3s ease;
    width: 20rem;
    padding-top: 2rem;
  }

  .hamburger {
    position: absolute;
    left: 10px;
    top: 5px;
    display: none;
  }

  .sidenav .cross {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 10px;
    display: block;
    padding-top: 1.6rem;
  }

  .sidenav .randomness-container input {
    text-decoration: none;
    font-size: 0.8rem;
    display: block;
    border: none;
    background: none;
    width: 50%;
    text-align: center;
    cursor: pointer;
    outline: none;
    align-items: center;
  }

  .sidenav .randomness-container label {
    padding: 0.6rem 4.4rem 0.6rem 0;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    border: none;
    background: none;
    width: 50%;
    cursor: pointer;
    outline: none;
  }
  .sidenav button,
  .other-settings-container div,
  .presets-container div,
  .color-themes,
  .themes-container div,
  .presets,
  .history,

  .other-settings{
    padding: 3px;
    text-align: center;
  }
  
  .game {
    width: 100vw;
    margin: 0;
  }
  .controls {
    display: flex;
    flex-direction: row;
    min-width: 25vw;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
  }

  .clear-button,
  .random-button {
    font-size: 0.8rem; 
    /* Adjust font size for smaller screens */
    padding: 0.3rem 0.8rem; 
    /* Adjust padding for smaller screens */
    margin: 0.5rem 0; 
    /* Add margin to separate buttons vertically */
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.2rem var(--border-color1);
    max-width: 80vw;
    max-height: 82vw;
    transition: border-color 0.3s ease;
  }

  .icon {
    width: calc((30vw) / 8);
    height: calc((30vw) / 8);
  }

  .heading {
    font-size: 1.7rem;
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

/* -----------  Contact us section   ---------------------------*/
.socialIcons {
  display: none;
  justify-content: center;
  background: transparent;
  border: 2px;
  border-color: #a254e6;
  margin-top: 15px;
  margin-bottom: 15px;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  margin: 10px; /* Reduced margin */
  border-radius: 50%;
}
.socialIcons a img {
  width: 20px; /* Adjusted icon size */
  height: 20px;
}

.socialIcons a:hover {
  background-color: #4f66c1;
  transition: 0.5s;
}

.socialIcons a:hover img {
  filter: invert(1); /* Invert icon color on hover */
  transition: 0.5s;

}

/* Hover Effects  */
.warp-on-edges:hover,
.grid-toggle:hover,
.randomness-container:hover{
  color:white;
}
/*-----------------------------------------*/


/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: var(--theme-color2);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the button */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text,
.tooltip-container:focus .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--theme-color2) transparent transparent transparent;
}

@media screen and (max-width: 425px) {
  .sidenav {
    width: 100vw;
    left: -550px ;
    transition: width 0.3s ease;
  }

  #toggleButton {
    left: 1.4rem;
    top: 1rem;
  }

  .clear-button,
  .random-button {
    border: solid 0.1rem var(--border-color1);
    border-radius: 0.3rem;
    height: calc((100%) / 1.8);
    width: auto;
    text-align: center;
    padding: 0.3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 0.5rem;
    color: var(--primary-color);
    background-color: var(--theme-color3);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    margin: 0 0.5rem; /* Add margin to separate buttons */
  }

  .control-button {
    transform: scale(1.4);
  }
}