BODY { 
background: #AAAAAA;
}

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid white;
  background: url("https://i.imgur.com/CmFuOpx.png"); 
  cursor: pointer;
}

.tile1 {background-position: left top;}
.tile2 {background-position: center top;}
.tile3 {background-position: right top;}
.tile4 {background-position: left center;}
.tile5 {background-position: center center;}
.tile6 {background-position: right center;}
.tile7 {background-position: left bottom;}
.tile8 {background-position: center bottom;}
.tile9 {background: white; cursor: default;}
