@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-image: url('assets/star-trek-img.png');
  }
.container{
  margin: auto;
  padding:30px;
  box-sizing: border-box;
  background-color: white;
  width:60vw;
  height:65vh;
  border-radius:10px;
  margin-top: 20vh;
}
  h1 {
    font-family: 'Space Grotesk';
    text-align: center;
  }
  
  #question-container {
    font-family: 'Poppins';
    text-align: center;
    margin-top: 50px;
  }
  
  #score-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #result-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #submit-btn {
    font-family: 'Poppins';
    margin-top: 5px;
    border-radius: 10px;
    color:white;
    background-color: green;
    padding:10px;
    border:none;
  }
  
  #result-container h2 {
    font-family: 'Space Grotesk';
    color: red;
  }
  
  #result-container h3 {
    font-family: 'Space-Grotesk';
    color: green;
  }
  