@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 5em 3em;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper > h1 {
    font-size: 50px;
}

.num-of-tries-left {
    text-align: center;
    margin-bottom: 2em;
}

.num-of-tries-left span {
    font-weight: 600;
    font-size: 20px;
}

.container {
    font-size: 1.87em;
    display: flex;
    justify-content: space-around;
}

#letter-container {
    margin: 2em 0 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.letters {
    width: 2em;
    height: 2em;
    background-color: #ffffff;
    border: 2px solid #596164;
    border-radius: 0.3em;
    color: #596164;
    font-size: 22px;
    cursor: pointer;
}

#userInputSection {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    font-size: 30px;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    height: 100vh;
    width: 100vw;
}

#start:active {
    box-shadow: 0 0 #000000;
    transform: translateY(7px);
}

.hide {
    display: none;
}

.used {
    background-color: #f5f5f5;
    border-color: #9e9ea6;
    color: #9e9ea6;
}

.result-container > button {
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #9e9ea6;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}