/* ========================================================================================================================
The CSS for this is so massive I exceed Codepens 1mb limit. So I have had to load externally 
https://rawcdn.githack.com/jcoulterdesign/theCaretaker/a17b3dea4b8d4c39b36e28b8b0c19dde10d02605/caretakerFinal.css 

The pre processed version of this (sass) can be found on this pen. https://codepen.io/jcoulterdesign/pen/8a9b1fe7ee7d6b59a60eb8f814029fe3
It will not load however.
======================================================================================================================== */
body {
  background: black;
}

@keyframes thumbnail {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.thumbnail {
  animation: thumbnail 1s 10s forwards;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 50%;
  pointer-events: none;
  opacity: 1;
  transform: translateY(-50%);
}