*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.container p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: hsl(229, 25%, 31%);
}
