body {
    color: whitesmoke;
    font-family:fantasy;
    text-align: center;
    margin-top: 100px;
}

@font-face {
    font-family: header;
    src: url(assets/KaushanScript-Regular.ttf);
}

h1 {
    color: goldenrod;
    font-family:header;
    font-size: 50px;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#userPanel,
#computerPanel {
    flex: 1;
}

#userPanel p,
#computerPanel p {
    font-size: 18px;
}

.emojiButton {
    height: 100px;
    width: 100px;
    font-size: 75px;
}

body{
    background-color: rgb(55, 55, 223);
}

button{
    border: 0px;
    background-color: rgb(55, 55, 223);
}

#computerEmoji {
    font-size: 100px;
}

#resultPanel {
    flex: 1;
}

#resultText {
    font-size: 24px;
    margin-bottom: 20px;
}

#scoreText {
    font-size: 18px;
}
#tieText{
    font-size: 18px;
}
.btn{
    color: white;
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    margin-top: 6px;
    height: 43px;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid white;
    background-color: black;
}
.but5{
    width: 86px;
}