body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    font-size: 20px;
    margin: 0;
}

.lettersleuth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 20px;
    border: 3px solid white;
    border-radius: 3%;
    background: linear-gradient(to right, #642b73, #c6426e);
    box-shadow: 0 4px 8px rgba(157, 77, 77, 0.1);
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 48px;
}

h2 {
    margin: 10px 0;
    font-size: 32px;
}

p {
    margin: 10px 0;
    font-size: 26px;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#guess {
    padding: 10px;
    border-radius: 4%;
    background: white;
    font-size: 32px;
    color: black;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 32px;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background: white;
    color: black;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    height: 20px;
    width: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 25px;
}

#correctSound, #incorrectSound {
    display: none;
}

.next-button {
    margin-top: 20px;
}

#message, #scoreDisplay {
    margin-top: 20px;
    font-size: 32px;
    color: white;
}
