body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}

#guess{
    width:100%;
}

.box-input {
    position: relative;
  }
  
  .border {
    background-image: linear-gradient(to right bottom, #e300ff, #ff00aa, #ff5956, #ffb900, #fffe00);
    box-shadow: -25px -10px 30px -5px rgba(225, 0, 255, 0.5),
      25px -10px 30px -5px rgba(255, 0, 212, 0.5),
      25px 10px 30px -5px rgba(255, 174, 0, 0.5),
      -25px 10px 30px -5px rgba(255, 230, 0, 0.5);
    padding: 4px;
  }
  
  .input {
    background-color: #212121;
    max-width: 250px;
    height: 40px;
    padding: 0 19px 0 10px;
    font-size: 1.1em;
    position: relative;
    border: none;
    color: white;
    outline: 0;
    overflow: hidden;
  }
  
  .box-input::after,
  .box-input::before {
    content: "";
    width: 0px;
    height: 30px;
    position: absolute;
    z-index: -1;
  }
  
  .box-input::after {
    bottom: 0;
    right: 0;
  }
  
  .box-input::before {
    top: 0;
    left: 0;
  }
  
  .input::placeholder {
    transition: all 0.5s ease-in, transform 0.2s ease-in 0.6s;
  }
  
  .input:focus::placeholder {
    padding-left: 165px;
    transform: translateY(-50px);
  }
  