@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.top-img{
    width: 40%;
    height: 40%;
    margin: top 20px;
    margin-bottom: 50px;
    max-width: 450px;
}
.turn{
    font-family: 'Varela', sans-serif;
    font-weight: 700;
}
h1{
    font-size: 4rem;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}
.top{
    min-height: 450px;
    background: url("images\\bg.png");
}
.top-1{
    width: 60%;
}
.start{
    margin-top: 40px;
}
.pl1 .pl2{
    font-weight: 700;
}
.playzone{
    width: 65%;
}
.dice{
    width: 30%;
}
.bottom{
    background: url("images\\bg-bottom.png");
    margin-top: 10%;
}
.text-success{
    font-family: 'Yatra One', cursive;
    font-weight: 900;
}
.player-name{
    font-family: 'Roboto', sans-serif;
}
@media(max-width : 650px){
    #landing-container{
        flex-direction: column;
        
    }
    .top-1{
        width: 100% !important;
    }
}