*{
  padding: 0;
  margin: 0;
}
body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    color: #333;
  }
  
  #word-chain {
    margin-top: 50px;
  }
  
  #input-word {
    padding: 5px;
    font-size: 16px;
  }
#Intro_page{
  position: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  transition: 0.3s ease-in;
  flex-direction: column;
}
#Intro_page h1,  #Intro_page h2{
  color: white;
  font-family: monospace;
  font-size: 2.2rem;
}
#input-word {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 1.8rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #message {
    color: #6b2222;
    font-weight: bold;
    margin: 1rem 0;
    margin-right: 4%;
    font-weight: bolder;
    font-family: cursive;
    font-size: 2rem;
  }
  
  #word-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-right: 10%;
  }
  
  #word-list li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-image: linear-gradient(to right, #fcf8e5, #f5f8e6, #eef7e7, #e8f6ea, #e3f5ec, #e3f5ec, #e3f5ec, #e3f5ec, #e8f6ea, #eef7e7, #f5f8e6, #fcf8e5);
    border-radius: 3px;
  }
  
  button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Parisienne', cursive;
    font-size: 30px;
    color: white;
    border: none;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,0.6), inset -1px -1px 4px rgba(255,255,255,0.2);
    border-radius: 5px;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    -webkit-tap-highlight-color: transparent;
  }
  
  button:hover {
    animation: rainbow 3s infinite linear;
  }
  
  @keyframes rainbow {
    to {
      filter: hue-rotate(360deg);
    }
  }
  
  button:focus {
    outline: none;
  }

  #restart-btn{
    margin-right: 10%;
  }

  #restart-btn:hover{
    animation: rainbow 3s infinite linear;
  }

  #countdown{
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 10%;
    color: #fa0c0c;
  }

  #scoredisplay{
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 10%;
    color: #fa0c0c;
  }

img{
  margin-right: 8%;
}
