.dino {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(t-rex.png);
  bottom: 0px;
  left:10px;
}

.obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(obstacle.png);
  bottom: 0px;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

#desert {
  position: absolute;
  bottom: 50%;
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}


#alert{
  position:absolute;
  bottom: 80px;;
  left:40%;
  font-size:50px;
}
h1{
  font-size: 100px;
  display:inline
}
.img{
  width:150px;height:60px;

}

.start1{
position: absolute;
left: 30%;
top:50%;
}
.start1 :hover{
  cursor:pointer;
}

