body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.dice-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.player {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}
