body {
    margin: 0;
    padding: 0;
    background-image: url('assets/background.jpg');
    overflow: hidden; 
}

.container {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; 
}


.welcome-content {
    display: flex;
    justify-content: space-between; 
    height: 100%;
}

.welcome-text {
    width: calc(50% - 10px); 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.welcome-gif-container {
    position: absolute;
    top: 65%;
    right: 20px;
    transform: translateY(-50%);
    width: 200px;
    background-color: transparent;
}

.welcome-gif {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 36px;
    padding-left: 40px;
}

.welcome-note {
    margin-bottom: 20px;
}

.rules-list {
    text-align: left;
    margin-bottom: 20px;
}

.rules-list li {
    margin-bottom: 10px;
    font-size: 20px;
}

#play-now-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#play-now-button:hover {
    background-color: #45a049;
}


.logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background-color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.welcome-text h1{
    padding-left: 40px;
}

.welcome-content p{
    padding-left: 80px;
    font-size: 20px;
}
 
h2{
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}