*{
    margin: 0;
    padding:0;
}
body{
    background-color: rgb(254, 251, 251);
    overflow: hidden;
}
.gameContainer{
    background-image: url(backgroundimagespace.jpg) ;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino{
    background-image: url(astronanut2-unscreen.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 200px;
    position: absolute;
    bottom:0;
    left: 52px;
}

.obstacle{
    width: 100px;
    height: 150px;
    background-image: url([removal.ai]_7c44869d-9a02-4ea6-a955-04cbe0cbaad7-meteroid.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}

.animateDino{
    animation: dino 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

.gameOver{
    position: relative;
    top:63px;
    font-size: 43px;
    color: #f2f0f0;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
}

#scoreCont{
    font-size: 35px;
    color: #f2f0f0;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0; 
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}