body {
    font-family: Arial, sans-serif;
    background-color: #cdedfd;
    background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
    background-size: cover;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }
  
  h1 {
    text-align: center;
    font-size: 2.7rem;
  }
  
  #question {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .img{
    width:350px;
    height: 350px;
    border-radius: 13px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  #options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .option {
    width: 350px;
    height: auto;
    margin: 5px;
    font-size: 16px;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    padding: 1rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }

  .option:hover{
    background-color: #b91372;
    background-image: linear-gradient(315deg, #b91372 0%, #6b0f1a 74%);
  }
  
  #score {
    text-align: center;
    font-size: 1.6rem;
    color: maroon;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.842);
    font-weight: bold;
    margin-top: 20px;
  }

footer{
    width:100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    text-shadow: 3px 1px gainsboro;
}

span{
    color: red;  
}

/**create media queries for responsive design */

/*media queries for mobile */

@media only screen and (max-width:540px){
  body{
    width: 100%;
    height: auto;
  }  

  #question{
    display: block;
  }


    .img{
        width: 300px;
        height: 300px;
    }
    #options{
      display: block;
    }
    .option{
        width: 100%;
        margin: 5px auto;
    }
}

/*media query for tablets*/

@media only screen and (min-width:541px) and (max-width:840px){
  body{
    width: 100%;
    height: auto;
  }  

    .img{
        width: 600px;
        height: 300px;
    }
    #options{
      display: block;
    }
    .option{
        width: 100%;
        margin: 5px auto;
    }
}




  
  