
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(207, 232, 255);
}
.wrapper{
    border-radius: 20px;
    width:795px;
    background-color: black;
    padding: 32px 40px;
    
}
.wrapper header{
    color: rgb(255, 255, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
header h2{
    font-size:35px;
}
header .column{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .column span{
    font-weight: 420;
    font-size: 18px;
    margin-right:15px;
}
.sound input{
    accent-color: #c3c018;
}
.keys-checkbox input{
    height:35px ;
    width:65px;
    cursor:pointer;
    border-radius:30px ;
    background: #118df3;
    appearance: none;
    outline:none;
    position: relative;
}
.keys-checkbox input::before{
    content: "";
    border-radius: inherit;
    position: absolute;
    background-color: rgb(137, 239, 217);
    width: 25px;
    height: 25px;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}
.keys-checkbox input:checked::before{
    left:35px;
    background-color: antiquewhite;
}
.Piano{
    display: flex;
    margin-top: 40px;
    /* padding: 20px 10px; */
    justify-content: center;
    list-style: none;
}
.Piano .key{
    list-style:none;
    /* color: rgb(143, 130, 112); */
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.Piano .white{
    width:80px;
    height:230px;
    border: 1px solid black;
    background: linear-gradient(#fff 96%,#eee 4%);
    border-radius: 9px;
   
}
.Piano .white:active{
    box-shadow:inset -5px 5px 20px rgba(0,0,0,0.2);
    background-color: linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.Piano .black{
    width:44px;
    height:140px;
    /* border: 1px solid black; */
    background: linear-gradient(#333 ,#000 );
    border-radius: 0 0 5px 5px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
}
.Piano .black:active{
    box-shadow:inset -5px -10px 10px rgba(255,255,255,0.2);
    background-color: linear-gradient(to bottom, #000 , #434343);
}
.Piano span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 1.15rem;
    text-align: center;
}
.Piano .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #A2A2A2;
    font-size: 1.13rem;
    text-align: center;
  }
  .Piano .key.hide span {
    display: none;
  }
  .Piano .black span {
    bottom: 13px;
    color: #888888;
  }
.Piano .key{
    list-style: none;
    color: rgba(174, 174, 174, 0.856);
}
.Piano .key.hide span {
    display: none;
  }
  .Piano .black span {
    bottom: 13px;
    color: #888888;
  }
  @media screen and (max-width: 815px) {
    .wrapper {
      padding: 25px;
    }
    header {
      flex-direction: column;
    }
    header :where(h2, .column) {
      margin-bottom: 13px;
    }
    .sound input {
      max-width: 100px;
    }
    .Piano {
      margin-top: 20px;
    }
    .Piano .key:where(:nth-child(9), :nth-child(10)) {
      display: none;
    }
    .Piano .black {
      height: 100px;
      width: 40px;
      margin: 0 -20px 0 -20px;
    }
    .Piano .white {
      height: 180px;
      width: 60px;
    }
  }
  @media screen and (max-width: 615px) {
    .Piano .key:nth-child(13),
    .Piano .key:nth-child(14),
    .Piano .key:nth-child(15),
    .Piano .key:nth-child(16),
    .Piano .key :nth-child(17) {
      display: none;
    }
    .Piano .white {
      width: 50px;
    }
  }