body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom right, #2f2638, #2575fc);
    color: #fff;
}

h1 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    margin-top: 20px;
    perspective: 1000px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.card.flipped {
    transform: rotateY(180deg);
    background-color: #3f51b5;
    color: #fff;
}

#game-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#game-info p {
    margin-right: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
