body {
    text-align: center;
    height: 200px;
    background-image: linear-gradient(to right, white, rgb(231, 104, 186));
}
#pokemon-cards-pack img{
    width: 600px;
    height: 500px;
    margin-top: 10px;
}
#pokemon-cards-pack h2{
    color: rgb(68, 163, 214);
}