.question-wrapper, .start {
    max-width: 500px;
    pointer-events: auto;
}
.display {
    display: block;
    pointer-events: auto;
}
.hide {
    display: none;
    pointer-events: none;
}
.f {
    display: flex;
    align-items: center;
    justify-content: center;
}
.check, .times {
    display: none;
}
.option.correct {
    background-color: #c1ffc1;
    color: green;
}
.option.correct .no {
    background-color: green;
}
.option.correct .no {
    background-color: green;
}
.option.correct .check {
    display: inline-block;
}
.option.wrong {
    background-color: #ffc1c1;
    color: rgb(181, 0, 0);
}
.option.wrong .no {
    background-color: red;
}
.option.wrong .no {
    background-color: red;
}
.option.wrong .times {
    display: inline-block;
}