body{
    box-sizing: border-box;
    background-color: rgba(146, 255, 146, 0.693);
    margin: 0;
    height: 97vh;
}
#highest-score{
    margin: 12px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 86%;
}
#game-board{
    background: url('./images/scenery.svg');
    background-size: cover;
    display: none;
}
#game-start{
    height: 450px;
    width: 800px;
    backdrop-filter: blur(12px) brightness(78%);
    text-align: center;
    font-size: 18px;
}
.name{
    margin-top: 12%;
    font-size: 24px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#game-over{
    width: 800px;
    height: 450px;
    display: none;
    backdrop-filter: blur(10px) brightness(80%);
    position: absolute;
    z-index: 3;
    text-align: center;
}
h1{
    margin-top: 18%;
    margin-bottom: 3%;
    /* color: rgb(190, 5, 5); */
    font-family: Arial, Helvetica, sans-serif;
}
button{
    width: 140px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
#score-card{
    font-size: 18px;
    margin-bottom: 3%;
}