/* Set the background for the entire HTML document to a gradient and set the text color to white */
html{
    background: linear-gradient(to bottom, #280058, #4d1591, #6834a7,#7d47be );
    color: white;
  }

h2{
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
    margin-bottom: 2vh;
    margin-top: 3vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Style the main game container */
  #gameContainer{
    display: flex;
    width:100%;
    height: 100%;
    margin-top: 2vh;
    align-content: center;
    justify-content: center;
  }
  /* Style the score tables */
  .table {
    display: table;
    width:30%;
    background: linear-gradient(to bottom,rgb(2, 81, 155), rgb(25, 114, 197), rgb(52, 158, 239));
    cursor:pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin: 30px;
  }
  .header {
    display: table-header-group;
    background-color: rgb(2, 81, 155);
  }
  .header-cell {
    display: table-cell;
    padding:7px;
    text-align: center;
    width: 20%;
    border-color: white;
    border: 4px outset;
    font-size: 1.1rem;
  }
  .row {
    display: table-row;
  }

  /* Add styles for the last row in the table */
  .row:last-child{
    font-size: 18px;
    font-weight: bold;
    border-top: 2px outset white;
  }
  .cell {
    display: table-cell;
    border: 3px outset;
    padding: 7px;
    text-align: center;
    width:20%;
    border-color: rgb(255, 255, 255);
    font-size: 1.1rem;
  }

  /* Style the first cell in each row */
  .cell:first-child {
    width:60%;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  #totalCaption {
    font-size: 18px;
  }
  #bonusCaption {
    border-bottom: 2px solid rgb(4,83,83);
  }
  #sumCaption {
    border-top: 2px solid rgb(4,83,83);
  }
  #bonusCaption > *,#sumCaption > * {
    font-weight: bold;
  }
  
  #board{
    width:60%;
    min-height: 80%;
    margin: 20px;
    border: 6px ridge #e7e7e7;
    background: radial-gradient( rgb(237, 171, 167), rgb(242, 149, 144), rgb(243, 123, 116));
    background-blend-mode: darken;
  }
  #playArea {
    min-height: 80%;
    display: flex;
    justify-content: flex-end;
    border-top: 6px ridge #e7e7e7;
    border-bottom: 6px ridge #e7e7e7;
  }
  .dice-container {
    height: 9.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2%;
    background: linear-gradient(to bottom, #cd0473, #e655a5);
    margin-top: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
  }
  .dice {
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
    transition: all 0.4s linear;
    z-index: 1000;
  }
  .face {
    width:100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s linear;
  }
  .face:hover {
    transform: scale(1.1);
  }
  #endGameMessage {
    align-self: center;
    color: white;
    font-size: 80px;
    width:100%;
    text-align: center;
    transform: translateX(5%);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #roll {
    width:5.7rem;
    height:5.7rem;
    border-radius: 100%;
    border:transparent;
    align-self:baseline;
    color: whitesmoke;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("/assets/images/Yahtzee_button.png");
    background-size: cover;
    cursor: pointer;
    background-color: rgb(243, 123, 116);
  }
  #roll:hover {
    transform: scale(1.1);
  }