:root{
    --background: #d9d9d9;
    --color: #ffc300;
    --accent: #000814;
    --shade: #001d3d;
}
*{
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
body{
    background-color:#fdf0d5; 
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    position: fixed;
    bottom: 0;
    right: 0;
    height:300px;
    object-fit: cover;
}
h1{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    color: var(--accent);  
}
#scoreBox{
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 20px;
}
#hiscoreBox{
    position: absolute;
    top: 80px;
    left: 200px;
    font-size: 20px;
}
#board{
    background: linear-gradient(var(--accent), #669bbc);
    width: 90vmin;
    height: 92vmin;
    margin-top: 25px;
    box-shadow: 0px 0px 10px 2px rgb(25, 26, 27) ;
    display:grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.head{
    background: linear-gradient(#780000, #c1121f);
    box-shadow: 0px 0px 5px 2px rgb(25, 26, 27) ;
    border: 0.25vmin solid black;
    border-radius: 9px;
    transform:scale(1.02);

}
.snake{
    background-color: #c1121f;
    box-shadow: 0px 0px 5px 2px rgb(25, 26, 27) ;
    border-radius: 12px;
}
.food{
    background: linear-gradient(#ee9b00, #e9d8a6);
    border: 0.5vmin solid #e76f51;
    border-radius: 8px;
}
.back{
    all: unset;
    position:fixed;
    top:25px;
    right:30px;
    background-color: var(--accent);
    color: var(--color);
    padding: 15px;
    border-radius: 1rem;
}

@media  screen and (max-width:1000px) {
    .body{
        flex-direction: column;
        margin: 8% 0;
    }
    img{
        display: none;
    }
    h1{
        position: relative;
        text-align: center;
    }
    #scoreBox{   
        left: 5px;
    }
    #hiscoreBox{
        left:100px;
    }
    .back{
        top:70px;
        right:25px;
        font-size: 10px;
    }
}