body { 
    margin: 0; 
    padding: 0; 
    background: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
canvas { display: block; margin: 0 auto; background: #644e39; }
@media screen and (min-width: 0px) and (max-width: 660px) {
    #fork { display: none; }
}

@media screen and (min-width: 660px) {
    #fork { display: block; }
}
