/* Default settings */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: cursive;
    align-items: center;
    text-align: center;
}

body {
    background-color: #151515;
}

/* Styling the header of the game */
h1 {
    margin-top: 10px;
    color: red;
}

p {
    color: salmon;
}

a {
    color: salmon;
}

a:hover {
    text-decoration: underline;
}

/* Loading page and game page styling */
#loading-page,
table {
    width: 82vh;
    height: 82vh;
    background-color: #252525;
    position: absolute;
    transform: translate(-50%, 0);
    top: 15%;
    left: 50%;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 14px #050505;
}

#loading-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

/* Adding styling to the input box */
input {
    width: 200px;
    height: 50px;
    background-color: #282828;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: skyblue;
    cursor: pointer;
}

input:hover {
    box-shadow: 4px 4px 14px #050505;
}

input:focus::placeholder {
    color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Message element styling */
#msg {
    color: mediumvioletred;
    font-size: 1.5rem;
    transition: all 0.4s;
}

/* Start game button styling */
#start-btn {
    background-color: #282828;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    color: skyblue;
}

#start-btn:hover {
    font-size: 1.6rem;
    cursor: pointer;
    box-shadow: 4px 4px 14px #050505;
}

/* Styling the cells of the board of the game */
.cell {
    width: 60px;
    height: 60px;
    background-color: #404040;
    color: skyblue;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #252525;
    user-select: none;
    border-radius: 5px;
    text-align: center;
    transition: left 0.3s, top 0.3s;
}

/* Showing the time and moves number */
#time,
#moves {
    width: 30vh;
    height: 30vh;
    background-color: #404040;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: left 0.5s, top 0.5s;
    color: salmon;
}

#time {
    left: 15%;
}

#moves {
    right: 0%;
}

#moves-done {
    font-size: 2.5rem;
}

#timer {
    font-size: 2.5rem;
}