#ui {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    b {
        font-size: 24px;
    }
}

#score {
    display: inline-block;

    &.-success {
        animation: bump-score 250ms ease;
    }
}

#combo {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 12px 16px;
    background: $color-green-dark;
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 4px 0 rgba($color-black, 0.3);
    border-radius: 4px;
    opacity: 0;
    transform: translateX(-50%) scale(0.5);
    text-align: center;

    &.-success {
        opacity: 1;
        transform: translateX(-50%) scale(1);
        transition: all 0.2s ease;
    }
}

@keyframes bump-score {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}
