$color-white: #fff;
$color-black: #000;

$color-blue-dark: #00315f;
$color-orange: #e35b5b;
$color-green: #8be895;
$color-green-dark: #2f9658;

$background-color: #f1e9ff;

$primary-color-1: $color-blue-dark;

$error-color: #d06e6d;
$success-color: #6db58a;

$color-elf: #48848e;
$color-dwarf: #923f21;
$color-human: #ddae62;
$color-orc: #0c602d;
