body{
    text-align: center;
    background-color: #191825;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    overflow: hidden;
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: #865DFF;
    font-size: 45pt;
}
#board{
    background-color: black;
    border: 5px solid #0F6292;
    border-bottom: 0px;
    height: 600px;
    width: 600px;
}