* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #08002eac, #243cb7);
    overflow: hidden;
}

.container {

    position: absolute;
    /* responsive */
    width: auto;
    margin-top:55px;
    /* min width for device is 300 px */
    min-width: 300px;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    font-family: "poppins", sans-serif;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

input[type="text"] {
    width: 90px;
    font-weight: 600;
    padding: 20px 0;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #202020;
    color: #53c2e3;
}

button:not(.reset-btn) {
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

p {
    font-weight: 400;
}

.reset-btn {
    border: none;
    font-size: 18px;
    padding: 0.25em 0.75em;
    border-radius: 5px;
    font-weight: 600;

    background-color: #ff7171;
    color: white;

    margin-top: 20px;

    border: 1px solid rgb(8, 8, 8);
}
