/* Import Google Font - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}

.wrapper {
    padding: 25px;
    border-radius: 10px;
    background: #F8F8F8;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.cards,
.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-13px);
    }
    40% {
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
}

.card .view {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s linear;
}

.card .front-view img {
    width: 19px;
}

.card .back-view img {
    max-width: 45px;
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
    .cards {
        height: 350px;
        width: 350px;
    }
    .card .front-view img {
        width: 17px;
    }
    .card .back-view img {
        max-width: 40px;
    }
}


/* === Media start =====*/

.icons {
    display: inline-flex;
}

.icons a {
    margin: 0 25px;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.icons a .layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.icons a:hover .layer {
    transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.icons a .layer span.fab {
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
    opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
    color: #4267B2;
    border-color: #4267B2;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text {
    color: #1DA1F2;
    border-color: #1DA1F2;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text {
    color: #E1306C;
    border-color: #E1306C;
}

.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text {
    color: #2867B2;
    border-color: #2867B2;
}

.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text {
    color: #ff0000;
    border-color: #ff0000;
}

.icons a:hover:nth-child(1) .layer span {
    box-shadow: -1px 1px 3px #4267B2;
}

.icons a:hover:nth-child(2) .layer span {
    box-shadow: -1px 1px 3px #1DA1F2;
}

.icons a:hover:nth-child(3) .layer span {
    box-shadow: -1px 1px 3px #E1306C;
}

.icons a:hover:nth-child(4) .layer span {
    box-shadow: -1px 1px 3px #2867B2;
}

.icons a:hover:nth-child(5) .layer span {
    box-shadow: -1px 1px 3px #ff0000;
}

.icons a .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icons a:hover .text {
    bottom: -35px;
    opacity: 1;
}


/*===== Media end ======*/

/* @media screen and (max-width: 530px) {
    .cards {
        height: 300px;
        width: 220px;
    }
    .card .front-view img {
        width: 15px;
    }
    .card .back-view img {
        max-width: 35px;
    }
} */