body
{
    min-height: 0px;
}

#bg, #vignette-left, #vignette-right, #vignette-bottom, #umbrella
{
    display: block;
}

#upgrade
{
    display: block;
    width: 623px;
    margin: 40px auto;
    padding-top: 40px;
}

#upgrade-header
{
    background: url(../images/page/upgrade-js.png);
    width: 439px;
    height: 444px;
    margin: 0px auto;
}

.video,
.magasin,
#game_top ,
#upgrade-button {
    display: none;
}

.content_old_ie {
    display: block;
}

#lsWarning {
    display: none;
}