/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    font-family: math;
}


/* Container Section */
.container {
    min-height: 100vh;
    padding-bottom: 20px;
    background-color: #607D8B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Profile-Container Section */
#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-container .hide {
    display: none;
}

#profile-container h1 {
    margin-top: 25px;
    color: aliceblue;
    font-size: 54px;
}

#profile-container h3 {
    display: inline-block;
    margin: 6px;
    padding: 15px 10px;
    background-color: rgb(255, 181, 251);
    font-size: 24px;
    background: none;
    font-size: 21px;
    border-radius: 20px;
    color: #fdf5e6e0;
}

#profile-container button {
    font-size: 1rem;
    color: burlywood;
    margin: 10px 5px;
    padding: 15px 50px;
    background-color: aliceblue;
    border-radius: 1rem;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px rgba(235, 240, 246, 0.4);
}

#profile-container button:hover {

    box-shadow: none;
    background: burlywood;
    color: aliceblue;
}

#profile-container button:active {
    background-color: burlywood;
}

#profile-container button .hide {
    display: none;
}


/* Game-Container Section */
#game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 150px;
}

#game-container .square {
    height: 200px;
    width: 20%;
    margin: 15px 10px;
    border: 2px solid burlywood;
    border-radius: 15px;
}

#game-container .mole {
    background: url(../Assets/mole.jpg);
    background-size: cover;
}

#game-container.hide {
    display: none;
}


/* CSS Properties For Maximum Width 1300px */
@media (max-width: 1300px) {

    /* Game-Container Section (For Maximum Width 1300px) */
    #game-container .square {
        height: 180px;
        width: 20%;
    }
}


/* CSS Properties For Maximum Width 900px */
@media (max-width: 900px) {

    /* Game-Container Section (For Maximum Width 900px) */
    #game-container .square {
        height: 150px;
        width: 27%;
    }
}


/* CSS Properties For Maximum Width 600px */
@media (max-width: 600px) {

    /* Game-Container Section (For Maximum Width 600px) */
    #game-container .square {
        height: 115px;
        width: 25%;
    }
}


/* CSS Properties For Maximum Width 500px */
@media (max-width: 500px) {

    #profile-container h3 {
        margin: 8px 3px;
        padding: 18px 10px;
        font-size: 18px;
    }

    #game-container {
        padding: 0px 10px;
    }

    /* Game-Container Section (For Maximum Width 500px) */
    #game-container .square {
        height: 100px;
        width: 30%;
    }
}


/* CSS Properties For Maximum Width 400px */
@media (max-width: 400px) {

    /* Profile-Container Section (For Maximum Width 400px) */
    #profile-container h1 {
        font-size: 40px;
    }

    #profile-container h3 {
        padding: 18px 10px;
        font-size: 18px;
    }

    #profile-container .highScore {
        display: block;
        text-align: center;
        font-size: 25px;
    }

    #profile-container button {
        padding: 15px 25px;
    }

    /* Game-Container Section (For Maximum Width 400px) */
    #game-container {
        padding: 0px 15px;
    }

    #game-container .square {
        height: 90px;
        width: 40%;
    }
}


/* CSS Properties For Minimum Width 1650px */
@media (min-width: 1650px) {

    /* Game-Container Section (For Minimum Width 1650px) */
    #game-container .square {
        height: 300px;
        width: 20%;
    }
}


/* CSS Properties For Minimum Width 2500px */
@media (min-width: 2500px) {

    /* Game-Container Section (For Minimum Width 2500px) */
    #game-container .square {
        height: 275px;
        width: 10%;
    }
}


