body {
    background: #38e790;
	margin: 0;
	padding: 0;
}

canvas{
	margin:0 10% 0 10%;
    border: 3px solid #050101;
}
.Header{  
    margin-top: 2rem;
    margin-left: 30rem;
    margin-bottom: 1rem;   
    text-align: center;
    font-family:  'Ubuntu', sans-serif;
    font-size: 3vw;
    color:rgb(247, 29, 18) 	;
    display: flex;
    justify-content: center;
    border: 3px solid #f4faf7;
    border-radius: 30px;
    background-color: aqua;
    width: 500px;
    
    
}

.instructions1 {
    width:280px;
    height:40px;
    text-align: center;
    margin-left:11rem;
    margin-top:1rem;
    float: left;
    font-family: sans-serif;
    color: #faf5f5; 
    border: 4px solid hsl(0, 0%, 6%);
    background-color: #c659ee;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;  
}
.instructions2 {
    width:280px;
    height:40px;
    text-align: center;
    margin-left:10rem;
    margin-top:1rem;
    float: left;
    font-family: sans-serif;
    color: #f4f4f4;
    border: 4px solid hsl(0, 0%, 6%);
    background-color: #c659ee;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.instructions3 {
     width:250px;
     height:40px;
     text-align: center;
     margin-left:11rem;
     margin-top:1rem;   
    float: left;
    font-family: sans-serif;
    color: #f4eeee;
    border: 4px solid hsl(0, 0%, 6%);
    background-color: #c659ee;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;    
}

.score {
    width: 200px;
    height: 30px;
    text-align: center;
    margin-left: 40rem;
    margin-bottom: 1rem;
    color: #050101;
    font-size: 1.5em;
    border: 3px solid #f41d1d;
    background-color: #ecf413;
    border-radius: 40px;
    font-family: 'Ubuntu', sans-serif;
    
}

#game-over, #game-over-overlay {
    margin:0 10% 0 10%;
    width: 1200px;
    height: 520px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4.1em;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 350px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

.red { 
	color: red;
}