.display-4{
    text-align: center;
    background-color: palevioletred;
    }
#randomNumDiv{
    background-color:gold;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 150px;
}
#randomNum{
    font-size: 50px;
}
#winLoss{
    background-color: gold;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 150px;
}

#wins{
    font-size: 40px; 
}
#loses{
    font-size: 40px; 
}

#totalScore{
    background-color:gold;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 150px;
}
#score{
    font-size: 60px; 
}
