body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200530/pngtree-cute-hand-drawn-style-mathematics-education-pink-plaid-background-image_337364.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#game-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#answer {
    width: 100px;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

#result, #score, #timer {
    margin-top: 20px;
    font-size: 18px;
}

#instructions {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}

#game {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}
