* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2013/08/09/05/54/layer-170971_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    background-image: url('https://cdn.pixabay.com/photo/2017/02/20/12/26/banner-2082331_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-shadow: 5px 15px 25px black;
    width: 66%;
    border: 2px solid white;
    padding: 0.5%;
    margin: 2% 0;
}

p {
    margin: 1% 0;
    font-weight: 700;
}

p a {
    color: black;
}

p a:hover {
    text-decoration: underline;
}

#left {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 25%;
    top: 60%;
    transform: translate(-25%, -50%);
    box-shadow: rgba(red, green, blue, 0) 0px 0px 0px 3px;
    background-image: url('https://cdn.pixabay.com/photo/2016/04/18/16/22/watercolour-1336856_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#right {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 25%;
    top: 60%;
    transform: translate(25%, -50%);
    box-shadow: rgba(red, green, blue, 0) 0px 0px 0px 13px;
    background-image: url('https://cdn.pixabay.com/photo/2016/04/18/16/22/watercolour-1336856_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cube {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    position: absolute;
    cursor: pointer;
    background-image: url('https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}