*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body 
{
    line-height: 1;
}

html, body 
{
    font-size: 16px;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav 
{
    border-bottom: #7eb4b8 4px solid;
    width: 100%;
    padding: 2em;
    display: block;
    height: 2em;
}

.name
{
    color: #7eb4b8;
}

h1 
{
    font-size: 2em;
    display: inline-block;
    padding-left: 1em;
}

#contact 
{
    font-size: 2em;
    display: inline-block;
    padding-right: 1em;
}

#rules 
{
    position: absolute;
    z-index: 999;
    width: 31.25em;
    height: 31.25em;
    text-align: center;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
}

#rules p 
{
    margin-bottom: 1.25em;
}

#game-container 
{
    text-align: center;
    margin: 2em auto;
    width: 100vh;
    height: 80vh;
}

#game-container p 
{
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 3em;
    font-weight: 500;
    font-size: 1.5em;
}

#game-container p span 
{
    font-weight: 300;
}

#game-container p#info 
{
    display: block;
    text-align: center;
    font-size: 2em !important;
    height: 2em;
    margin-bottom: 1em;
}

#scrambled-word 
{
    font-size: 3em !important;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    display: block;
    margin-left: 48px;
    margin-bottom: 1em !important;
}

#scrambled-word p 
{
    display: block;
    width: 100%;
}

#user-guess 
{
    display: block;
    width: 20em;
    height: 3em;
    padding-left: 1em;
    margin: 0 auto 1.25em;
    border: 1px solid #000;
    outline-color: #e18a07;
    font-size: 1.1em;
}

small 
{
    font-size: 0.8em;
}

.lead 
{
    font-size: 2em;
    font-weight: 700;
}

.correct, .incorrect 
{
    font-size: 1.5em;
    font-weight: 700;
}

.correct 
{
    color: green;
    display: block;
}

.incorrect 
{
    color: red;
    display: block;
}

.hidden 
{
    visibility: hidden;
}

button 
{
    cursor: pointer;
    width: 12em;
    height: 3em;
    outline: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
}

#submit, #play-btn 
{
    background: #fff;
    border: 2px solid #7eb4b8;
}

#submit:hover, #play-btn:hover 
{
    background: #7eb4b8;
    color: #fff;
    transition: 0.2s background;
}

#reset-btn 
{
    background: #fff;
    border: 2px solid #908f8f;
    /* border: none; */
    /* box-shadow: 1px 1px 1px #999; */
}

#reset-btn:hover 
{
    background: #908f8f;
    /* box-shadow: 1px 1px 1px #000; */
    transition: 0.2s background;
}

button:active 
{
    position: relative;
    top: 1px;
}