@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}

a,
a:visited {
  color: inherit;
}

#score {
  position: absolute;
  font-family: "Press Start 2P", cursive;
  font-size: 0.9em;
  color: white;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  max-width: 100px;
  text-align: center;
  line-height: 1.6em;
}

#controls {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: none;
}

#controls #buttons {
  width: 80px;
  opacity: 0;
  transition: opacity 2s;
}

#controls #instructions {
  margin-left: 20px;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  opacity: 0;
  transition: opacity 2s;
}

#controls button {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
}

#results {
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75);
  display: none;
  z-index: 51;
}

#results .content {
  max-width: 350px;
  padding: 50px;
  border-radius: 20px;
}

#result-youtube {
  display: flex;
  background-color: white;
  padding: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#result-youtube span {
  margin-top: 5px;
  margin-left: 20px;
}

.youtube,
#youtube-card {
  display: none;
  color: black;
}

#youtube-main {
  opacity: 0;
  transition: opacity 2s;
}

@media (min-height: 425px) {
  #score {
    font-size: 1.5em;
    max-width: 150px;
  }

  #controls {
    display: flex;
  }

  /** Youtube logo by https://codepen.io/alvaromontoro */
  .youtube {
    z-index: 50;
    width: 100px;
    min-width: 100px;
    height: 70px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transform: scale(0.8);
    transition: transform 0.5s;
    display: block;
    background: red;
    border-radius: 50% / 11%;
  }

  #results .youtube {
    position: relative;
    right: 0;
    bottom: 0;
  }

  .youtube:hover,
  .youtube:focus {
    transform: scale(0.9);
    color: black;
  }

  .youtube::before {
    content: "";
    display: block;
    position: absolute;
    top: 7.5%;
    left: -6%;
    width: 112%;
    height: 85%;
    background: red;
    border-radius: 9% / 50%;
  }

  .youtube::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 45px;
    height: 30px;
    border: 15px solid transparent;
    box-sizing: border-box;
    border-left: 30px solid white;
  }

  .youtube span {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .youtube:hover + #youtube-card {
    z-index: 49;
    display: block;
    position: fixed;
    bottom: 42px;
    width: 300px;
    background-color: white;
    right: 40px;
    padding: 25px 130px 25px 25px;
  }
}
