*{
    margin: 0;
    padding: 0;

}
body{
    background-color: red;
    overflow: hidden;
}

.gameContainer{
    background-image: url(bg-ghost.jpg);
    background-repeat: no repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;

}
.player{
    background-image: url(player.png);
    background-repeat: no repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 12px;
}
.ghost{
    width: 175px;
    height: 175px;
    background-image: url(ghost.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}
.animatePlayer{
    animation: player 0.6s linear;
}
.ghostAni{
    animation: ghostAni 5s linear infinite;
}
.gameOver{
    position: relative;
    top:63px;
    font-size: 53px;
    color: red;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    visibility: hidden;
}
#scoreCont{
    position: absolute;
    right: 45px;
    top: 31px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
@keyframes player{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes ghostAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
    0%{
        

    }

}
