html, body {
  padding: 0;
  margin:0;
  background: #222;
}

#c {
  position: relative; 
  margin: 0 auto; 
  width: 0;
  padding-top: 100px;
}

canvas {

}

#fps {
  position: fixed;
  bottom:0;
  left:0;
}
