body {
    background-color: #283E4A;
}

.container {
    width: 450px;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1,
h3,
h4,
h6 {
    margin-top: 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 1em;
}

p {
    font-weight: bold;
    margin-top: 5px;
    font-size: 18px;
}

p #timeUp {
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
    color: rgb(247, 44, 44);
}

input {
    border-color: #333333 !important;
    color: #333333 !important;
}

#timer {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 20px;
}

.hidden {
    display: none;
}

.misMatch {
    color: rgb(247, 44, 44);
    font-size: 14px;
}

.listNations {
    margin-top: 2rem;
    font-size: 16px;
    text-align: left;
}

.guessed-country {
    color: white;
}

/* Button Styles */

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1a7e44;
    color:white;
}
#instructions-btn:hover{
    background-color: transparent;
    }
#start-btn,
#new-game-btn {
    background-color: #1a7e44;
    color: white;
  
}

#start-btn:hover,
#new-game-btn:hover {
   background-color:#283E4A;
   
}

#easy-btn,
#medium-btn,
#hard-btn {
    background-color: #1a7e44;
    color: white;
    border: none;
    margin-top: 10px;
}

#easy-btn:hover,
#medium-btn:hover,
#hard-btn:hover {
    background-color: #6cc290;
}

/* Modal Styles */

.modal {
    position: fixed;
    bottom: 80%;
    left: 40%;
    width: 20%;
    display: flex;
    visibility: hidden;
    top: 17%;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 350px;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4285f4;
    color: white;
    border: none;
}

.modal-content button:hover {
    background-color: #3c77d5;
}


.modal.show {
    visibility: visible; /* Show the modal when the class "show" is added */
}


/* Modal Styles */
.instructions {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.instructions-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

.instructions.show {
    visibility: visible;
}

.instructions.hidden {
    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
	color: black;
}
