body {
    background-color: #393E46;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    height: 97vh;
    overflow: hidden;
}

.title{
    position: absolute;
    margin-bottom: 600px;
    color: #00B7C2;
}

#board {
    background-color: #212121;
    width: 700px;
    height: 700px;
}

ul{
 
    color: white;
    text-align: left;
}

li{
    
    margin: 1rem;
}

.startscreen{
    position: absolute;
    width: 700px;
}


.startscreen p{
    color: yellow;
}
.endscreen{
    position: absolute;
    display: none;
    color: white;
    font-size: larger;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Apply the animation to the <p> element */
.blink {
    animation: blink 1s infinite; /* Adjust the duration as needed */
}

/* Add a class to stop the animation */
.stop-blinking {
    animation: none;
}