body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("https://t4.ftcdn.net/jpg/06/82/11/67/360_F_682116704_AQqILrWaNWEEnhQe8oVoXn46aEeNLWos.jpg");
    background-size: cover; /* Cover the entire body */
    background-repeat: no-repeat; /* Do not repeat the background */
}

.container{ 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 100vh; 
} 

.game-container{ 
	width: 800px; 
	padding: 20px; 
	border-radius: 10px; 
	row-gap: 15px; 
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
	background-image: linear-gradient(90deg, #fffbd5, #ccc); 
} 

.cards-container{ 
	display: grid; 
	grid-template-rows: 125px 125px 125px; 
	grid-template-columns: 200px 200px 200px 200px; 
	grid-gap: 20px 10px; 
	place-items: center; 
} 

.heading-container{ 
	text-align: center; 
} 

.heading{
  color: #5E5DF0;
  font-family: 'Courier New', Courier, monospace;
}

.card{ 
	justify-items: center; 
	display: flex; 
	align-items: center; 
	position: relative; 
	cursor: pointer; 
} 

.outline-image{ 
	position: absolute; 
	border-radius: 10px; 
	top: 0; 
	left: 0; 
	height: 125px; 
	width: 125px; 
	border-radius: 50%; 
} 

.card-image{ 
	height: 125px; 
	width: 125px; 
	transform: rotateY(90deg); 
	transition: all ease-in 0.25s; 
	mix-blend-mode: multiply; 
} 

.progress-container{ 
	text-align: center; 
	display: flex; 
	justify-content: space-around; 
	width: 100%; 
	margin: 50px 0 20px 0; 
} 

.move-counter{ 
	padding: 10px 20px; 
	border-radius: 25px; 
	border: 1px solid #ccc; 
} 


.restart-button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.toggled .card-image { 
	transform: rotateY(0deg); 
	transition-delay: 0.25s; 
} 

.item .outline-image { 
	transition: all ease-in 0.25s; 
	transition-delay: 0.25s; 
} 
	
.toggled .outline-image { 
	transform: rotateY(90deg); 
	transition-delay: 0s; 
} 

@media screen and (max-width: 767px) { 
	.game-container{ 
		width: 100%; 
	} 
	
	.cards-container{ 
		grid-template-rows: 125px 125px 125px 125px; 
		grid-template-columns: 33% 33% 33%; 
		grid-gap: 10px 10px; 
	} 

	.outline-image{ 
		height: 100px; 
		width: 100px; 
	} 
	
	.card-image{ 
		height: 100px; 
		width: 100px; 
	} 

	.progress-container{ 
		margin: 10px 0 10px 0; 
	} 
	
}
