body,html{
	padding: 0px;
	margin: 0px;
	
}
body{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
div{
	margin: 0px;
	padding: 0px;
}
#Carrom{
	background:linear-gradient(black, brown);
	position: absolute;
	border-radius: 10px;
}
#Striker{
	position: relative;
}
.jumbotron{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 2.5px solid rgb(168, 43, 1); 
	border-style:groove;
	backdrop-filter: blur(5px);
	background: linear-gradient(rgba(255, 211, 181, 0.608),rgba(68, 1, 1, 0.577));
}

.jumbotron h3{
	text-align: center;
	color: rgb(255, 255, 255);
}
.jumbotron p{
	color:beige;

}
.mousepos{
	margin: 10px;
	align-items: center;
	text-align: center;
	background-color: rgb(252, 237, 187);
	padding: 10px;
	border-radius: 10px;
	font-weight: 600;
}
.btn-primary{
	margin: 10px;
	background-color: maroon;
	width: 100px;
	height: 40px;
	align-items: center;
	
}
.flexx{
	align-items: center;
	text-align: center;
}