*{
	background-color: black;
}
h1 {
	color: orangered;
	margin-bottom: -5px;
}
p {
	margin-bottom: -10px;
}
.ui {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row {
	display: flex;
}
.cell {
	border: none;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}
.cell:active {
	outline: none;
}
/* 3*3 Grid */
#b1 {
	/* border-bottom: 1px solid gray;
	border-right: 1px solid gray; */
	border : 1px solid burlywood;
}

#b2 {
	border : 1px solid burlywood;
}

#b3 {
	border : 1px solid burlywood;
}

#b4 {
	border : 1px solid burlywood;
}
	
#b5 {
	border : 1px solid burlywood;
}

#b6 {
	border : 1px solid burlywood;
}

#b7 {
	border : 1px solid burlywood;
}

#b8 {
	border : 1px solid burlywood;
}

#b9 {
	border : 1px solid burlywood;
}
/* Reset Button */
#but {
	box-sizing: border-box;
	width: 105px;
	height: 40px;
	border: 1px solid rgb(56, 152, 90);
	margin-left: auto;
	border-radius: 8px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: whitesmoke;
	color: rgb(64, 153, 95);
	font-size: 20px;
	cursor: pointer;
}
#but:hover{
	color:whitesmoke;
	background-color: rgb(63, 172, 109);
	transition: 0.6s ease-in-out;
	transform: scale(1.1);
}

/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	color: dodgerblue;
	font-size: 20px;
}

/* Main Container */
#main {
	text-align: center;
}

/* Game Instruction Text */
#ins {
	font-family: Verdana,Geneva,
					Tahoma, sans-serif;
	color: rgb(63, 172, 109);
}
