
 @font-face {
        font-family: 'PublicPixel';
        src: url('../public/memes/fonts/PublicPixel-z84yD.ttf') format('truetype');
}
    



body{
    text-align:center;
    background-image: url('BATTLE\ game\ \(5\).png');
    background-size:cover;
    background-position: center   ;
    background-repeat:no-repeat;
    display: block;
    background-color: rgb(21, 2, 41);

    
}


.clouds{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    overflow:hidden;
}


.cloud{
    position:absolute;
    
    width:200px;
    height:85px;
    animation-duration:15s;
    animation: cloudMove 20s linear infinite alternate;
}

.cloud:nth-child(1){
    top:20%;
    left:10%;
}

.cloud:nth-child(2){
    top:55%;
    left:50%;
}

.cloud:nth-child(3){
    top:25%;
    right:10%;
}

.hearts{
    position:absolute;
    width:auto;
    height:auto;
    animation: vertical-spin 4s linear infinite;
}

.hearts:nth-child(1){
    bottom:18%;
    left:15%;
}

.hearts:nth-child(2){
    bottom:18%;
    left:18%;
}

.hearts:nth-child(3){
    bottom:18%;
    left:21%;
}

.hearts:nth-child(4){
    bottom:18%;
    left:24%;
}

.sto{
    position:absolute;
    width:auto;
    height:auto;
    animation: vertical-spin 4s linear infinite;

}

.sto:nth-child(1){
    bottom:18%;
    right:15%;
}
.sto:nth-child(2){
    bottom:18%;
    right:18%;

}
.sto:nth-child(3){
    bottom:18%;
    right:21%;
}
.sto:nth-child(4){
    bottom:18%;
    right:24%;

}


@keyframes vertical-spin{
    0%{
        transform:rotateY(0deg);
    }
    100%{
        transform:rotateY(360deg);
    }
}


  
  @keyframes cloudMove {
    0% { 
        transform: translateX(100%);
    }
    100%{
        translate:translateX(-100%);
    }
 }

  
  



.arcade-gamer-title{
    font-family: 'PublicPixel', sans-serif;
    color:#ffff;
    font-size: 75px;
    animation: glitch 2s infinite;

}

@keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }







h2,h3{
    font-family:"Public Pixel",sans-serif;
}
.ghost{
    position:absolute;
    width:42px;
    height:42px;
    
    

}
.ghost:nth-child(1){
    bottom:29%;
    left:25%;
}

.ghost:nth-child(2){
    bottom:29%;
    right:25%;
}


#situation,#result{
    margin:20px;
    height:75px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgba(23, 210, 223, 0.914);
    text-size-adjust: 420px;
}
#player1,#player2{
    display:inline-block;
    margin:20px;
    color:rgb(184, 117, 18);


}
#meme-container1{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

   
    
}
.meme-container1 .meme-image{
    max-width: 55%;
    max-height: 55%;
}

#meme-container2{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

   
}
.meme-container2 .meme-image{
    max-width: 55%;
    max-height: 55%;

}
#generate-btn1, #generate-btn2, #battle-btn1, #battle-btn2{
    padding:8px 20px;
    border: none;
    border-left:4px solid #222;
    border-right: 4px solid #222;
    margin:24px 0;
    font-size:20px;
    color:blue;
    background:#ffff;
    cursor:pointer;
    transition: all 400ms ease ;
}

#generate-btn1:hover , #generate-btn2:hover{
    background-color: #45a049;
    padding: 8px 36px;
    letter-spacing: 3px;
}
#battle-btn1:hover, #battle-btn2:hover{
    background-color:maroon;
    padding: 8px 36px;
    letter-spacing: 3px; 
}

.game-footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  

/* Style for the modal container */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }
  
  /* Style for the modal content */
  #modal-content {
    background-color: #fff;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  /* Style for the close button */
  #close-modal-btn {
    margin-top: 10px;
  }
#show-results-btn{
    position:absolute center;
    bottom:55px ;
    padding:8px 20px;
    border: none;
    border-left:4px solid #222;
    border-right: 4px solid #222;
    margin:94px 90px;
    font-size:20px;
    color:blue;
    background:#ffff;
    cursor:pointer;
    transition: all 400ms ease ;
    display:flex;
    margin-bottom: 45px;
    text-align: center;
    margin:auto;
    

}
  
  
