* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

#piano {
    height: 380px;
    padding: 90px 30px 0 30px;
    background-color: #fc8989;
    border-radius: 10px;
}

.keys {
    position: relative;
}

.key.active{
    background-color: gray;
}

.whites {
    display: flex;

}

.white {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    width: 68px;
    height: 280px;
    border-radius: 0 0 5px 5px;
    border: 2px solid #000;
    background-color: white;
}

.blacks {
    position: relative;
    display: flex;
}

.black {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    width: 38px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    background-color: #000;
    color: white;
}

.black:nth-child(1) {
    left: 48px;
}

.black:nth-child(2) {
    left: 117px;
}

.black:nth-child(3) {
    left: 253px;
}

.black:nth-child(4) {
    left: 320px;
}

.black:nth-child(5) {
    left: 389px;
}

.black:nth-child(6) {
    left: 525px;
}

.black:nth-child(7) {
    left: 594px;
}

.black:nth-child(8) {
    left: 662px;
}

.black:nth-child(9) {
    left: 797px;

}

.black:nth-child(10) {
    left: 865px;
}

#reset{
    margin: 12px;
    background-color: aquamarine;
    border-radius: 20px;
    padding:20px

}
