     #container {
         width: 720px;
         height: 720px;
         border-style: solid;
         border-width: 10px;
         margin: 0 auto;
         position: relative;
     }
     canvas {
         background: url("../img/pitch3.png") center;
         float: left;
         z-index: 1;
     }
     #startScreen {
         z-index: 2;
         width: 720px;
         height: 720px;
         background-image: url('../img/splash.png');
         position: absolute;
         font-family: verdana;
         color: white;
     }
     #gameOverScreen {
         z-index: -1;
         width: 480px;
         height: 720px;
         background-image: url('../img/splash.png');
         position: absolute;
         font-family: verdana;
         color: white;
     }
     #score {
         background-image: url('../img/background.png');
         float: right;
         width: 240px;
         height: 690px;
         font-family: verdana;
         text-align: center;
         padding-top: 30px;
         z-index: 1;
     }
     #blue {
         color: #919191;
     }
     #red {
         color: #E03333;
     }
     #home,
     #away {
         font-size: 48px;
         font-weight: bold;
     }
     #timer {
         padding-bottom: 100px;
         font-size: 28px;
         font-weight: bold;
     }
     #credits {
         padding-top: 100px;
         font-size: 12px;
         font-weight: bold;
         position: fixed;
         height: 50px;
         bottom: 0px;
         left: 0px;
         right: 0px;
         margin-bottom: 50px;
         margin-left: 475px;
     }
     a {
         text-decoration: none;
         color: #01BBE4;
     }
     #title {
         font-size: 50px;
         font-weight: bold;
         font-family: verdana;
         color: white;
         text-align: center;
         padding-top: 100px;
     }
     #play {
         margin-left: 300px;
         margin-top: 100px;
         width: auto;
         margin-bottom: 100px;
         padding: 20px 35px;
         background: white;
         border: 0;
         font-size: 20px;
         color: #424242;
         font-weight: bold;
         font-family: verdana;
         border-radius: 4px;
         margin-bottom: 10px;
     }
     #playagain {
         margin-left: 140px;
         margin-top: 100px;
         width: auto;
         margin-bottom: 100px;
         padding: 20px 35px;
         background: white;
         border: 0;
         font-size: 20px;
         color: #424242;
         font-weight: bold;
         font-family: verdana;
         border-radius: 4px;
         margin-bottom: 10px;
     }
     #help {
         padding-left: 285px;
         opacity: 0.7;
     }
     #instructions {
         font-size: 12px;
         padding-left: 250px;
         text-align: center;
         opacity: 0.7;
     }
     #right {
         padding-left: 70px;
         font-size: 12px;
         text-align: center;
         opacity: 0.7;
     }
     #foot {
         margin-top: 160px;
         text-align: center;
         font-size: 10px;
         opacity: 0.5;
     }
     #status {
         margin-top: 100px;
         font-weight: bold;
         font-size: 20px;
     }