.header__info--level::before {
  content: "Survival";
  color: var(--secondary-color);
}

.result__data div p {
  margin: 1rem 0;
}

.main {
  position: relative;
}

.life {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  padding: 1rem;
}

.life__img {
  width: 60px;
  height: 60px;
}

.popup__blocker {
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100%;
  height: 100vh;
  min-width: 100vw;
  background-color: black;
}

.popup__blocker h1 {
  font-size: var(--site-title);
}

@media (max-width: 950px) {
  .result__data {
    margin-top: 0;
    align-items: center;
  }

  .life__img {
    width: 40px;
    height: 40px;
  }
}
