.container {
    width: 70%;
    margin: auto;   
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  }
  
  body {
    background-color: #393E46;
    overflow: hidden;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 7rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
  .btn {
    background: #4ECCA3;
    background-image: -webkit-linear-gradient(top, #4ECCA3, #4ECCA3);
    background-image: -moz-linear-gradient(top, #4ECCA3, #4ECCA3);
    background-image: -ms-linear-gradient(top, #4ECCA3, #4ECCA3);
    background-image: -o-linear-gradient(top, #4ECCA3, #4ECCA3);
    background-image: linear-gradient(to bottom, #4ECCA3, #4ECCA3);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    border: #232931;
    font-family: cursive;
    color: #ffffff;
    font-size: 27px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5% 10px; /* Adjusted for spacing */
  }
  
  .btn:hover {
    background: #00956F;
    color: #CAFBE7;
    background-image: -webkit-linear-gradient(top, #24B1A2, #24B1A2);
    background-image: -moz-linear-gradient(top, #24B1A2, #24B1A2);
    background-image: -ms-linear-gradient(top, #24B1A2, #24B1A2);
    background-image: -o-linear-gradient(top, #24B1A2, #24B1A2);
    background-image: linear-gradient(to bottom, #24B1A2, #24B1A2);
    text-decoration: none;
  }
  
