* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    max-width: 100%;
    max-height: 100%;
}