body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: bolder;
}
.b {
  background-color: #46a5ff;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1%;
  pointer-events: all;
  cursor: pointer;
  background: url(./w.jpg);
  border-radius: 6px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  background-size: contain;
  animation: w 4s linear 0s infinite alternate;
  box-shadow: 0 0 30px #fff;
}
* {
  user-select: none;
}
.b svg {
  mix-blend-mode: difference;
}
.b svg text {
  fill: #f9bd64;
  stroke: #c28c4a;
}
.b:hover {
  filter: brightness(1.2);
}
.l {
  pointer-events: none;
  filter: brightness(0.5);
}
.b.l {
  background-color: #4c4c4c;
}
.ui {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
}
.lvls,
.ui {
  z-index: 1;
  align-items: center;
}
.lvls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 60%;
  height: 45%;
  justify-items: center;
}
.t1 {
  fill: #fff;
  position: absolute;
  font-weight: 600;
  left: 30%;
  top: 70%;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  animation: s1 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s infinite;
  will-change: transform;
}
.t2 {
  left: 20%;
  top: 50%;
  animation: s2 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s infinite;
  transform: translate3d(-50%, -50%, 0) rotate(30deg);
}
.t3 {
  left: 75%;
  top: 20%;
  animation: s3 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s infinite;
  transform: translate3d(-50%, -50%, 0);
}
.bl {
  position: absolute;
  pointer-events: all;
  background-image: repeating-linear-gradient(
    45deg,
    red,
    red 30px,
    #ffeb3b 0,
    #f1ff00 60px
  );
  opacity: 0.1;
  transition: opacity 0.1s ease-in;
  cursor: help;
}
.bl:hover {
  opacity: 0.4;
}
.ed {
  font-size: 400px;
  position: absolute;
  top: 50%;
  mix-blend-mode: soft-light;
  color: #00eaf8;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ed.ls {
  color: #ff3b3b;
}
@keyframes w {
  0% {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}
@keyframes s1 {
  0% {
    margin-left: 0;
    margin-top: 0;
    opacity: 0.6;
  }
  to {
    margin-left: 50%;
    margin-top: -50%;
    opacity: 0;
  }
}
@keyframes s2 {
  0% {
    margin-left: 0;
    margin-top: 0;
    opacity: 0.6;
  }
  to {
    margin-left: 85%;
    margin-top: 50%;
    opacity: 0;
  }
}
@keyframes s3 {
  0% {
    margin-left: 0;
    opacity: 0.6;
  }
  30% {
    margin-left: 30%;
    opacity: 0;
  }
  31% {
    margin-left: -80%;
    opacity: 0.6;
  }
  to {
    margin-left: -50%;
    opacity: 0;
  }
}
