/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-size: calc(1vw + 1vh + 0.5vmin);
  }
  
  body {
    background: #475471;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    margin: 0px;
  }
  
  /* Container styles */
  .container {
    background-image: radial-gradient(
      ellipse at 50% 50%,
      rgba(0, 0, 0, 0.3) 5%,
      rgba(0, 0, 0, 0.7) 100%
    );
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  /* Scoreboard styles */
  .scoreboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .scoreboard div {
    display: inline-block;
    width: 49%;
  }
  
  /* Player styles */
  p.p1 {
    color: #6a99e4;
  }
  
  p.p2 {
    color: #f1595f;
  }
  
  .counter {
    position: relative;
    opacity: 0.8;
    font-size: 2em;
    letter-spacing: 0.25em;
    padding: 0.5em 0 0 1em;
    text-align: center;
    z-index: 15;
  }
  
  /* Gameboard styles */
  .gameboard,
  .canvasPlanet {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .gameboard {
    z-index: 10;
  }
  
  .canvasPlanet {
    z-index: 5;
  }
  
  .planet-one,
  .planet-two {
    filter: blur(0.05vmax);
    height: 10vmin;
    opacity: 0;
    width: 10vmin;
    z-index: 3;
  }
  
  .star {
    position: absolute;
    width: 1vmax;
    height: 1vmax;
    filter: blur(0.05vmax);
    left: 50%;
    top: 50%;
    z-index: 1;
  }
  
  /* Popup Box styles */
  .screen-overlay {
    background: linear-gradient(
      110deg,
      #0c4094 0%,
      #0c4094 50%,
      #a51419 50.1%,
      #a51419 100%
    );
    display: none;
    height: 100%;
    left: 0%;
    opacity: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 9000;
  }
  
  .player-one {
    height: 80vh;
    left: -20%;
    position: absolute;
    top: 0%;
    transform: rotate(200deg);
    width: 80vw;
    z-index: 9200;
  }
  
  .player-two {
    height: 80vh;
    left: 40%;
    position: absolute;
    top: 20%;
    transform: rotate(20deg);
    width: 80vw;
    z-index: 9200;
  }
  
  .popup-box {
    display: none;
    height: 100%;
    opacity: 1;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 9500;
  }
  
  .vs {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 0 0 0 0.2em;
  }
  .rs {
    font-size: 2.75em;
    color: rgb(255, 145, 0);
    letter-spacing: 0.1em;
    padding: 200 0 0 470;
  }
  
  .toggle {
    width: 10em;
    z-index: 9999;
  }
  
  .options {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 9999;
  }
  
  .options button {
    position: relative;
  }
  
  .options-lower {
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  
  .option-blue {
    background: #1560d6;
  }
  
  .option-red {
    background: #ed1c24;
  }
  
  .start-button {
    background: #22b857;
    margin-top: 1em;
    z-index: 9999;
  }
  
  .popup-results {
    display: none;
    left: 50%;
    opacity: 1;
    overflow: auto;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 9999;
  }
  
  .popup-text {
    color: white;
    font-size: 1.2em;
    text-align: center;
  }
  
  .popup-text p {
    padding: 18px;
  }
  
  .popup-text h3 {
    font-size: 2em;
    line-height: 1.2;
    padding: 0.5em;
    text-shadow: 2px 2px 2px #333;
  }
  
  .hidden-assets {
    display: none;
  }
  
  button {
    background: #f7931e;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 15px 10px;
    outline: none;
    padding: 15px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    top: 10px;
    z-index: 9999;
  }
  
  button:hover {
    border-color: rgba(0, 0, 0, 0.2);
  }
  
  button:active {
    transform: translateY(1px);
  }
  
  .crash {
    display: inline-block;
    transform-origin: 50% 50%;
    opacity: 0;
    position: absolute;
    z-index: 15;
  }
  
  .explode {
    animation-name: boom;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease;
    transform-origin: 50% 50%;
    z-index: 50;
  }
  
  @keyframes boom {
    0% {
      transform: scale(0.01);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(10);
    }
  }
  