* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-shadow: none;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

body {
  display: flex;
  align-items: center;
  background-image: url(bglove.jpg);
  padding-top: 50px ;
  overflow: hidden;
 

}

main {
    max-width: 500px;
    margin: auto;
    background-color: transparent;
    
    
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: aliceblue;
    text-align: center;
    line-height: 1.5;
}

p {
    font-family: 'Tangerine', cursive;
    font-size: 2.5rem;
    color:aliceblue;
    
}
  .button {
    cursor: pointer;
   
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #000a47;
    line-height: 1.15;
    font-size: 16px;
   

  }

  .love_calculator{
    
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 60vw;
    background-color: transparent;
}
.content{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.content img{
    width: 80px;
    margin-left: 170px;
}
.content h1{
    text-transform: uppercase;
    text-align: center;
    color: #d7385c;
}
.inputarea{
    display: flex;
}
.inputarea input{
    width: 200px;
    height: 30px;
    text-align: center;
    color: aliceblue;
    margin: 5px;
    outline: none;
    border: 2px solid #d7385c;
    padding: 20px 40px;
    font-size: 20px;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #d7385c;
    padding: 10px;
    margin: 0px 6px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
#print{
    display: flex;
    justify-content: center;
    background-color: #d7385c;
    margin: 20px;
    padding: 20px 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
#statement{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
}
