body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    letter-spacing: 0.05rem;
    font-family: cursive;
}

h1 {
    text-decoration: underline;
}

.game-container {
    text-align: center;
}

.level-container {
    display: block;
}

.hide {
    display: none;
}

#dragon-tower {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    margin: 5px 0;
}

.tile {
    width: 4rem;
    height: 2rem;
    /* background-color: #34495e; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 0.1px solid #ecf0f1;
}

/* Style for the starting and ending tiles */
.tile.starting,
.tile.ending {
    width: 12.3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    /* background-color: lightgreen; */
    background-color: #f1c40f;
    border: 0.1rem solid darkgreen;
    font-size: 18px;
    font-weight: bold;
}

.hidden {
    background-color: #0080ff;
}

/* .revealed {
    background-color: #fff200;
} */
.tile.revealed.egg {
    background-color: #27ae60;
}

.tile.revealed.bomb {
    background-color: #e74c3c;
}

.tile.collected {
    background-color: #27ae60;
}

.tile.exploded {
    background-color: #e74c3c;
}


/* css for result message */

#message {
    color: red;
    font-size: 2.5rem;

}


/* css for buttons */
#home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: 0.1rem solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

#home-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

#home-button.saw {
    display: block;
}

.start-btn {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-top: 1.1rem;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: 0.1rem solid white;
    border-radius: 5px;
    cursor: pointer;
}

.start-btn:hover {
    transform: scale(1.05);
}

.score-con {
    display: none;
}

.score-con.saw {
    display: block;
    background-color: #4CAF50;
    color: white;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 2%;
}

.level-container {
    background-color: rgb(169, 192, 39);
    padding: 1rem;
    border-radius: 1rem;
}
