* {
  margin: 0;
  padding: 0;
}

#background {
  background-color: steelblue;
  position: absolute;
  width: 100%;
  height: 100%;
}

#game_canvas {
background-color: #333;
text-align: center;
position: absolute;
margin: auto;
display: inline-block;
left: 200px;
top: 70px;
}