@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: antiquewhite;
  }
  .info{
    position: absolute;
    top: 20%;
    left: 0;
  }
  .header{
    background: linear-gradient( 80deg,red,blue);
    width: 100vw;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    
  }
  .home-icon{
    position: relative;
    top: 2.27rem;
  }
  h1 {
    
    background-color: #081b31;
    color: #fff;
    align-content: center;
    height: 7rem;
    line-height: 5rem;
    margin: 0 auto;
  }

  
  .choice {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
  }

.p{
    font-size: 3rem;
    margin: 2rem;
}

  .score-board {
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem; 
  }
  
  #user-score,
  #comp-score {
    font-size: 3rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
  .reset{
    position: relative;
    right: 25rem;
    top: 11.7rem;
    border: 2px solid black;
    background: transparent;
    border-radius: 6px;
    height: 50px;
    width: 85px;
    font-size: 1rem;
    cursor: pointer;
  }
  .reset:hover{
    background-color: black;
    color: white;
  }