*{
    margin: 0;
    padding: 0;
}
#game{
    height: 500px;
    width: 390px;
    border: 1px solid black;
    margin: 1rem auto;
    background:url(img/bg.jpg) ;
    background-size: contain;
    overflow: hidden;
}
#bluecar{
    height: 100px;
    width: 130px;
    background-color: black;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    animation: move 1s linear  infinite  ;

}
#bluecar img{
    height: 100px;
}
@keyframes move {
    0%{
        top: 0px;
    }
    100%{
        top: 501px;
    }
    
}
#racecar{
    height: 100px;
    width: 130px;
    background-color: red;
    position: relative;
    top: 250px;
    left: 130px;
    text-align: center;
}
#racecar img{
    height: 100px;
}

#result{
    height: 200px;
    width: 400px;
    background-color: cornflowerblue;
    margin:  1rem auto;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    display:none ;
}
#score{
    font-size: 2.2rem;
    color: brown;
}
#btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: cyan;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}