body {
	font-size: 36px;
	text-shadow: 0 -2px 2px #050;
}

#score,
#board {
	width: 620px;
}

#logo {
	width: 68px;
	height: 68px;
	margin: 10px 10px 0 0;
	border: 4px solid #fff;
	border-radius: 10px;
	box-shadow: 0 -2px 2px #060;
}

#logo.sound {
	box-shadow: 0 0 6px #fff;
}

#logo span {
	width: 14px;
	height: 14px;
	margin: 6px 0 0 6px;
	border-radius: 6px;
	box-shadow: 0 -2px 2px #060;
}

#logo span.d1 {
	margin-right: 22px;
}

#logo span.d2 {
	margin-right: 22px;
	margin-left: 28px;
}

#logo span.d3 {
	margin-left: 28px;
}

#head {
	height: 110px;
	line-height: 100px;
}

#head a {
	margin: 10px 0;
	width: 120px;
}

#popup {
	margin: 150px -300px;
	width: 600px;
	text-shadow: 0 -2px 2px #000;
	box-shadow: 0 0 100px #000;
	border-radius: 4px;
}

#popup.hide {
	margin-top: -800px;
}

#popup p {
	margin: 20px;
}

.arrow {
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #fff;
	margin: 0 32px;
}

.down {
	border-top: 16px solid #ddd;
	border-bottom: none;
}

.help {
	padding: 14px 20px;
	box-shadow: 0 2px 10px #000;
	border-radius: 10px;
}

#help1,
#help2,
#help3 {
	width: 500px;
}

#help1 {
	margin: 100px 0 0 100px;
}

#help2 {
	margin: 740px 0 0 10px;
}

#help3 {
	margin: 40px 0 0 120px;
}

#help1.hide,
#help2.hide,
#help3.hide  {
	margin-top: -400px;
}

a.button {
	line-height: 68px;
	border: 4px solid #fff;
	box-shadow: 0 -2px 2px #060;
	border-radius: 10px;
}

a.button:hover {
	box-shadow: 0 0 4px #fff;
}

a.disabled {
	border: 4px solid #6c6;
}

a.disabled:hover {
	box-shadow: none;
}

dl {
	width: 420px;
	line-height: 48px;
}

dt {
	padding: 4px 10px 0 10px;
}

dt:first-child {
	height: 60px;
	border-bottom: 2px solid #060;
}

dt:last-child {
	height: 48px;
	border-top: 2px solid #6c6;
}

dd {
	padding: 0 10px;
	height: 48px;
	border-top: 2px solid #6c6;
	border-bottom: 2px solid #060;
}

dd.set:hover {
	text-shadow: 0 0 6px #fff;
}

#player,
#computer {
	width: 100px;
}

#player dt span,
#computer dt span {
	border: 4px solid #fff;
	margin: 2px auto;
	box-shadow: 0 -2px 2px #050;
}

#player dt span:first-child {
	border-radius: 20px;
}

#player dt span:last-child {
	border-radius: 20px 20px 0 0;
}

#computer dt span:first-child {
	border-radius: 10px;
}

.dice {
	width: 100px;
	height: 100px;
}

.x0 { margin-left: 10px; }
.x1 { margin-left: 100px; }
.x2 { margin-left: 200px; }
.x3 { margin-left: 300px; }
.x4 { margin-left: 400px; }
.y0 { margin-top: 210px; }
.y1 { margin-top: 310px; }
.y2 { margin-top: 410px; }
.y3 { margin-top: 510px; }
.y4 { margin-top: 610px; }
.h0 { margin: 80px 0 0 100px; }
.h1 { margin: 80px 0 0 200px; }
.h2 { margin: 80px 0 0 300px; }
.h3 { margin: 80px 0 0 400px; }
.h4 { margin: 80px 0 0 500px; }
.hold { margin: -100px 0 0 300px; }
