@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  color: #000;
  margin: 50px;
  font-size: 50px;
  font-weight: 500;
}

img.logo {
  height: 100px;
}

nav.main-navigation {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

nav.main-navigation ul li {
  display: inline-block;
  padding: 5px;
  border-radius: 13px;
  margin: 10px 12px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}

nav.main-navigation ul li:hover {
  background-color: #36454F;
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img.image {
  margin: 30px;
  max-width: 100%;
  height: auto;
  animation: zoom-in 4s linear infinite;
}

h1 {
  text-align: center;
  font-size: 55px;
}

@keyframes zoom-in {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.button {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button a {
  color: white;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #FFA12B;
  display: block;
  position: relative;
  padding: 10px 30px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #F78900;

  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.out {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.instructions-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  line-height: 1;
  color: #c92323;
}

.instructions-box ul {
  text-align: justify;
}

.instructions-box p {
  font-size: 18px;
}

.obj {
  padding-top: 5px;
  text-align: justify;
}