body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(45deg, #ff6b6b, #ffd93b, #1e90ff);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: drop-shadow(0 3.5px #54527b9f);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  animation: gradient 5s ease infinite;
}

.move-icon {
  height: 50px;
}

.move-btn {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.move-btn:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-btn {
  margin-top: 50px;
  border: none;
  background-color: white;
  font-size: 15px;
  padding: 12px 25px;
  border-radius: 50px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.reset-score-btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 10px 20px 5px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.wins {
  width: 100px;
  height: 38px;
  padding: 16px 0 0 0;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Box shadow */
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 255, 0, 0.3), 0 1px 3px rgba(0, 255, 0, 0.3); /* Green shadow for wins */
}

.losses {
  width: 100px;
  height: 38px;
  padding: 16px 0 0 0;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Box shadow */
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.3), 0 1px 3px rgba(255, 0, 0, 0.3); /* Red shadow for losses */
}

.ties {
  width: 100px;
  height: 38px;
  padding: 16px 0 0 0;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Box shadow */
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.3), 0 1px 3px rgba(0, 0, 255, 0.3); /* Blue shadow for ties */
}
