body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	margin: 0;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	background-color: #4d394b;
}
.sudoku-container {
	border: 4px solid #1f171f;
	margin: 0 auto;
	position: relative;
	padding: 0 2px;
}
.sudoku-container::before, .sudoku-container::after {
	position: absolute;
	border-style: solid;
	pointer-events: none;
	content: "";
}
.sudoku-container::before {
	width: 156px;
	border-width: 0 4px;
	border-color: transparent #1f171f transparent #1f171f;
	top: 4px;
	left: 160px;
	bottom: 4px;
}
.sudoku-container::after {
	height: 156px;
	border-width: 4px 0;
	border-color: #1f171f transparent #1f171f transparent;
	left: 4px;
	top: 160px;
	right: 4px;
}
tr:nth-child(1) td:nth-child(3) input, tr:nth-child(1) td:nth-child(6) input {
	margin: 0 10px 0 0;
}
tr:nth-child(3) input, tr:nth-child(6) input {
	margin: 0 0 10px 0;
}
.sudoku-container input {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	padding: 0;
	border: 3px #2e222d solid;
	background-color: #2e222d;
	color: #eee;
}
.sudoku-container input:focus {
	border-color: #4c9689;
}
.sudoku-container input.highlight {
	background-color: #29b6f6;
	border-color: #29b6f6;
}
.sudoku-container input.disabled {
	cursor: not-allowed;
	background-color: #4c9689;
	border-color: #4c9689;
	margin: 2px;
}
.sudoku-container input.disabled.highlight {
	background-color: #29b6f6;
	border-color: #29b6f6;
}
.sudoku-container .invalid {
	border-color: #e74c3c;
}
.sudoku-container .invalid:focus {
	border-color: #e74c3c;
}
.sudoku-container.valid-matrix {
	border-color: #4c9689;
}
#controls {
	margin: 20px 0;
}
.btn.primary {
	background-color: #4c9689;
	box-shadow: inset 0 -3px #3b746a;
}
