body {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #F8EDE3;
    overflow: hidden;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 50pt;
    color: #7D6E83;
}

#board {
    background-image: url("./assets/doodlejumpbg.png");
    width: 400px;
    height: 600px;
    color: #537188;
    margin-top: 5rem;
    padding: 2px;
    border: 5px dotted #7D6E83;
}