/* fira-sans-condensed-900italic - latin */
@font-face {
    font-family: "Fira Sans Condensed";
    font-style: italic;
    font-weight: 900;
    src: local("Fira Sans Condensed Black Italic"),
        local("FiraSansCondensed-BlackItalic"),
        url("../fonts/fira-sans-condensed-v4-latin-900italic.woff2")
            format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/fira-sans-condensed-v4-latin-900italic.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body,
#app {
    height: 100%;
}

body {
    overflow: hidden;
    background: var(--black);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2313243d' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--white);
    z-index: var(--base-layer);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
}

p {
    text-align: left;
    line-height: 1.4em;
    color: var(--white);
}

a {
    color: var(--red);
}

a:hover,
a:active,
a:focus {
    color: var(--red-light);
}

a:visited {
    color: var(--red-darker);
}
