.button {
    padding: 12px 18px;
    margin: 6px;
    color: var(--white) !important;
    background: var(--red);
    border-radius: 6px;
    font-size: 1.1em;
    border: none;
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    border-bottom: 5px solid var(--red-darkest);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
}

.button:hover,
.button:active,
.button:focus {
    background: var(--red-dark);
    cursor: pointer;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--outline-color);
}

.button:active {
    transform: scale(0.95, 0.95);
}

.button-secondary {
    color: var(--black) !important;
    background: var(--white);
    border-bottom-color: var(--white-300);
}

.button-secondary:hover,
.button-secondary:active,
.button-secondary:focus {
    background: var(--white-100);
    border-bottom-color: var(--white-400);
    color: var(--black) !important;
}

@media screen and (max-width: 680px) {
    .button {
        padding: 10px 12px;
        font-size: 1em;
    }
}
