:root {
    /* colors */
    --red: #e63946;
    --red-light: #eb616b;
    --red-dark: #ca323e;
    --red-darker: #b82e38;
    --red-darkest: #a12831;
    --black: #1d3557;
    --lightblue: #457b9d;
    --lightblue-dark: #345c76;
    --cyan: #a8dadc;
    --cyan-dark: #7ea4a5;
    --white: #ffffff;
    --white-050: #f8fafc;
    --white-100: #f1f5f9;
    --white-200: #e2e8f0;
    --white-300: #cbd5e1;
    --white-400: #94a3b8;
    --white-500: #64748b;
    --white-600: #475569;
    --white-700: #334155;
    --white-800: #1E293B;
    --white-900: #0F172A;
    --outline-color: rgba(69, 123, 157, 0.4); /* lightblue, with 0.4 opacity */

    /* z-index layers */
    --base-layer: 1;
    --card-selected-layer: 10;
    --popover-layer: 20;
    --modal-layer: 30;
    --notification-layer: 40;
    --flash-layer: 50;
    --menu-icon-layer: 60;
}
