body {
    font-family:chess;
    margin: 0;
    background-color:#000;
}

.square {
    background:#afa;
    display:inline-block;
    border:1px solid #fff;
    text-align:center;
    position: absolute;
    cursor: pointer;
}

#buymeacoffee {
    z-index: 10000;
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    text-align: center;
}

#buymeacoffee img {
    box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}