body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8a5bcc;
  }

  .title{
    height: fit-content;
    justify-content: center;
    margin-left: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
  }
  
  #puzzle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 500px;
    height: 500px;
    /* border: 2px solid #ccc; */
    padding: 10px;
    background-color: #8a5bcc;
    position: relative;
  }
  
  .puzzle-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a5bcc;
    /* font-size: 24px; */
    font-weight: bold;
  }
  
  #shuffle-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .button{
    margin: 2rem;
  }

  .button1, .button2{
    margin-left: 0%;
    background: inherit;
    font-size: 7rem;
    border: none;
    padding: 2rem;
  }
  