@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Bagel+Fat+One:regular);
*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

}

html{
    background-color: #131313;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "Montserrat";
}

h1{
    color: rgb(253, 253, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    font-size: 7.5rem;
    font-family: 'Bagel Fat One', cursive;
    ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.joke{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border: 5px double rgb(253,253,2);
    color: aliceblue;
    height: 60vh;
    width: 60vw;
    padding-left: .75vw;
    font-size: 2rem;

}

.buttons{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5dvh,0;
    gap: 20px;

}
.buttons button {
    background: #fdfd16;
    background-image: -webkit-linear-gradient(top, #fdfd16, #2980b9);
    background-image: -moz-linear-gradient(top, #fdfd16, #2980b9);
    background-image: -ms-linear-gradient(top, #fdfd16, #2980b9);
    background-image: -o-linear-gradient(top, #fdfd16, #2980b9);
    background-image: linear-gradient(to bottom, #fdfd16, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Georgia;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #fdfd8c 2px;
    text-decoration: none;
  }
  
.buttons button:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

.buttons button{
    width: 15vw;
}

@media screen and (max-width: 769px) {
    h1{
        font-size: 6rem
    }
    .joke{
        width: 80vw;
    }
    .buttons button{
        width: 25vw;
    }
}

@media screen and (max-width: 430px) {
    h1{
        font-size: 4rem
    }
    .joke{
        width: 90vw;
    }
    .buttons button{
        width: 35vw;
    }
}

@media screen and (max-width: 375px) {
    h1{
        font-size: 4rem
    }
    .joke{
        width: 100vw;
    }
    .buttons button{
        width: 40vw;
    }
}