Options -Indexes
<FilesMatch ".*\.(ico|png|jpe?g|gif|bmp|svg|mov|mp4|webp|webm|mp3|wav|ogg|woff|woff2|js|css)$">
  ExpiresActive On
  ExpiresDefault "access plus 1 year"
</FilesMatch>

# allow cache-busting params for unique URLs that still hit the original asset on disk.
# e.g., image.png.v2 -> image.png
RewriteRule (.*)\.(.*)\.[vV]\d+$ $1.$2 [L]

# UTF-8, please.
AddCharset utf-8 .html .css .php .txt .js

# Allow CORS on certain stuff, armor-alley.net -> play.armor-alley.net
# This applies only if you are the owner of said domains. ;)
<FilesMatch "\.(json|woff|woff2)$">
    Header set Access-Control-Allow-Origin "https://armor-alley.net"
</FilesMatch>