* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(to right,#caf0f8, #48cae4, #0096c7, #0077b6); */
    background: linear-gradient(to right,#00296b, #b8c0ff, #c8b6ff, #b70ab7);
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 50px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    font-family: 'Roboto Mono', monospace;
}

.quiz{
    padding: 20px;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: cyan;
}

.btn:hover:not([disabled]){
    background: rgb(253, 164, 255);
    color: #fff;
    box-shadow: 0 0 50px 25px #fdc5f5;
}
.btn:disabled {
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;;
}
.incorrect{
    background: #ff9393;
}