body {
  text-align: center;
  background-color: #a06060;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: cursive;
  text-shadow: 3px 0 #DA0463;

}

.w {
  background-image: url("assets/tom1.png");
}

.a {
  background-image: url("assets/tom2.png");
}

.s {
  background-image: url("assets/tom3.png");
}

.d {
  background-image: url("assets/tom4.png");
}

.j {
  background-image: url("assets/snare.png");
}

.k {
  background-image: url("assets/crash.png");
}

.l {
  background-image: url("assets/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
