*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #252423;
    color: #FF4B4B;
    font-family: 'Segoe UI';
    overflow: hidden;
}

.ball{
    height: 50px;
    width: 50px;
    background-color: #FF4B4B;
    position: absolute;
    bottom: 100px;
    left:50px;
}


.obstacle{
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #4b99ff;
    bottom: 100px;
    right: -100px;
}

.platform{
    height: 100px;
    width: 100%;
    background-color: #4a454d;
    position:absolute;
    bottom: 0;
    text-align: center;
}

.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 20px;
    width: 50px;
    background-color: #FF4B4B;
    border: none;
    color: aliceblue;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
}

.play{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    background-color: #FF4B4B;
    border: none;
    color: aliceblue;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
}

.pause{
    display: none;
}

.gameover{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%);
    background-color: #FF4B4B;
    font-size: 5vw;
    width: 40vw;
    padding: 10px;
    color: aliceblue;
    text-align: center;
}

.points{
    position: absolute;
    top:20px;
    right:20px;
    width: 20px;
    border: 1px #FF4B4B solid;
    padding: 10px 20px;
}