@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#canvas {
background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRub7PxbBdD386FMsbijx8w0UIEdvVlO-9QPkjXU_tFFnEfmjM6AkSnNPWvrMkE8Bl6vcE&usqp=CAU");
background-repeat: no-repeat;
background-size: cover; 
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 10px;
}

#fire_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  /*Button Color*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 18px;
}

#fire_btn:active {
  /*on Click*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*Move down*/
  border-bottom: none;
  /*disappears*/
}

#Knifes_rem, #my_footer, #Level, #tagger {
  font-weight: bold;
  color: black;
  font-size: 24px;
}

.box {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
