body {
    margin: 0;
    padding: 0;
    background-image: url('../img/pattern.png');
    background-color: #333;
    text-align: center;
    color: #F1F1F1;
    font-family: helvetica, arial, verdana, sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 10px #19FF6A;
}

#info {
    width: 800px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
}

.sx {
    float: left;
    margin: 15px 0;
    font-size: 22px;
    text-shadow: 2px 2px 3px #FF3BDC;
}

.dx {
    float: right;
    margin: 15px 0;
    font-size: 22px;
    text-shadow: 2px 2px 3px #36EAFF;
}

#bottomInfo {
    margin: 15px 0;
    font-size: 22px;
    text-shadow: 2px 2px 3px #36EAFF;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 30px #19FF6A;
    border: 1px solid #111111;
}