* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #283149;
}

h1 {
    font-size: 2rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 7px -2px #102b8f;
}

footer {
    color: #283149;
}

footer:hover {
    color: #9bc510;
    font-family: sans-serif;
}

.w {
    background-image: url("images/tom1.png");
}

.a {
    background-image: url("images/tom2.png");
}

.s {
    background-image: url("images/tom3.png");
}

.d {
    background-image: url("images/tom4.png");
}

.j {
    background-image: url("images/crash.png");
}

.k {
    background-image: url("images/kick.png");
}

.l {
    background-image: url("images/snare.png");
}

.a .d .j .k .l .s .w :hover {
    font-size: larger;
    color: deepskyblue;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 3px 4px 0 #09befa;
    opacity: 0.5;
}

.red {
    color: red;
}

.drum {
    outline: none;
    border: 10px solid #223569;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 4%;
    background-color: white;
}

@media screen and (max-width:500px) {
    .drum {
        margin: 7%;
    }
}