body {
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-color: #ffffff;
  background-image: linear-gradient(
    6deg,
    #ffffff 0%,
    #6284ff 50%,
    #ff0000 100%
  );
}
