body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}


#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}


#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}


#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}


#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 403px;
    height: 403px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}


#pieces {
    width: 1048px;
    height: 160px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}