/* *{
  border: 1px solid red;
} */



body {
  font-family: "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px;
  background-color: green;
  color: white;
  border: 5px solid gold;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: red;
}

a:hover {
  color: gold;
}

button {
  height: 30px;
  width: 100px;
  border-radius: 10%;
  background-color: ivory;
  border-color: ivory;
  border-style: outset;
  border-width: 5px;
}

button:active {
  border-style: inset;
}

button:focus {
  outline: none;
}

ul {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.center {
  /* display: block; */
  text-align: center;
}

.tracker {
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  margin: 5px;
  border: 5px ridge black;
  /* justify-content: space-around; */
}

.card {
  width: 100px;
  /* height: 200px; */
  border: 1px solid black;
  justify-content: space-around;
}

.card:hover {
  position: relative;
  top: -10px;
}

.title {
  margin-top: 40%;
}

#cardContainer {
  /* display: flex; */
  flex-wrap: nowrap;
  border: 3px solid gold;
  border-bottom: 0px;
}

#opponentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 25%;
  padding-right: 25%;
}
