body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* overflow: hidden; */
    min-height: 110vh;
    background-image: linear-gradient(to right top, #d5bc3d, #ff9539, #ff6364, #ff37a4, #da4ced);
}

#opponent-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#your-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#choice {
    width: 240px;
    height: 80px;
    margin-top: 10px;
    margin: 0 auto;
}

#choice img {
    width: 80px;
    height: 80px;
}

.game {
    display: flex;
    flex-direction: row;
}

#opponent {
    width: 200px;
    height: 50px;
    position: relative;
    top: 119px;
    left: 375px;
    color:aliceblue;
    font-size: 22px;
}

#you {
    width: 200px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 615px;
    color:aliceblue;
    font-size: 22px;
}

#opponent-score{
    position: relative;
    top: 10px;
    color:aliceblue;
    margin-bottom: -42px;
}

#your-score{
    color: aliceblue;
}