*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#ground{
    width: 100%;
    height: 100px;
    background-color: green;
    position: absolute;
    bottom:0;
}
#character{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    right: calc(100%-100px);
}
.stopandresume{
    width: 100px;
    font-weight: bold;
    font-size: large;
    font: sans-serif;
    margin-top:20px ;
    margin-left: 20px;
}
.obstacle{
    width: 30px;
    height: 100px;
    position: absolute;
    background-color: black;
    bottom: 100px;
    right: 0;
}

h2{
    
    font-family: sans-serif;
    margin-top:10px ;
    margin-left: 10px;
}
