body {
  text-align: center;
  background-color: #011f3f;
}

#highest {
  color: #fef2bf;
  margin-right:320px;
  padding: 0px;
  margin-bottom: 0px;
}
#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  margin-right:500px;
  margin-left: 230px;
  color: #fef2bf;
  margin-top: 0px;
  margin-bottom:5px;
}
#play-button {
  font-family: "Press Start 2P", cursive;
  font-size: 5rem;
  color: #fef2bf;
  margin-right: 360px;
  margin-top:0px;
}

#play-button > i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s ease;
  color: #e90064;
  filter: drop-shadow(2px 2px 1px black);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 30px;
  margin-left: 50px;
}
.asdf{
  display:flex;
}
.asdf .load{
display:inline-block;
align-items: left;
}
.instructions-section {
  background-color: #fef2bf;
  font-size: medium;
  font-weight: bold;
  flex: 1;
  padding: 8px;
  margin: 5px;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  #highest{
    margin:0%;
  }
  #level-title{
    margin:1px;
  }
  .game-section,
  .instructions-section {
    width: 100%;
    margin-left:6px;
    /* margin: 10px auto; */
  }
}

.btn {
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 5px solid black;
  border-radius: 10%;
  margin: 5px;
}

.game-over {
  background-color: #d61c4e;
  opacity: 0.8;
}

.red {
  background-color: #e90064;
}

.green {
  background-color: #379237;
}

.blue {
  background-color: #7149c6;
}

.yellow {
  background-color: #ffea20;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen and (max-width: 1024px) {
  /* styles for tablet */
  .container {
    width: 80%;
  }
  .btn {
    height: 150px;
    width: 150px;
  }
  #highest{
    margin:0%;
  }
  #level-title,
  #play-button {
    font-size: 5rem;
    margin:0%;
  }
}

@media only screen and (max-width: 563px) and (min-width: 480px) {
  /* styles for phone */
  .container {
    width: 90%;
  }
  .btn {
    height: 100px;
    width: 100px;
  }
  #highest{
    margin:0%;
  }
  #level-title,
  #play-button {
    font-size: 3.5rem;
    margin:0%;
  }
}

@media only screen and (max-width: 480px) {
  /* styles for phone */
  .container {
    width: 90%;
  }
  .btn {
    height: 100px;
    width: 100px;
  }
  #highest{
    margin:0%;
  }
  #level-title,
  #play-button {
    font-size: 3.5rem;
    margin:0%;
  }
}


