/* body {
    margin: 0;
    overflow: hidden;
  } */

  @media only screen and (min-width: 600px) {
  canvas{
    margin: auto;
  }
h1,h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(243, 63, 63);
}
#dd{
    color: rgb(245, 53, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    padding: 0px 260px;
}
input{
    accent-color: rgb(240, 61, 91);
}


button{
    display: block;
    margin: auto;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgb(235, 1, 40);
    background-color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover{
    background-color: rgb(236, 36, 36);
    color: white;
}
  }

  @media only screen and (max-width: 600px) {
    canvas{
        margin: auto;
      }
    h1,h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: rgb(243, 63, 63);
    }
    #dd{
        color: rgb(245, 53, 53);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        padding: 0px;
    }
    input{
        accent-color: rgb(240, 61, 91);
    }
    
    
    button{
        display: block;
        margin: auto;
        margin-bottom: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 2px solid rgb(235, 1, 40);
        background-color: white;
        cursor: pointer;
        transition-duration: 0.5s;
    }
    
    button:hover{
        background-color: rgb(236, 36, 36);
        color: white;
    }
  }
