*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.js_timer{
    text-align: center;
}

#timer{
    font-weight: bolder;
    font-size: x-large;
    background: white;
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    width: 100px;
    height: 30px;
    position: relative;
    top: 40px;
    left: 45.5%;
}

.container{
    position: relative;
    height: 100vh;
}
.startBtn{
    width: 140px;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: darkgoldenrod;
    color: darkred;
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 3px;
    position: relative;
    top: 30px;
    left: 600px;
    cursor: none;
}

.startBtn:hover{
    background-color: darkred;
    color: darkgoldenrod;
}
.balloon{
    width: 100px;
    height: auto;

}
img::selection{
    background: transparent;
}
.burst{
    width: 50px;
    height: auto;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.cursor{
    position: absolute;
    height: 70px;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 2;
    transition: 0.3s transform ease;
    transform-origin: 100% 100%;
}
