body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url("../../assets/images/Emoji_Charades.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: #e57c23;
  margin-top: 20px;
}

#emoji-container {
  font-size: 72px;
  margin: 50px 0;
}

#guess-input {
  padding: 12px;
  font-size: 16px;
  width: 300px;
  margin: 10px;
}

.score{
  color: #025464;
}

#submit-btn {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #bebb0a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-btn:hover {
  background-color: #fffb09;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 21px;
  color: #e8aa42;
}

#score {
  color: #e8aa42;
  font-weight: bold;
  font-size: 24px;
}
