body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}
body canvas {
  height: 100%;
  width: 100%;
  object-fit: cover;
}